<div class="blog{% unless article.image %} blog--no-image{% endunless %}{% unless show_date %} blog--no-date{% endunless %}">
    {% if article.image %}
        <div class="blog__media-wrapper">
            <a href="{{ article.url }}" class="home-blog__link blog-link">
                <div class="blog__media">
                    {% if crop %}
                        <img class="home-blog__media-img blog__img lazyloaded lazy2 js" alt="{{ article.title }}"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                            data-sizes="auto"
                            data-src="{{ article.image | img_url: '900x500', crop: 'center' }}"
                            data-srcset="{{ article.image | img_url: '360x200', crop: 'center' }} 360w,
                            {{ article.image | img_url: '540x300', crop: 'center' }} 540w,
                            {{ article.image | img_url: '720x400', crop: 'center' }} 720w,
                            {{ article.image | img_url: '900x500', crop: 'center' }} 900w,
                            {{ article.image | img_url: '1080x600', crop: 'center' }} 1080w,
                            {{ article.image | img_url: '1296x720', crop: 'center' }} 1296w">
                        <noscript>
                            <img class="home-blog__media-img blog__img"
                                src="{{ article.image | img_url: '900x500', crop: 'center' }}">
                        </noscript>
                    {% else %}
                        <img class="home-blog__media-img blog__img lazyloaded lazy2 js" alt="{{ article.title }}"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                            data-sizes="auto"
                            data-src="{{ article.image | img_url: '900x' }}"
                            data-srcset="{{ article.image | img_url: '360x' }} 360w,
                            {{ article.image | img_url: '540x' }} 540w,
                            {{ article.image | img_url: '720x' }} 720w,
                            {{ article.image | img_url: '900x' }} 900w,
                            {{ article.image | img_url: '1080x' }} 1080w,
                            {{ article.image | img_url: '1296x' }} 1296w">
                        <noscript>
                            <img class="home-blog__media-img blog__img"
                                src="{{ article.image | img_url: '900x' }}">
                        </noscript>
                    {% endif %}
                </div>
            </a>
        </div>
    {% endif %}
    <div class="blog__details">
        {% if show_date %}
            <div class="blog__date label label--brand">
                <p class="blog__date-text label__text">{{ article.published_at | time_tag: '%d %b' }}</p>
            </div>
        {% endif %}
        <a href="{{ article.url }}" class="home-blog__link blog-link">
            <h3 class="blog__title h4">{{ article.title }}</h3>
        </a>
        {% if show_author %}
            <div class="blog__author">
                <p class="blog__author__text">{{ article.author }}</p>
            </div>
        {% endif %}
        <div class="blog__text rte">
            {% if article.excerpt.size > 0 %}
                {{ article.excerpt | strip_html | truncate: 120 }}
            {% else %}
                {{ article.content | strip_html | truncate: 120 }}
            {% endif %}
        </div>
        <div class="blog__meta">
            {% if article.comments_enabled? and show_comments %}
                <div class="blog__meta-comment blog__meta__item">
                    <a href="{{ article.comment_post_url }}" class="blog__meta-comment__link">
                        <div class="blog__meta-comment__icon">
                            <i class="icon icon--comment" aria-hidden="true"></i>
                        </div>
                        <span class="blog__meta-comment__link-text">{{ article.comments_count }}</span>
                    </a>
                </div>
            {% endif %}
            {% if article.tags.size > 0 and show_tags %}
                <div class="blog__meta-tags blog__meta__item">
                    {% for tag in article.tags %}<a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="blog__meta-tags__link">{{ tag }}</a>{% unless forloop.last %} / {% endunless %}{% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>