{% if shop.permanent_domain == 'amino-drinks-ltd.myshopify.com' %}
  <script src="https://shopifyorderlimits.s3.amazonaws.com/limits/amino-drinks-ltd.myshopify.com?v=74&r=20210319115047&shop=amino-drinks-ltd.myshopify.com"></script>
{% endif %}
