<div class="product{% unless product.available %} product--sold-out{% endunless %}{% if product.compare_at_price > product.price and product.available %} product--sale{% endif %} product--{% if settings.product_grid_image_size contains "crop" %}crop{% elsif settings.product_grid_image_size contains "fit" %}fit{% else %}natural{% endif %} product--{{ settings.product_grid_align }}{% if page == 'home' %} home-products__item{% endif %}">

  {% if settings.product_grid_label %}
  {% if product.compare_at_price > product.price and product.available %}
  <div class="product__label label label--brand">
	<p class="product__label-text label__text">{{ 'products.product.on_sale' | t }}</p>
  </div>
  {% endif %}
  {% unless product.available %}
  <div class="product__label label label--light">
	<p class="product__label-text label__text">{{ 'products.product.sold_out' | t }}</p>
  </div>
  {% endunless %}
  {% endif %}

  <div class="product-top">
	<a href="{{ product.url | within: collection }}" class="product-link{% if page == 'home' %} home-products__link{% endif %}" title="{{ product.title }}" tabindex="-1">
	  <div class="product__media">

		{% case settings.product_grid_image_size %}
		{% when 'natural' %}
		{%- assign product_ratio = 'custom' -%}
		{% when 'fit-square' or 'crop-square' %}
		{%- assign product_ratio = '1:1' -%}
		{% when 'fit-short' or 'crop-short' %}
		{%- assign product_ratio = '4:3' -%}
		{% when 'fit-tall' or 'crop-tall' %}
		{%- assign product_ratio = '2:3' -%}
		{% endcase %}

		<div class="o-ratio o-ratio--{{ product_ratio }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>
		  <div class="o-ratio__content">
			{%- assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_720x720.' -%}
			<img class="product__img lazyloaded js lazy2"
				 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
				 data-src="{{ product.featured_image.src | img_url: '600x' }}"
				 data-sizes="auto"
				 alt="{{ product.featured_image.alt | escape }}"
				 data-srcset="{{ product.featured_image.src | img_url: '180x' }} 180w, 
						 {{ product.featured_image.src | img_url: '360x' }} 360w, 
						 {{ product.featured_image.src | img_url: '540x' }} 540w, 
						 {{ product.featured_image.src | img_url: '324x324' }} 720w, 
						 {{ product.featured_image.src | img_url: '900x' }} 900w, 
						 {{ product.featured_image.src | img_url: '1080x' }} 1080w, 
						 {{ product.featured_image.src | img_url: '1296x' }} 1296w, 
						 {{ product.featured_image.src | img_url: '1512x' }} 1512w"
				 >
			<noscript>
			  <img class="product__img"
				   src="{{ product.featured_image.src | img_url: '720x' }}" 
				   alt="{{ product.featured_image.alt | escape }}">
			</noscript>
			{% if settings.product_grid_second_hover and product.images[1] != blank %}
			<div class="product__img-hover lazyloaded lazybg js"
				 data-sizes="auto"
				 data-parent-fit="cover"
				 data-style="background-image: url('{{ product.images[1] | img_url: '600x' }});"
				 style="background-image: url('{{ product.images[1] | img_url: '300x300' }});"></div>
			<noscript>
			  <div class="product__img-hover" style="background-image: url('{{ product.images[1] | img_url: '720x720' }});">
			  </div>
			</noscript>
			{% endif %}
		  </div>
		</div>
	  </div>
	</a>

	{% unless settings.product_grid_quick_buy == 'disabled' %}
	<div class="product-btn product-btn--{{ settings.product_grid_quick_buy }}">
	  {% if product.available == false %}
	  <a href="{{ product.url | within: collection }}" class="c-btn c-btn--full c-btn--light c-btn--small-tab product-btn__btn">{{ 'products.product.sold_out' | t }}</a>
	  {% elsif product.variants.size > 1 %}
	  <a href="{{ product.url | within: collection }}" class="c-btn c-btn--full c-btn--primary c-btn--arrow c-btn--small-tab product-btn__btn">{{ 'products.product.select_options' | t }}</a>
	  {% else %}
	  {% form 'product', product, data-productid: product.id, class: "js-product-form" %}
	  <!-- Begin ReCharge code -->
	  {% if product.available %}{% include 'subscription-product' %}{% endif %}
	  <!-- End ReCharge code -->

	  <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.variants.first.id }}" />
	  <button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--primary c-btn--small-tab product-btn__btn js-product-add">
		<span id="AddToCartText" class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
	  </button>
	  {% endform %}
	  {% endif %}
	</div>
	{% endunless %}
  </div>

  <a href="{{ product.url | within: collection }}" class="product-link{% if page == 'home' %} home-products__link{% endif %}" title="{{ product.title }}">
	<div class="product__details">
	  <h3 class="product__title h4">{{ product.title }}</h3>

	  {% if settings.product_grid_vendor %}
	  <h4 class="product__vendor h6">{{ product.vendor }}</h4>
	  {% endif %}

	  <p class="product__price h5">
		{% include 'product-price' %}
	  </p> 

	  {% if settings.product_reviews and settings.product_grid_reviews %}
	  <div class="product__reviews">
		<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
	  </div>
	  {% endif %}

	</div>
  </a>

  {% render 'preorder-now-collection-item', product: product %}</div>