<script>
  if(typeof(Spurit) === 'undefined'){
    var Spurit = {};
  }
  if(!Spurit.UpsellForProducts2){
    Spurit.UpsellForProducts2 = {};
  }
  if(!Spurit.UpsellForProducts2.snippet){
    Spurit.UpsellForProducts2.snippet = {};
  }
  Spurit.UpsellForProducts2.snippet.shopHash = '856a9f13263c3b20b6d184e363447ce5';

  if (typeof(Spurit.globalSnippet) === 'undefined'){
      Spurit.globalSnippet = {
          shop_currency: '{{ shop.currency }}',
          money_format: '{{ shop.money_format }}',
          cart: {{ cart | json }},
          customer_id: '{{ customer.id }}'
      };
  }
</script>

    <script src="https://cdn-spurit.com/shopify-apps/8upsell/common.js"></script>
    <link href="https://cdn-spurit.com/shopify-apps/8upsell/common.css" rel="stylesheet" type="text/css" media="all">
