<section class="section section--account account account--login">
    <div class="container container--tiny">

        <div id="RecoverPasswordForm" style="display: none;">
            <div class="section__title section__title--center">
                <h1 class="section__title-text h2">{{ 'customer.recover_password.title' | t }}</h1>
            </div>

            {% form 'recover_customer_password' %}

                {{ form.errors | default_errors }}

                {% if form.posted_successfully? %}
                    {% assign reset_success = true %}
                {% endif %}

                <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
                <input type="email" value="" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off">

                <p>{{ 'customer.recover_password.subtext' | t }}</p>

                <div class="account__form-buttons">                    
                    <input type="submit" class="c-btn c-btn--primary account__form-submit" value="{{ 'customer.recover_password.submit' | t }}">
                    <a href="#" onclick="hideRecoverPasswordForm();return false;" class="link account__form-secondary-btn">{{ 'customer.recover_password.cancel' | t }}</a>
                </div>

            {% endform %}
        </div>


        <div id="CustomerLoginForm">
            <div class="section__title section__title--center">
                <h1 class="section__title-text h2">{{ 'customer.login.title' | t }}</h1>
            </div>

            <div class="account__note success" id="ResetSuccess" style="display:none;">
                {{ 'customer.recover_password.success' | t }}
            </div>

            {% form 'customer_login' %}

                {{ form.errors | default_errors }}

                <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
                <input type="email" name="customer[email]" id="CustomerEmail"{% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>

                {% if form.password_needed %}
                    <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="CustomerPassword"{% if form.errors contains "password" %} class="error"{% endif %}>
                    <p class="account__reset-link">
                        <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
                    </p>
                {% endif %}
                    <div class="account__form-buttons">
                        <input type="submit" class="c-btn c-btn--primary account__form-submit" value="{{ 'customer.login.sign_in' | t }}">
                        <a href="/account/register" class="link account__form-secondary-btn">{{ 'layout.customer.create_account' | t }}</a>
                    </div>
            {% endform %}
<!-- Begin ReCharge code -->
{% include 'subscription-account-login' %}
<!-- End ReCharge code -->

        </div>

        {% comment %}
            If accounts are set as optional, the following will be shown as an option
            during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}
            <div class="account__guest">
                <div class="section__title section__title--center">
                    <h2 class="section__title-text h3">{{ 'customer.login.guest_title' | t }}</h2>
                </div>

                {% form 'guest_login' %}
                    <div class="u-text-center">
                        <input type="submit" class="c-btn c-btn--primary" value="{{ 'customer.login.guest_continue' | t }}">
                    </div>
                {% endform %}
            </div>
        {% endif %}

    </div>
</section>

<script>
    //Show/hide the recover password form when requested
    function showRecoverPasswordForm() {
        document.getElementById('RecoverPasswordForm').style.display = 'block';
        document.getElementById('CustomerLoginForm').style.display='none';
    }
    function hideRecoverPasswordForm() {
        document.getElementById('RecoverPasswordForm').style.display = 'none';
        document.getElementById('CustomerLoginForm').style.display = 'block';
    }

    if (window.location.hash == '#recover') { showRecoverPasswordForm() }

    {% if reset_success %}
        document.getElementById('ResetSuccess').style.display = 'block';
    {% endif %}
</script>