<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                              })(window,document,'script','dataLayer','GTM-PN5TR68');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="theme-color" content="{{ settings.color_brand }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %} 

  {% include 'social-meta-tags' %}

  <!-- JS ================================================== -->
  <script type="text/javascript">
    theme = {};
    theme.t = {};
    theme.map = {};
    theme.cart_ajax = {{ settings.cart_ajax }};
  </script>


  {% if template contains 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url | }}"></script>
  {% endif %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'pagefly-header' %}


  <!-- CSS ================================================== -->
  {{ 'main.scss.css' | asset_url | stylesheet_tag }}
{% include 'ufe-offer' %}</head>   

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-anim-fade="{{ settings.anim_fade }}" data-anim-load="{{ settings.anim_load }}" data-anim-interval-style="{{ settings.anim_interval_style }}" data-anim-zoom="{{ settings.anim_zoom }}" data-anim-interval="{% if settings.anim_load_style == 'interval' %}true{% else %}false{% endif %}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PN5TR68"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->	
  <script type="text/javascript">
    //loading class for animations
    document.body.className += ' ' + 'js-theme-loading';
  </script>

  <div class="page-transition"></div>
  <script src="{{ 'jquery.min.js' | asset_url }}" type="text/javascript"></script>
  <script>jQuery.event.special.touchstart={setup:function(t,e,s){this.addEventListener("touchstart",s,{passive:!0})}};</script>
  <div class="page-container">
    {% section 'mobile-drawer' %}
    {% section 'header' %}

    <div class="main">
      {{ content_for_layout }}
    </div>

    {% section 'footer' %}
    {% section 'promo-pop' %}
    {% section 'age-checker' %}
  </div>

  <script src="{{ 'plugins-top.min.js' | asset_url }}" type="text/javascript" defer="defer"></script>
  <script src="{{ 'ajax-cart.min.js' | asset_url }}" type="text/javascript" defer="defer"></script>
  <script src="{{ 'option_selection.js' | shopify_asset_url }}" type="text/javascript" defer="defer"></script>
  <script src="{{ 'plugins.js' | asset_url }}" type="text/javascript" defer="defer"></script>
  <script src="{{ 'main.js' | asset_url }}" type="text/javascript" defer="defer"></script>
  {% if settings.search_enable %}
  <div class="search-draw js-search-draw mfp-hide">
    <div class="search-draw__wrapper">  
      <div class="search__head">
        <div class="search__label">
          <h3 class="search__label-title">{{ 'general.search.label' | t }}</h3>
        </div>
      </div>  
      <div class="search__inner">
        <form action="/search" method="get" class="search__form" role="search">
          <input type="hidden" name="type" value="{{ settings.search_limit }}">
          <input type="search" name="q" class="search__form-input js-search-input" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
          <button type="submit" class="search__form-submit">
            <i class="icon icon--search" aria-hidden="true"></i>
            <span class="icon-fallback__text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
        {% assign search_nav = settings.search_linklist %}
        {% if linklists[search_nav].links.size > 0 %}
        <div class="search__nav">
          <h4 class="search__nav-title h5">{{ linklists[search_nav].title }}</h4>
          <ul class="search__nav-items o-list-bare">
            {% for link in linklists[search_nav].links %}
            <li class="search__nav-item">
              <a href="{{ link.url }}" class="search__nav-link">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="ajaxcart-draw js-cart-draw mfp-hide">
    <div class="ajaxcart-draw__wrapper js-cart-draw-inner">	
      <div class="ajaxcart-draw__scroll">
        <div class="ajaxcart__head">
          <div class="ajaxcart__label">
            <h3 class="ajaxcart__label-title">{{ 'cart.general.title' | t }}</h3>
          </div>
        </div>	
        <div id="CartContainer"></div>
        <div id="EmptyCart">
          <div class="ajaxcart-empty">
            <h5 class="ajaxcart-empty__title">{{ 'cart.general.empty' | t }}</h5>
            <span class="emoji ajaxcart-empty__emoji">
              <i class="icon icon--sad"></i>
            </span>
            <a href="/collections/all" class="c-btn c-btn--primary c-btn--full">{{ 'cart.general.empty_link' | t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'currencies' %}
  {% include 'ajax-cart-template' %}

  <script>
    //remove body loading class and set to loaded
    (function() {
      document.body.className = document.body.className.replace('js-theme-loading','js-theme-loaded');
    })();

    {% if resetPassword %}
    $(function() {
      timber.resetPasswordSuccess();
    });
    {% endif %}

    //cart functions
    theme.ajaxCartInit = function() {
      ajaxCart.init({
        cartContainer: '#CartContainer',
        cartCountSelector: '#CartCount',
        cartCostSelector: '#CartCost',
        emptySelector: '#EmptyCart',
        {% if settings.cart_ajax %}
        triggerSelector: '.js-cart-trigger',
        formSelector: '.js-product-form',
        addToCartSelector: '.js-product-add',
        {% endif %}
        moneyFormat: {{ shop.money_format | json }}
      });
      };
                    //open cart after item is new added
                    $('body').on('afterAddItem.ajaxCart', function() {
        setTimeout(function(){
          theme.mfpOpen('cart');
        }, 100);
      });
  </script>
  <!-- Venue theme by Safe As Milk - http://safeasmilk.co/ -->
  <!-- Theme version 4.0.0 -->


  <!-- Back in Stock helper snippet -->
  {% render 'back-in-stock-helper' %}
  <!-- End Back in Stock helper snippet -->
  <!-- Begin ReCharge code -->
  {% include 'subscription-theme-footer' %}
  <!-- End ReCharge code -->
  {% if template contains 'collection' or  template contains 'product'  %}
  {%else%}
  	<script async type="text/javascript" defer="defer" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
  {%endif%}

</body>
</html>