<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
	<head>{% render 'pagefly-head' %}
		{% include 'main-css' %}
		{% include 'SEOManager' %}
		{% include 'jquery-351' %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
		<meta name="theme-color" content="{{ settings.color_brand }}">
		<link rel="canonical" href="{{ canonical_url }}">
		{% if settings.favicon != blank %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
		{% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DJN0RFCNCN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DJN0RFCNCN');
</script>

		{% include 'social-meta-tags' %}

		<script type="text/javascript">
			theme = {};
			theme.t = {};
			theme.map = {};
			theme.cart_ajax = {{ settings.cart_ajax }};
		</script>

		{% if template contains 'customers' %}
			<script src="{{ 'shopify_common.js' | shopify_asset_url | }}"></script>
		{% endif %}

        {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
        {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "DOMContentLoaded2" }}
            <script>var trekkie=[];trekkie.integrations=!0;</script>
        {%- endif -%}

      	{% include 'pagefly-header' %}

		<link rel="stylesheet" data-href="{{ 'main.scss.css' | asset_url }}">

		{% include 'ufe-offer' %}
		<script type="lazyload2">
			(function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1693829,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
      	<style>.home-carousel .js-slide-active .home-carousel__content{-ms-transform:none!important;-webkit-transform:none!important;transform:none!important;-ms-transform:none!important;-webkit-transform:none!important;transform:none!important;opacity:1!important;position:relative;-webkit-transition:none;-moz-transition:none;transition:none;-webkit-transition-delay:unset;-moz-transition-delay:unset;transition-delay:unset}.product-single__price-text{min-height:34px}</style>
      	<style class="critical2">div.product-single__variant>select.product-single__variant-select{opacity:0}.product-single__price.js-product-price{min-height:50px}</style>
	</head>
	<div class='evm-multiple evm-us-main-div' data-page='{{template}}'></div>
	<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-anim-fade="{{ settings.anim_fade }}" data-anim-load="{{ settings.anim_load }}" data-anim-interval-style="{{ settings.anim_interval_style }}" data-anim-zoom="{{ settings.anim_zoom }}" data-anim-interval="{% if settings.anim_load_style == 'interval' %}true{% else %}false{% endif %}">
		<script type="text/javascript">
			//loading class for animations
			document.body.className += ' ' + 'js-theme-loading';
		</script>
		<div class="page-transition"></div>
      	{% include "jquery-js" %}
		<script>jQuery.event.special.touchstart={setup:function(t,e,s){this.addEventListener("touchstart",s,{passive:!0})}};</script>
		<div class="page-container">
			{% section 'mobile-drawer' %}
			{% section 'header' %}
			<div class="main">
				{{ content_for_layout }}
				{% include "arp" %}
			</div>
			{% section 'footer' %}
			{% section 'promo-pop' %}
			{% section 'age-checker' %}
		</div>
        <script type="lazyload2" data-src="{{ 'plugins-top.min.js' | asset_url }}"></script>
        <script type="lazyload2" data-src="{{ 'ajax-cart.min.js' | asset_url }}"></script>
        <script type="lazyload2" data-src="{{ 'option_selection.js' | shopify_asset_url }}"></script>
        <script type="lazyload2" data-src="{{ 'plugins.js' | asset_url }}"></script>
		{% if settings.search_enable %}
		<div class="search-draw js-search-draw mfp-hide">
			<div class="search-draw__wrapper">
				<div class="search__head">
					<div class="search__label"><h3 class="search__label-title">{{ 'general.search.label' | t }}</h3></div>
				</div>
				<div class="search__inner">
					<form action="/search" method="get" class="search__form" role="search">
						<input type="hidden" name="type" value="{{ settings.search_limit }}">
						<input type="search" name="q" class="search__form-input js-search-input" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
						<button type="submit" class="search__form-submit"><i class="icon icon--search" aria-hidden="true"></i><span class="icon-fallback__text">{{ 'general.search.submit' | t }}</span></button>
					</form>
					{% assign search_nav = settings.search_linklist %}
					{% if linklists[search_nav].links.size > 0 %}
					<div class="search__nav">
						<h4 class="search__nav-title h5">{{ linklists[search_nav].title }}</h4>
						<ul class="search__nav-items o-list-bare">
							{% for link in linklists[search_nav].links %}
							<li class="search__nav-item"><a href="{{ link.url }}" class="search__nav-link">{{ link.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		<div class="ajaxcart-draw js-cart-draw mfp-hide">
			<div class="ajaxcart-draw__wrapper js-cart-draw-inner">
				<div class="ajaxcart-draw__scroll">
					<div class="ajaxcart__head">
						<div class="ajaxcart__label">
							<h3 class="ajaxcart__label-title">{{ 'cart.general.title' | t }}</h3>
						</div>
					</div>
					<div id="CartContainer"></div>
					<div id="EmptyCart">
						<div class="ajaxcart-empty">
							<h5 class="ajaxcart-empty__title">{{ 'cart.general.empty' | t }}</h5><span class="emoji ajaxcart-empty__emoji"><i class="icon icon--sad"></i></span>
							<a href="/collections/all" class="c-btn c-btn--primary c-btn--full">{{ 'cart.general.empty_link' | t }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'currencies' %}
		{% include 'ajax-cart-template' %}
		<script>
			(function() {
				document.body.className = document.body.className.replace('js-theme-loading','js-theme-loaded');
			})();
			{% if resetPassword %}
			$(function() {
				timber.resetPasswordSuccess();
			});
			{% endif %}
			theme.ajaxCartInit = function() {
				ajaxCart.init({
					cartContainer: '#CartContainer',
					cartCountSelector: '#CartCount',
					cartCostSelector: '#CartCost',
					emptySelector: '#EmptyCart',
					{% if settings.cart_ajax %}
					triggerSelector: '.js-cart-trigger',
					formSelector: '.js-product-form',
					addToCartSelector: '.js-product-add',
					{% endif %}
					moneyFormat: {{ shop.money_format | json }}
				});
			};
			$('body').on('afterAddItem.ajaxCart', function() {
				setTimeout(function(){
					theme.mfpOpen('cart');
				}, 1000);
			});
		</script>
		{% render 'back-in-stock-helper' %}
		{% include 'subscription-theme-footer' %}
		<script id="stamped-script-widget" data-api-key="pubkey-P69401012XtS05kT8eS1qMiu01c0VJ" type="lazyload2" data-src="https://cdn1.stamped.io/files/widget.min.js"></script>
		{% render 'special-offers' %}
		{% render 'back-in-stock-helper' %}
		<script type="lazyload2" data-src="https://rebuyengine.com/js/rebuy?shop={{ shop.permanent_domain }}"></script>
		<script type="lazyload2" data-src="{{ 'main.js' | asset_url }}"></script>
	</body>
</html>
{{ 'wnw-optimization.js' | asset_url | script_tag }}