{% assign number_of_comments = article.comments_count %}

<section class="section section--article article{% unless article.image and section.settings.show_img %} article--no-img{% endunless %}" itemscope itemtype="http://schema.org/Article">

    {% if section.settings.show_img %}
        {% if article.image %}
            <div class="container container--mob-0">
                <div class="article__featured-media">
                    <div class="article__featured-media__img u-bg-cover lazyload js"
                        data-bgset="{% include 'bgset', image: article.image.src %}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        style="background-image: url('{{ article.image.src | img_url: '300x300' }});"></div>
                    <noscript>
                        <div class="article__featured-media__img u-bg-cover"
                            style="background-image: url('{{ article.image.src | img_url: '1400x' }});"></div>
                        </div>
                    </noscript>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="container container--tiny">
        <div class="article__title">
            <div class="section__title section__title--center">
                <h1 class="section__title-text h2">{{ article.title }}</h1>
            </div>
            {% if section.settings.show_date %}
                <div class="article__date label label--brand">
                    <p class="article__date-text label__text">{{ article.published_at | time_tag: '%d %b, %Y' }}</p>
                </div>
            {% endif %}
        </div>

        <div class="article__content rte" itemprop="articleBody">
            {{ article.content }}
        </div>

        <div class="article__meta">
            <div class="article__meta-wrapper">
                {% if section.settings.show_author %}
                    <div class="article__meta-author">
                        <p class="article__meta-author__text">{{ article.author }}</p>
                    </div>
                {% endif %}
                {% if section.settings.show_sharing %}
                    <div class="article__meta-share">
                        {% capture share_link %}{{ shop.url }}{{ article.url }}{% endcapture %}
                        {% capture share_title %}{{ article.title | url_param_escape }}{% endcapture %}
                        {% capture share_img %}{{ article.image | img_url: '1024x1024' }}{% endcapture %}
                        <ul class="article__share-items">
                            {% if settings.share_googleplus %}
                                <li class="article__share-item">
                                    <a href="//plus.google.com/share?url={{ share_link }}" class="article__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--google-plus" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Google+</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_facebook %}
                                <li class="article__share-item">
                                    <a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="article__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--facebook" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Facebook</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_twitter %}
                                <li class="article__share-item">
                                    <a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="article__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--twitter" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Twitter</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_pinterest %}
                                <li class="article__share-item">
                                    <a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="article__share-link icon-fallback" target="_blank">
                                        <i class="icon icon--pinterest" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Pinterest</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if settings.share_mail %}
                                <li class="article__share-item">
                                    <a href="mailto:?body={{ share_title }} - {{ share_link }}" class="article__share-link icon-fallback">
                                        <i class="icon icon--mail" aria-hidden="true"></i>
                                        <span class="icon-fallback__text">Email</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% if section.settings.show_tags %}
                {% if article.tags.size > 0 %}
                    <div class="article__tags">
                        <ul class="article__tags-items o-list-bare">
                            {% for tag in article.tags %}
                                <li class="article__tags-item">{{ tag | link_to_tag: tag }}{% unless forloop.last == true %} / {% endunless %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if blog.next_article or blog.previous_article %}
        <div class="article-paginate">
            <div class="article-paginate__wrapper">
                <div class="article-paginate__item article-paginate__item--prev{% unless blog.previous_article %} article-paginate__item--disabled{% endunless %}">
                    {% if blog.previous_article %}
                        <a href="{{ blog.previous_article }}" class="article-paginate__link icon-fallback">
                            <i class="icon icon--left-t" aria-hidden="true"></i>
                            <span class="icon-fallback__text">{{ 'blogs.article.older_post' | t  }}</span>
                        </a>
                    {% else %}
                        <span class="article-paginate__link icon-fallback">
                            <i class="icon icon--left-t" aria-hidden="true"></i>
                            <span class="icon-fallback__text">{{ 'blogs.article.older_post' | t  }}</span>
                        </span>
                    {% endif %}
                </div>
                <div class="article-paginate__item article-paginate__item--next{% unless blog.next_article %} article-paginate__item--disabled{% endunless %}">
                    {% if blog.next_article %} 
                        <a href="{{ blog.next_article }}" class="article-paginate__link icon-fallback">
                            <i class="icon icon--right-t" aria-hidden="true"></i>
                            <span class="icon-fallback__text">{{ 'blogs.article.newer_post' | t }}</span>
                        </a>
                    {% else %}
                        <span class="article-paginate__link icon-fallback">
                            <i class="icon icon--right-t" aria-hidden="true"></i>
                            <span class="icon-fallback__text">{{ 'blogs.article.newer_post' | t }}</span>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if blog.comments_enabled? %}
        <div class="article-comments{% unless blog.next_article or blog.previous_article %} article-comments--mt{% endunless %}" id="comments">
            <div class="container container--tiny">

                <div class="article-comments__comments">
                    {% if number_of_comments > 0 %}
                        <h2 class="article-comments__title h4">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
                    {% endif %}
                    {% paginate article.comments by 3 %}
                        {% if comment and comment.created_at %}
                            <p class="article-comments__note form-success">
                                {% if blog.moderated? %}
                                    {{ 'blogs.comments.success_moderated' | t }}
                                {% else %}
                                    {{ 'blogs.comments.success' | t }}
                                {% endif %}
                            </p>
                        {% endif %}
                        {% if number_of_comments > 0 %}
                            <ul class="article-comments__items o-list-bare">
                                {% for comment in article.comments %}
                                    <li id="{{ comment.id }}" class="article-comments__item">
                                        <div class="article-comments__content rte">
                                            {{ comment.content }}
                                        </div>
                                        <div class="article-comments__meta">
                                            <span class="article-comments__meta-item">{{ comment.author }}</span>
                                            <span class="article-comments__meta-item">{{ comment.created_at | time_tag: format: 'month_day_year' }}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if paginate.pages > 1 %}
                            <div class="article-comments__pagination">
                                <div class="container">
                                    <div class="pagination">
                                        <div class="pagination__items">
                                            {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endpaginate %}
                </div>
                
                <div class="article-comments__form article-form{% if number_of_comments < 1 %} article-form--first{% endif %}">
                    {% form 'new_comment', article %}

                        <h2 class="article-form__title h4">{{ 'blogs.comments.title' | t }}</h2>
                        
                        {{ form.errors | default_errors }}

                        <div class="o-layout">

                            <div class="o-layout__item u-1/1 u-1/2@tab">
                                <label for="CommentAuthor">{{ 'blogs.comments.name' | t }}</label>
                                <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}">
                            </div>

                            <div class="o-layout__item u-1/1 u-1/2@tab">
                                <label for="CommentEmail">{{ 'blogs.comments.email' | t }}</label>
                                <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                            </div>

                            <div class="o-layout__item u-1/1">
                                <label for="CommentBody">{{ 'blogs.comments.message' | t }}</label>
                                <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} input--error{% endif %}">{{ form.body }}</textarea>
                            </div>
                        </div>

                        {% if blog.moderated? %}
                            <p class="article-form__fine-print u-small">{{ 'blogs.comments.moderated' | t }}</p>
                        {% endif %}

                        <input type="submit" class="c-btn c-btn--primary c-btn--center" value="{{ 'blogs.comments.post' | t }}">

                    {% endform %}
                </div>

            </div>
        </div>
    {% endif %}
</section>

{% schema %}
{
    "name": "Article",
    "class": "js-section__article",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_img",
            "label": "Show featured image",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show tags",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_sharing",
            "label": "Show social sharing buttons",
            "default": true
        }
    ]
}
{% endschema %}