{% assign show_blog_tags = section.settings.show_tags %}
{% assign show_blog_rss = section.settings.show_rss %}
{% assign show_comments = section.settings.show_blog_comments %}
{% assign show_author = section.settings.show_blog_author %}
{% assign show_tags = section.settings.show_blog_tags %}
{% assign show_date = section.settings.show_blog_date %}
{% assign crop = section.settings.crop %}

{% assign paginate_number = 12 %}

{% paginate blog.articles by paginate_number %}

<section class="section section--blog blog-page">
    <div class="container">
        <div class="section__title section__title--center">
            <h1 class="section__title-text h2">
                {% if current_tags %}{{ current_tags.first }}{% else %}{{ blog.title }}{% endif %} 
                {% if show_blog_rss %}
                    <span class="blog-page__title-rss">
                        <a class="blog-page__title-rss__link icon-fallback js-no-transition" href="{{ shop.url }}{{ blog.url }}.atom">
                            <i class="icon icon--rss" aria-hidden="true"></i>
                            <span class="icon-fallback__text">RSS</span>
                        </a>
                    </span>
                {% endif %}
            </h1>
        </div>

        {% if blog.all_tags.size > 0 and show_blog_tags %}
            <div class="blog-page__tags">
                {% if blog.all_tags.size > 8 %}
                    <div class="blog-page__tags-btn">
                        <a href="#blog-tags" class="link link--arrow-down blog-page__tags-btn-link u-large js-toggle-trigger">{{ 'blogs.blog.tags' | t }}</a>
                    </div>
                {% endif %}
                <ul class="blog-page__tags-items o-list-bare{% if blog.all_tags.size > 8 %} blog-page__tags-items--box js-toggle-target{% endif %}" id="blog-tags">
                    <li class="blog-page__tags-item"><a href="{{ blog.url }}">{{ 'blogs.blog.all' | t }}</a></li>
                    {% for tag in blog.all_tags %}
                        {% if current_tags contains tag %}
                            <li class="blog-page__tags-item blog-page__tags-item--active">{{ tag }}</li>
                        {% else %}
                            <li class="blog-page__tags-item">{{ tag | link_to_tag: tag }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="container{% if section.settings.grid == 1 %} container--tiny{% endif %}">
        <div class="blog-page__list{% unless section.settings.show_bg %} blog-page__list--no-bg{% endunless %}">
            
            {% case section.settings.grid %}
            {% when 1 %}
                {%- assign grid_item_width = 'u-1/1@tab' -%}
            {% when 2 %}
                {%- assign grid_item_width = 'u-1/2@tab' -%}
            {% when 3 %}
                {%- assign grid_item_width = 'u-1/2@tab u-1/3@desk' -%}
            {% endcase %}

            <div class="section__bg{% unless section.settings.show_bg %} section__bg--white{% else%} section__bg--grey{% endunless %}"></div>

            <div class="blog__items">
                <div class="o-layout o-layout--masonry">
                    {% for article in blog.articles %}
                        <div class="o-layout__item u-1/1 {{ grid_item_width }}">
                            {% include 'blog-grid-item', page: true, section: false %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if paginate.pages > 1 %}
                <div class="blog-pagination">
                    <div class="container">
                        <div class="pagination">
                            <div class="pagination__items">
                                {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</section>

{% endpaginate %}

{% schema %}
{
    "name": "Blog",
    "class": "js-section__blog",
    "settings": [
        {
            "type": "header",
            "content": "Page settings"
        },
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show tags",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_rss",
            "label": "Show RSS feed link",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_bg",
            "label": "Show background color",
            "default": true
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Posts per row",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "header",
            "content": "Blog item settings"
        },
        {
            "type": "checkbox",
            "id": "crop",
            "label": "Crop images",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_blog_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_blog_author",
            "label": "Show author",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_blog_comments",
            "label": "Show comment count",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_blog_tags",
            "label": "Show tags",
            "default": false
        }
    ]
}
{% endschema %}