<style type="text/css">
   .footer {
        background-color: {{ section.settings.footer_bg }};
        {% if section.settings.footer_bg == '#ffffff' %}
            border-top: 1px solid #e4e4e4;
        {% endif %}
    }
    .footer__bottom {
        background-color: {{ section.settings.footer_bg | color_darken: 5 }};   
    }
    .section--{{ section.id }} .newsletter {
        background-color: {{ section.settings.newsletter_bg }};
    }
</style>
{% if section.settings.footer_newsletter_enable %}
    {% if section.settings.footer_newsletter_home == false or template.name != 'index' %}
        <section class="section section--{{ section.id }}">
            <div class="container">
                <div class="newsletter newsletter--{{ section.settings.newsletter_style }}">
                    <div class="newsletter__content">
                        <div class="newsletter__title section__title section__title--center section__title--desc">
                            {% if section.settings.footer_newsletter_title != blank %}
                                <h2 class="section__title-text">{{ section.settings.footer_newsletter_title | escape }}</h2>
                            {% endif %}
                            {% if section.settings.footer_newsletter_desc != blank %} 
                                <div class="section__title-desc rte">{{ section.settings.footer_newsletter_desc }}</div>
                            {% endif %}
                        </div>
                        <div class="newsletter__form-wrapper">
                            {% form 'customer', id: 'newsletter' %}
                                {{ form.errors | default_errors }}
                                {% if form.posted_successfully? %}
                                    <div class="newsletter__form-message">
                                        <h4 class="newsletter__form-message__text">{{ 'general.newsletter_form.confirmation' | t }}</h4>
                                    </div>
                                {% else %}
                                    <div class="o-layout o-layout--flush">
                                        <div class="o-layout__item u-1/1 u-2/3@tab">
                                            <input type="hidden" name="contact[tags]" value="newsletter">
                                            <input type="email"
                                                    name="contact[email]"
                                                    id="Email"
                                                    class="newsletter__input"
                                                    value="{% if customer %}{{ customer.email }}{% endif %}"
                                                    placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                                                    autocorrect="off"
                                                    autocapitalize="off">
                                        </div>
                                        <div class="o-layout__item u-1/1 u-1/3@tab">
                                            <button type="submit" class="c-btn c-btn--full c-btn--primary c-btn--arrow newsletter__btn" name="commit" id="Subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endform %}
                          	{% if section.settings.footer_newsletter_disclaimer != blank %} 
                                <div class="rte" style="font-size: 14px; text-align: justify; font-style: italic;">{{ section.settings.footer_newsletter_disclaimer }}</div>
                            {% endif %}
                        </div>  
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}
<footer role="contentinfo" id="footer" class="footer footer--{{ section.settings.footer_style }}">
    <div class="container">
        <div class="footer__content">
            <div class="o-layout">
                {% case section.blocks.size %}
                    {% when 1 %}
                        {%- assign grid_item_width = 'u-1/1 u-1/2@tab u-1/2@desk' -%}
                    {% when 2 %}
                        {%- assign grid_item_width = 'u-1/1 u-1/2@tab u-1/2@desk' -%}
                    {% when 3 %}
                        {%- assign grid_item_width = 'u-1/1 u-1/2@tab u-1/3@desk' -%}
                    {% when 4 %}
                        {%- assign grid_item_width = 'u-1/1 u-1/2@tab u-1/4@desk' -%}
                {% endcase %}
                {% for block in section.blocks %}
                    {% if block.type == 'linklist' %}
                        {% if linklists[block.settings.linklist].links.size > 0 %}
                            <div class="o-layout__item {{ grid_item_width }}">
                                <div class="footer-nav">
                                    {% unless block.settings.title == blank %}
                                        <h4 class="footer-nav__title h5">{{ block.settings.title }}</h4>
                                    {% endunless %}
                                    <ul class="footer-nav__items o-list-bare">
                                        {% for link in linklists[block.settings.linklist].links %}
                                            <li class="footer-nav__item{% if link.active %} footer-nav__item--active{% endif %}"><a href="{{ link.url }}" class="footer-nav__link">{{ link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if block.type == 'contact' %}
                        <div class="o-layout__item {{ grid_item_width }}">
                            <div class="footer-nav">
                                {% unless block.settings.title == blank %}
                                    <h4 class="footer-nav__title h5">{{ block.settings.title }}</h4>
                                {% endunless %}
                                {% if block.settings.show_email %}
                                    <p class="footer-nav__text"><a href="mailto:{{ shop.email }}" class="footer-nav__text-link">{{ shop.email }}</a></p>
                                {% endif %}
                                {% if block.settings.show_number %}
                                    <p class="footer-nav__text"><a href="tel:{{ shop.address.phone }}" class="footer-nav__text-link">{{ shop.address.phone }}</a></p>
                                {% endif %}
                                {% if block.settings.show_address %}
                                    <p class="footer-nav__text footer-nav__text--address">
                                        {{ shop.address.street }}<br/>
                                        {{ shop.address.city }} {{ shop.address.province }}<br/>
                                        {{ shop.address.zip }} {{ shop.address.country }}
                                    </p>
                                {% endif %}
                                {% if block.settings.show_social %}
                                    <div class="footer-nav__social-wrapper">
                                        <ul class="footer-nav__social-items o-list-bare">
                                            {% unless settings.social_facebook_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_facebook_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--facebook" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Facebook</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_twitter_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_twitter_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--twitter" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Twitter</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_pinterest_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_pinterest_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--pinterest" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Pinterest</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_instagram_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_instagram_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--instagram" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Instagram</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_googleplus_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_googleplus_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--google-plus" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Google+</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_tumblr_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_tumblr_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--tumblr" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Tumblr</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_snapchat_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_snapchat_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--snapchat" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Snapchat</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_youtube_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_youtube_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--youtube" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">YouTube</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_vimeo_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_vimeo_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--vimeo" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Vimeo</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_fancy_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_fancy_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--fancy" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Fancy</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                            {% unless settings.social_untappd_link == blank %}
                                                <li class="footer-nav__social-item">
                                                    <a href="{{ settings.social_untappd_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                        <i class="icon icon--untappd" aria-hidden="true"></i>
                                                        <span class="icon-fallback__text">Untappd</span>
                                                    </a>
                                                </li>
                                            {% endunless %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if block.type == 'text' %}
                        <div class="o-layout__item {{ grid_item_width }}">
                            <div class="footer-nav">
                                {% unless block.settings.title == blank %}
                                    <h4 class="footer-nav__title h5">{{ block.settings.title | escape }}</h4>
                                {% endunless %}
                                {% unless block.settings.text == blank %}
                                    <div class="footer-nav__text rte">
                                        {{ block.settings.text }}
                                    </div>
                                {% endunless %}
                            </div>
                        </div>
                    {% endif %}
                    {% if block.type == 'twitter' %}
                        <div class="o-layout__item {{ grid_item_width }}">
                            <div class="footer-nav footer-nav--tweet js-footer-tweet" data-footer-tweet-enable="{% if block.settings.username == blank %}false{% else %}true{% endif %}" data-footer-tweet-user="{{ block.settings.username }}">
                                <div id="footer-tweet" style="display: none"></div>
                                {% unless block.settings.title == blank %}
                                    <h4 class="footer-nav__title h5">{{ block.settings.title | escape }}</h4>
                                {% endunless %}
                                {% unless block.settings.username == blank %}
                                    <div class="footer-nav__text rte footer-tweet__text js-footer-tweet-text"></div>
                                    <a href="https://twitter.com/{{ block.settings.username }}" class="footer-tweet__link" target="_blank">{{ block.settings.username }}</a>
                                {% endunless %}
                            </div>
                        </div>
                    {% endif %}
                    {% if block.type == 'image' %}
                        <div class="o-layout__item {{ grid_item_width }}">
                            <div class="footer-nav footer-nav--image">
                                {% unless block.settings.link == blank %}
                                    <a href="{{ block.settings.link }}" class="footer-nav__image-link">
                                {% endunless %}
                                {% unless block.settings.image == blank %}
                                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                                    <img class="footer-nav__image-img lazyload js"
                                        src="{{ block.settings.image | img_url: '100x' }}" 
                                        data-src="{{ img_url }}"
                                        data-widths="[180, 360, 540, 720]"
                                        data-sizes="auto"
                                        alt="{{ block.settings.image.alt }}"
                                        style="max-width: {{ block.settings.image_width }}px">
                                    <noscript>
                                        <img class="footer-nav__image-img"
                                            src="{{ block.settings.image | img_url: '460x' }}" 
                                            alt="{{ block.settings.image.alt }}"
                                            style="max-width: {{ block.settings.image_width }}px">
                                    </noscript>
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endunless %}
                                {% unless block.settings.link == blank %}
                                    </a>
                                {% endunless %}
                            </div>
                        </div>
                    {% endif %}
                    {% if block.type == 'social' %}
                        <div class="o-layout__item {{ grid_item_width }}">
                            <div class="footer-nav footer-nav--social">
                                {% unless block.settings.title == blank %}
                                    <h4 class="footer-nav__title h5">{{ block.settings.title | escape }}</h4>
                                {% endunless %}
                                <ul class="footer-nav__social-items o-list-bare">
                                    {% unless settings.social_facebook_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_facebook_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--facebook" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Facebook</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_twitter_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_twitter_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--twitter" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Twitter</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_pinterest_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_pinterest_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--pinterest" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Pinterest</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_instagram_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_instagram_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--instagram" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Instagram</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_googleplus_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_googleplus_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--google-plus" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Google+</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_tumblr_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_tumblr_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--tumblr" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Tumblr</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_snapchat_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_snapchat_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--snapchat" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Snapchat</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_youtube_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_youtube_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--youtube" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">YouTube</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_vimeo_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_vimeo_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--vimeo" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Vimeo</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_fancy_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_fancy_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--fancy" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Fancy</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                    {% unless settings.social_untappd_link == blank %}
                                        <li class="footer-nav__social-item">
                                            <a href="{{ settings.social_untappd_link }}" class="footer-nav__social-link icon-fallback" target="_blank">
                                                <i class="icon icon--untappd" aria-hidden="true"></i>
                                                <span class="icon-fallback__text">Untappd</span>
                                            </a>
                                        </li>
                                    {% endunless %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="footer-copyright">
                <p class="footer-copyright__text">
                    <span class="footer-copyright__span footer-copyright__span--shop">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}</span>
                    <span class="footer-copyright__span footer-copyright__span--powered"><a href="http://safeasmilk.co/" target="_blank">Theme by Safe As Milk</a>. {{ powered_by_link }}</span>
                </p>
            </div>
        </div>
    </div>
    {% if settings.show_multiple_currencies or section.settings.show_payment_icons %}
        <div class="footer__bottom">
            <div class="container">
                {% if settings.show_multiple_currencies %}
                    <div class="footer__currency footer__bottom-item">
                        <a href="#" class="footer__currency-toggle js-currency-trigger"><span class="js-currency-trigger-text">{{ shop.currency }}</span><i class="icon icon--up"></i></a>
                        <div class="footer__currency-box js-currency-box">
                            <span id="currencies" class="footer__currency-items">
                                {% assign currencies = settings.supported_currencies | split: " "  %}
                                {% for currency in currencies %}
                                    <a href="#" data-currency="{{ currency }}" class="footer__currency-item js-currency-item {% if shop.currency == currency %}selected {% endif %}">{{ currency }}</a>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                {% endif %}
                {% if section.settings.show_payment_icons %}
                    <div class="footer__icons footer__bottom-item">
                        {% unless shop.enabled_payment_types == empty %}
                            {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}
                            <ul class="footer__icons-items o-list-bare">
                                    <li class="footer__icons-item">
                                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{'12-12.svg' | asset_url}}" style="width: 350px;">
                                    </li>
                            </ul>                  
                        {% endunless %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</footer>

{% schema %}
{
    "name": "Footer",
    "class": "js-section__footer",
    "max_blocks": 4,
    "settings": [
        {
            "type": "header",
            "content": "Newsletter settings"
        },
        {
            "type": "checkbox",
            "id": "footer_newsletter_enable",
            "label": "Show newsletter signup",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "footer_newsletter_home",
            "label": "Hide on home page",
            "default": false
        },
        {
            "type": "color",
            "id": "newsletter_bg",
            "label": "Background color",
            "default": "#f5f5f5"
        },
        {
            "type": "select",
            "id": "newsletter_style",
            "label": "Text color",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "default-light",
                    "label": "Default light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                },
                {
                    "value": "light",
                    "label": "Light"
                }
            ]
        },
        {
            "type": "text",
            "id": "footer_newsletter_title",
            "label": "Heading",
            "default": "Newsletter"
        },
        {
            "type": "richtext",
            "id": "footer_newsletter_desc",
            "label": "Subheading",
            "default": "<p>Let your customers know what to expect if they sign up to your mailing list.</p>"
        },
        {
            "type": "richtext",
            "id": "footer_newsletter_disclaimer",
            "label": "Disclaimer",
            "default": "<p>Disclaimer Text.</p>"
        },
        {
            "type": "paragraph",
            "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&accepts_marketing=1)"
        },
        {
            "type": "header", 
            "content": "Footer settings"
        },
        {
            "type": "color",
            "id": "footer_bg",
            "label": "Background color",
            "default": "#222222"
        },
        {
            "type": "select",
            "id": "footer_style",
            "label": "Text color",
            "default": "light",
            "options": [
                {
                    "value": "light",
                    "label": "Light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "Show payment icons",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "linklist",
            "name": "Menu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Menu"
                },
                {
                    "type": "link_list",
                    "id": "linklist",
                    "label": "Menu",
                    "default": "footer",
                    "info": "This menu won't show dropdown items"
                }
            ]
        },
        {
            "type": "contact",
            "name": "Contact",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "Edit your contact info [here](/admin/settings/general)."
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Contact"
                },
                {
                    "type": "checkbox",
                    "id": "show_email",
                    "label": "Show email",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_number",
                    "label": "Show phone number",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_address",
                    "label": "Show address",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_social",
                    "label": "Show social",
                    "default": true,
                    "info": "Edit content in theme 'Theme settings > Social'."
                }
            ]
        },
        {
            "type": "social",
            "name": "Social",
            "limit": 1,
            "settings": [
                {
                    "type": "paragraph",
                    "content": "Edit content in theme 'Theme settings > Social'."
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Social"
                }
            ]
        },
        {
            "type": "text",
            "name": "Text area",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Text area"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Add some text such as a mini biography or your mission statement.</p>"
                }
            ]
        },
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "image_width",
                    "label": "Image width",
                    "unit": "px",
                    "min": 40,
                    "max": 400,
                    "step": 10,
                    "default": 200
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "twitter",
            "name": "Twitter",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Twitter"
                },
                {
                    "type": "text",
                    "id": "username",
                    "label": "Username",
                    "info": "Example: @shopify",
                    "default": "@shopify"
                }
            ]
        }
    ]
}
{% endschema %}