{% capture margin_class %}{% if section.settings.link == blank and section.settings.bg_color == '#ffffff' %}{% unless section.settings.style_desktop == 'carousel' %} section--mb-s--desk{% endunless %}{% unless section.settings.style_mobile == 'carousel' %} section--mb-s--mob{% endunless %}{% endif %}{% endcapture %}

{% if section.blocks.size > 0 %}
    <section class="section section--{{ section.id }} {{ margin_class }} {% if section.settings.bg_color == '#ffffff' %} section--no-bg{% else %} section--has-bg{% endif %} section--content-{{ section.settings.content_style }}" data-section-id="{{ section.id }}" data-section-type="home-logo-list">

        <div class="home-logo-list home-logo-list--{{ section.settings.style_desktop }} home-logo-list--mob-{{ section.settings.style_mobile }} home-logo-list--{{ section.settings.grid }}{% if section.settings.link == blank %} home-logo-list--no-link{% endif %}">

            <div class="home-logo-list__bg" style="background-color: {{ section.settings.bg_color }}"></div>

            <div class="container">
                {% if section.settings.title != blank %}
                    <div class="section__title section__title--center{% unless section.settings.desc == blank %} section__title--desc{% endunless %}">
                        <h2 class="section__title-text">{{ section.settings.title | escape }}</h2>
                        {% unless section.settings.desc == blank %}
                            <div class="section__title-desc rte">{{ section.settings.desc }}</div>
                        {% endunless %}
                    </div>
                {% endif %}
            </div>

            {% case section.settings.style_desktop %}
                {% when 'carousel' %}
                    {%- assign carousel = true -%}
                {% when 'grid' %}
                    {%- assign carousel = false -%}
            {% endcase %}

            {% case section.settings.style_mobile %}
                {% when 'carousel' %}
                    {%- assign mobile_carousel = true -%}
                {% when 'grid' %}
                    {%- assign mobile_carousel = false -%}
            {% endcase %}

            <div class="container{% if mobile_carousel %} container--mob-0{% endif %}">

                <div class="home-logo-list__items js-home-logo-list">
                    <div class="{% if carousel or mobile_carousel %} home-logo-list-carousel js-home-logo-list-carousel{% endif %}" data-carousel-desktop="{{ carousel }}" data-carousel-mobile="{{ mobile_carousel }}" data-carousel-count="{{ section.settings.grid }}" data-slick='{"autoplay": true, "autoplaySpeed": 5000}'>

                        {% for block in section.blocks %}
                            <div class="home-logo-list__item" data-slide-id="{{ forloop.index0 }}">
                                {% unless block.settings.link == blank %}
                                <a href="{{ block.settings.link }}" class="home-logo-list__link">
                                {% endunless %}
                                    
                                    {% if block.settings.image != blank %}
                                  		<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.image | img_url: '116x120'}}" alt="{{block.settings.image.alt}}" class="home-logo-list__img lazyloaded lazy2">
                                    {% else %}
                                        <div class="home-logo-list__placeholder">
                                            <div class="home-logo-list__placeholder__wrapper lazyload">
                                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                            </div>
                                        </div>
                                    {% endif %}

                                {% unless block.settings.link == blank %}
                                </a>
                                {% endunless %}
                            </div>
                        {% endfor %}

                    </div>
                </div>

                {% unless section.settings.link == blank %}
                    <div class="section__link section__link--center">
                        <a href="{{ section.settings.link }}" class="link link--arrow section__link-link">{{ section.settings.link_title | escape }}</a>
                    </div>
                {% endunless %}

            </div>
        </div>
    </section>
{% endif %}

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% schema %}
{
    "name": "Logo list",
    "class": "js-section__home-logo-list",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Logo list"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "Text"
        },
        {
            "type": "range",
            "id": "grid",
            "label": "Logos per row",
            "min": 3,
            "max": 5,
            "step": 1,
            "default": 4
        },
        {
            "type": "select",
            "id": "style_desktop",
            "label": "Desktop layout",
            "default": "carousel",
            "options": [
                {
                    "label": "Carousel",
                    "value": "carousel"
                },
                {
                    "label": "Grid",
                    "value": "grid"
                }
            ]
        },
        {
            "type": "select",
            "id": "style_mobile",
            "label": "Mobile layout",
            "default": "carousel",
            "options": [
                {
                    "label": "Carousel",
                    "value": "carousel"
                },
                {
                    "label": "Grid",
                    "value": "grid"
                }
            ]
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Link label",
            "default": "Shop now"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#ffffff"
        },
        {
            "type": "select",
            "id": "content_style",
            "label": "Text color",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "default-light",
                    "label": "Default light"
                },
                {
                    "value": "dark",
                    "label": "Dark"
                },
                {
                    "value": "light",
                    "label": "Light"
                }
            ],
            "default": "default"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Logo",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Logo list",
            "category": "Image",
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}