<style>
.section--{{ section.id }} .home-carousel__bg:before,
.section--{{ section.id }} .home-carousel__video:before {
    {% if section.settings.overlay_strength == 100 %}
        opacity: 1;
    {% else %}
        opacity: .{{ section.settings.overlay_strength }};
    {% endif %}
}
</style>
{% if section.blocks.size > 0 %}
<section class="section section--{{ section.id }}{% if section.settings.slideshow_width == 'full' %} section--full{% endif %}" data-section-id="{{ section.id }}" data-section-type="home-carousel">
    {% if section.settings.slideshow_width == 'contained' %}<div class="container container--mob-0">{% endif %}
        <div class="home-carousel home-carousel--{{ section.settings.slideshow_style }} home-carousel--title-{{ section.settings.title_size }} js-home-carousel {% if section.settings.slideshow_width == 'full' %}home-carousel--full{% endif %}" data-autoplay="{{ section.settings.autoplay }}" data-slick='{"autoplay": {{ section.settings.autoplay }}, "autoplaySpeed": {{ section.settings.autoplay_speed }}000}'>

            {% for block in section.blocks %}
            <div {{ block.shopify_attributes }}>
                <div class="home-carousel__item home-carousel__item--{{ block.id }} home-carousel__item--middle home-carousel__item--{{ block.settings.alignment }} home-carousel__item--{{ block.settings.text_color }} home-carousel__item--{{ section.settings.slideshow_height }}" data-slide-id="{{ forloop.index0 }}">

                    {% unless block.settings.bg_video == blank %}

                        <div class="home-carousel__bg-wrapper">
                            {% if block.settings.video_image == blank %}
                                <div class="home-carousel__bg home-carousel__bg--{{ section.id }}{{ forloop.index0 }} u-bg-cover u-bg-overlay" style="background-image:url('https://img.youtube.com/vi/{{ block.settings.bg_video.id }}/sddefault.jpg');"></div>
                            {% else %}
                                <div class="home-carousel__bg home-carousel__bg--{{ section.id }}{{ forloop.index0 }} u-bg-cover u-bg-overlay lazyload"
                                    data-bgset="{% include 'bgset', image: block.settings.video_image %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url('{{ block.settings.video_image | img_url: '300x300' }});"></div>
                            {% endif %}
                        </div>

                        <div class="home-carousel__video u-bg-overlay js-home-carousel-video">

                            {% if block.settings.video_image == blank %}
                                <div class="home-carousel__video-cover home-carousel__video-cover--{{ section.id }}{{ forloop.index0 }}" style="background-image:url('https://img.youtube.com/vi/{{ block.settings.bg_video.id }}/sddefault.jpg');"></div>
                            {% else %}
                                <div class="home-carousel__video-cover home-carousel__video-cover--{{ section.id }}{{ forloop.index0 }} lazyload js"
                                    data-bgset="{% include 'bgset', image: block.settings.video_image %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url('{{ block.settings.video_image | img_url: '300x300' }});"></div>
                                <noscript>
                                    <div class="home-carousel__video-cover home-carousel__video-cover--{{ section.id }}{{ forloop.index0 }}"
                                        style="background-image: url('{{ block.settings.video_image | img_url: '1400x' }});">
                                    </div>
                                </noscript> 
                            {% endif %}

                            <div id="yt-{{ section.id }}_{{ forloop.index0 }}"
                                class="js-home-carousel-video-data"
                                data-player-id="player_{{ section.id }}_{{ forloop.index0 }}"
                                data-video-id="{{block.settings.bg_video.id}}"
                                data-elem-id="yt-{{ section.id }}_{{ forloop.index0 }}"
                                tabindex="-1" 
                            ></div> 
                        </div>
                    {% else %}
                        {% unless block.settings.image == blank %}

                            {% if block.settings.image_mobile %}
                                <style type="text/css">
                                @media (max-width: 540px) {
                                    .home-carousel__bg--{{ section.id }}{{ forloop.index0 }} {
                                        background-image:url('{{ block.settings.image_mobile | img_url: '800x800', crop: 'center' }}') !important;
                                    }
                                }
                                </style>
                            {% endif %}
                            <div class="home-carousel__bg-wrapper">
                                <div class="home-carousel__bg home-carousel__bg--{{ section.id }}{{ forloop.index0 }} u-bg-cover u-bg-overlay lazyload js"
                                    data-bgset="{% include 'bgset', image: block.settings.image %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-position: center {{ block.settings.image_alignment }};background-image: url('{{ block.settings.image | img_url: '300x300' }});"></div>
                                <noscript>
                                    <div class="home-carousel__bg home-carousel__bg--{{ section.id }}{{ forloop.index0 }} u-bg-cover u-bg-overlay" 
                                        style="background-position: center {{ block.settings.image_alignment }};background-image: url('{{ block.settings.image | img_url: '1400x' }});">
                                    </div> 
                                </noscript>
                            </div>

                        {% else %}
                            <div class="home-carousel__bg u-bg-cover u-bg-overlay">
                                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                        {% endunless %}
                    {% endunless %}

                    {% unless block.settings.title == blank and block.settings.text == blank and block.settings.link == blank %}
                        <div class="home-carousel__content{% if block.settings.link != blank %} home-carousel__content--btn{% endif %}">
                            {% unless block.settings.title == blank %}
                                <div class="home-carousel__title section__title h2">
                                    <h2 class="section__title-text">{{ block.settings.title | escape }}</h2>
                                </div>
                            {% endunless %}
                            {% unless block.settings.text == blank %}
                                <div class="home-carousel__text rte">{{ block.settings.text }}</div>
                            {% endunless %}
                            {% unless block.settings.link == blank %}
                                <a href="{{ block.settings.link }}" class="home-carousel__btn c-btn c-btn--primary c-btn--{{ block.settings.text_color }} c-btn--arrow">{{ block.settings.link_title | escape }}</a>
                            {% endunless %}
                        </div>
                    {% endunless %}

                </div>
            </div>
            {% endfor %}

        </div>
    {% if section.settings.slideshow_width == 'contained' %}</div>{% endif %}
</section>
{% endif %}

{% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
    </div>
{% endif %}

{% schema %}
{
    "name": "Slideshow",
    "class": "js-section__home-slider",
    "max_blocks": 5,
    "settings": [
        {
            "type": "select",
            "id": "slideshow_style",
            "label": "Style",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Semi-opaque",
                    "value": "semi"
                },
                {
                    "label": "Minimal",
                    "value": "minimal"
                }
            ]
        },
        {
            "type": "range",
            "id": "title_size",
            "label": "Heading size",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Auto-rotate slides",
            "default": true
        },
        {
            "type": "range",
            "id": "autoplay_speed",
            "label": "Change slides every",
            "unit": "sec",
            "min": 5,
            "max": 10,
            "step": 1,
            "default": 8
        },
        {
            "type": "select",
            "id": "slideshow_height",
            "label": "Section height",
            "default": "medium",
            "options": [
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "select",
            "id": "slideshow_width",
            "label": "Section width",
            "default": "contained",
            "options": [
                {
                    "label": "Contained",
                    "value": "contained"
                },
                {
                    "label": "Full",
                    "value": "full"
                }
            ]
        },
        {
            "type": "range",
            "id": "overlay_strength",
            "label": "Overlay strength",
            "unit": "%",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 10
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "1400px width recommended."
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Mobile image",
                    "info": "Alternative image for mobile devices. 800px width recommended."
                },
                { 
                    "type": "select",
                    "id": "image_alignment",
                    "label": "Image alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Text alignment",
                    "default": "left",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_color",
                    "label": "Text color",
                    "default": "default",
                    "options": [
                        {
                            "value": "default",
                            "label": "Default"
                        },
                        {
                            "value": "default-light",
                            "label": "Default light"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        },
                        {
                            "value": "white",
                            "label": "Light"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Image slide"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Subheading",
                    "default": "<p>Use these slides to tell the world about your brand. Use images or background video along with text and links.</p>"
                },
                {
                    "type": "text",
                    "id": "link_title",
                    "label": "Button label",
                    "default": "More info"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Button link"
                }
            ]
        },
        {
            "type": "video",
            "name": "Video slide",
            "settings": [
                {
                    "type": "video_url",
                    "id": "bg_video",
                    "label": "YouTube video link",
                    "accept": [
                        "youtube"
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "video_image",
                    "label": "Image",
                    "info": "A fallback image is required for devices that don’t support background video."
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Text alignment",
                    "default": "left",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_color",
                    "label": "Text color",
                    "default": "default",
                    "options": [
                        {
                            "value": "default",
                            "label": "Default"
                        },
                        {
                            "value": "default-light",
                            "label": "Default light"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        },
                        {
                            "value": "white",
                            "label": "Light"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Video slide"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Subheading",
                    "default": "<p>Use these slides to tell the world about your brand. Use images or background video along with text and links.</p>"
                },
                {
                    "type": "text",
                    "id": "link_title",
                    "label": "Button label",
                    "default": "More info"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Button link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Slideshow",
            "category": "Image",
            "settings": {
                "autoplay": true,
                "autoplay_speed": 8
            },
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}