{%- assign product = all_products[section.settings.featured_product] -%}
{% if product.empty? %}
    {%- assign section_onboarding = true -%}
{% endif %}
<section class="section section--{{ section.id }} section--product-featured section--full-bg section--no-bg" data-section-id="{{ section.id }}" data-section-type="product-featured" itemscope itemtype="http://schema.org/Product" data-enable-history-state="false" {% if section_onboarding %}data-section-onboarding="true"{% endif %}>
    <meta itemprop="name" content="{{ product.title }}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'master' }}">
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% unless section_onboarding %}
        {%- assign price = current_variant.price -%}
        {%- assign available = current_variant.available -%}
    {% else %}
        {%- assign price = 1999 -%}
        {%- assign available = true -%}
    {% endunless %}
    <div class="product-featured product-featured--{{ product.id }} product-featured--{{ section.settings.content_align }} js-product-{{ product.id }}">
        <div class="container container--medium">
            <div class="o-layout o-layout--flush u-flex u-flex--middle{% if section.settings.content_align == 'reverse' %} o-layout--reverse{%  endif %}">
                <div class="o-layout__item u-1/1 u-1/2@tab">
                    {% unless section_onboarding %}
                        <div class="product-featured__photo-wrapper">
                            <div class="product-featured__photo js-product-slider" data-slider-id="1">
                                {% for image in product.images %}
                                    <div class="product-featured__photo__item" data-variant-id="{% for variant in image.variants %}{{ variant.id }}{% endfor %}" data-slide-id="{{ forloop.index0 }}">
										{%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
										<img class="product-featured__photo__img lazyloaded js lazy2"
											src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
											data-src="{{ image.src | img_url: '600x' }}"
											data-sizes="auto"
											alt="{{ image.alt | escape }}">
                                        <noscript><img class="product-featured__photo__img" src="{{ image.src | img_url: '900x' }}" alt="{{ image.alt | escape }}">
                                        </noscript>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="product-featured__photo-wrapper">
                            <div class="product-featured__photo">
                                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                        </div>
                    {% endunless %}
                    <div class="spinner__wrap js-product-slider-spinner">
                        <span class="spinner"></span>
                    </div>
                </div>
                <div class="o-layout__item u-1/1 u-1/2@tab">
                    <div class="product-featured__details">
                        <div class="section__title{% if section.settings.show_vendor %} section__title--vendor{% endif %}">
                            <h2 itemprop="name" class="section__title-text product-featured__title-text">{% unless section_onboarding %}{{ product.title }}{% else %}{{ 'homepage.onboarding.product_title' | t }}{% endunless %}</h2>
                            {% if section.settings.show_vendor %}
                                <h4 class="section__title-desc product-featured__title-desc">{% unless section_onboarding %}{{ product.vendor | link_to_vendor }}{% else %}{{ 'homepage.onboarding.product_vendor' | t }}{% endunless %}</h4>
                            {% endif %}
                        </div>
                        <div class="product-featured__content">
                            <div class="product-featured__content-text rte" itemprop="description">
                                {% unless section_onboarding %}
                                    {{ product.description | strip_html | truncatewords: 20 }}
                                    <a href="{{ product.url }}">{{ 'homepage.onboarding.product_more_label' | t }}</a>
                                {% else %}
                                    <p>{{ 'homepage.onboarding.product_text' | t }}</p>
                                {% endunless %}
                            </div>
                        </div>
                        <div class="product-featured__meta" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                            {% unless section_onboarding %}
                                {% capture 'product_id_attr' %}js-product-form--{{ product.id }}{% endcapture %}
                                {% form 'product', product, data-productid: product.id, class: "js-product-form", id:product_id_attr %}
<!-- Begin ReCharge code -->
{% if product.available %}{% include 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->
                                    <div class="product-featured__price js-product-price">
                                        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                                        {% if available %}
                                            <link itemprop="availability" href="http://schema.org/InStock" />
                                        {% else %}
                                            <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                        {% endif %}
                                        <h3 class="product-featured__price-text js-product-price-text">
                                            <span class="u-hidden-visually">{{ 'products.general.regular_price' | t }}</span>
                                            <span class="js-product-price-number">
                                                <span class="product-featured__price-number{% if product.compare_at_price_max > product.price %} product-featured__price-number--sale{% endif %}" itemprop="price"><span class="money">{{ price | money }}</span></span>
                                            </span>
                                            {% if product.compare_at_price_max > product.price %}
                                                <span class="u-hidden-visually">{{ 'products.general.sale_price' | t }}</span>
                                                <span class="js-product-price-compare">
                                                    <s class="product-featured__price-compare"><span class="money">{{ current_variant.compare_at_price | money }}</span></s>
                                                </span>
                                            {% endif %}
                                        </h3>
                                        {% if settings.product_reviews %}
                                            <div class="product-featured__reviews">
                                              	<span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" style="display:block;">{{ product.metafields.stamped.badge }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="product-featured__variant">
                                        <select name="id" data-productid="{{ product.id }}" id="productSelect-{{ section.id }}" class="product-featured__variant-select">
                                            {% for variant in product.variants %}
                                                {% if variant.available %}
                                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>
                                                {% else %}
                                                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% if section.settings.show_quantity_selector %}
                                        <div class="product-featured__qty">
                                            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                                            <div class="product-featured__qty-input">
                                                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="product-featured__add js-product-buttons{% unless product.available %} product-featured__add--sold{% endunless %}{% if section.settings.enable_payment_button %} product-featured__add--smart{% endif %}">
                                        <button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--{% if section.settings.enable_payment_button %}light{% else %}primary{% endif %} product-featured__add-btn js-product-add">
                                            <span id="AddToCartText" class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                                        </button>
                                        {% if section.settings.enable_payment_button %}
                                            {{ form | payment_button }}
                                        {% endif %}
                                    </div>
                                {% endform %}
                            {% else %}
                                <form class="js-product-form" id="js-product-form-{{ product.id }}">
                                    <div class="product-featured__price js-product-price">
                                        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                                        <link itemprop="availability" href="http://schema.org/InStock" />
                                        <h3 class="product-featured__price-text js-product-price-text">
                                            <span class="u-hidden-visually">{{ 'products.general.regular_price' | t }}</span>
                                            <span class="js-product-price-number">
                                                <span class="product-featured__price-number" itemprop="price"><span class="money">{{ price | money }}</span></span>
                                            </span>
                                        </h3>
                                    </div>
                                    {% if section.settings.show_quantity_selector %}
                                        <div class="product-featured__qty">
                                            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                                            <div class="product-featured__qty-input">
                                                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="product-featured__add">
                                        <button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--{% if section.settings.enable_payment_button %}light{% else %}primary{% endif %} product-featured__add-btn js-product-add" disabled>
                                            <span id="AddToCartText" class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                                        </button>
                                    </div>
                                </form>
                            {% endunless %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="application/json" id="ProductJson-{{ section.id }}">
    {% unless section_onboarding %}
        {{ product | json }}
    {% else %}
        {"onboarding": true}
    {% endunless %}
</script>
<script>
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';

    {% unless section_onboarding %}
        setTimeout(function(){
            theme.productSelect('{{ section.id }}','featured', false);
        });
    {% endunless %}
</script>
{% schema %}
{
    "name": "Featured product",
    "class": "js-section__home-product",
    "settings": [
        {
            "type": "product",
            "id": "featured_product",
            "label": "Product"
        },
        {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show vendor",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
        },
        {
            "type": "select",
            "id": "content_align",
            "label": "Image alignment",
            "options": [
                {
                    "value": "default",
                    "label": "Left"
                },
                {
                    "value": "reverse",
                    "label": "Right"
                }
            ],
            "default": "default"
        }
    ],
    "presets": [
        {
            "name": "Featured product",
            "category": "Product"
        }
    ]
}
{% endschema %}