<style>
.mobile-draw,
.mobile-draw .mfp-close {
    background-color: {{ settings.color_drawer_bg }};
}
.mobile-draw__currency {
    background-color: {{ settings.color_drawer_bg | color_darken: 5 }};   
}
</style>
<div class="mobile-draw mobile-draw--{{ settings.color_drawer_style }} js-menu-draw mfp-hide">
    {% if settings.show_multiple_currencies %}
        <div class="mobile-draw__currency">
            <a href="#" class="mobile-draw__currency-toggle js-currency-trigger"><span class="js-currency-trigger-text">{{ shop.currency }}</span><i class="icon icon--up"></i></a>
            <div class="mobile-draw__currency-box js-currency-box">
                <span id="currencies" class="mobile-draw__currency-items">
                    {% assign currencies = settings.supported_currencies | split: " "  %}
                    {% for currency in currencies %}
                        <a href="#" data-currency="{{ currency }}" class="mobile-draw__currency-item js-currency-item {% if shop.currency == currency %}selected {% endif %}">{{ currency }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    {% endif %}
    <div class="mobile-draw__wrapper">    
        <nav class="mobile-draw__nav mobile-nav">
            <ul class="mobile-nav__items o-list-bare">
                {% for link in linklists[section.settings.main_linklist].links %}
                    {% capture parentIndex %}{{ forloop.index }}{% endcapture %}
                    <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}{% if link.links != blank %} mobile-nav__item--sub{% endif %}"{% if link.links != blank %} aria-has-popup="true" aria-expanded="false" aria-controls="mobile-sub-{{ forloop.index }}"{% endif %}>
                        <a href="{% if link.links != blank %}#mobile-sub-{{ forloop.index }}{% else %}{{ link.url }}{% endif %}" class="mobile-nav__link{% if link.links != blank %} mobile-nav__link--sub js-toggle-trigger{% endif %}">{{ link.title }}</a>
                        {% if link.links != blank %}
                            <div class="mobile-nav__sub js-toggle-target" id="mobile-sub-{{ forloop.index }}">
                                <ul class="mobile-nav__sub__items o-list-bare">
                                    {% for sub_link in link.links %}
                                        <li class="mobile-nav__sub__item{% if sub_link.active %} mobile-nav__sub__item--active{% endif %}{% if sub_link.links != blank %} mobile-nav__sub__item--sub{% endif %}"{% if link.links != blank %} aria-has-popup="true" aria-expanded="false" aria-controls="mobile-sub-t-{{ parentIndex }}-{{ forloop.index }}"{% endif %}>
                                            <a href="{% if sub_link.links != blank %}#mobile-sub-t-{{ parentIndex }}-{{ forloop.index }}{% else %}{{ sub_link.url }}{% endif %}" class="mobile-nav__sub__link{% if sub_link.links != blank %} mobile-nav__sub__link--t js-toggle-trigger{% endif %}">{{ sub_link.title | escape }}</a>
                                            {% if sub_link.links != blank %}
                                                <div class="mobile-nav__sub-t js-toggle-target" id="mobile-sub-t-{{ parentIndex }}-{{ forloop.index }}">
                                                    <ul class="mobile-nav__sub-t__items o-list-bare">
                                                        {% for sub_sub_link in sub_link.links %}
                                                            <li class="mobile-nav__sub-t__item{% if sub_sub_link.active %} mobile-nav__sub-t__item--active{% endif %}">
                                                                <a href="{{ sub_sub_link.url }}" class="mobile-nav__sub-t__link">{{ sub_sub_link.title | escape }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <li class="mobile-nav__item">
                            <a href="/account" class="mobile-nav__link">{{ 'layout.customer.account' | t }}</a>
                        </li>
                        <li class="mobile-nav__item">
                            <a href="/account/logout" class="mobile-nav__link">{{ 'layout.customer.log_out' | t }}</a>
                        </li>
                    {% else %}
                        <li class="mobile-nav__item">
                            <a href="/account/login" class="mobile-nav__link">{{ 'layout.customer.log_in' | t }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
        {% if settings.search_enable %}
            <div class="mobile-draw__search mobile-search">
                <form action="/search" method="get" class="mobile-search__form" role="search">
                    <input type="hidden" name="type" value="{{ settings.search_limit }}">
                    <input type="search" name="q" class="mobile-search__input" value="{{ search.terms | escape }}" aria-label="{{ 'general.search.placeholder' | t }}" placeholder="{{ 'general.search.placeholder' | t }}">
                    <button type="submit" class="mobile-search__submit">
                        <i class="icon icon--search" aria-hidden="true"></i>
                        <span class="icon-fallback__text">{{ 'general.search.submit' | t }}</span>
                    </button>
                </form>
            </div>
        {% endif %}
        <div class="mobile-draw__footer mobile-footer">
            {% if section.settings.show_contact_number or section.settings.show_contact_email %}
                <div class="mobile-footer__contact">
                    {% unless section.settings.contact_title == blank %}
                        <h4 class="mobile-footer__title">{{ section.settings.contact_title | escape }}</h4>
                    {% endunless %}
                    {% if section.settings.show_contact_number %}
                        <p class="mobile-footer__text"><a href="tel:{{ shop.address.phone }}" class="mobile-footer__text-link">{{ shop.address.phone }}</a></p>
                    {% endif %}    
                    {% if section.settings.show_contact_email %}
                        <p class="mobile-footer__text"><a href="mailto:{{ shop.email }}" class="mobile-footer__text-link">{{ shop.email }}</a></p>
                    {% endif %}
                </div>
            {% endif %}
            {% if section.settings.show_social %}
                <ul class="mobile-footer__social-items o-list-bare">
                    {% unless settings.social_facebook_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_facebook_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--facebook" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Facebook</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_twitter_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_twitter_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--twitter" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Twitter</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_pinterest_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_pinterest_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--pinterest" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Pinterest</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_instagram_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_instagram_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--instagram" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Instagram</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_googleplus_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_googleplus_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--google-plus" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Google+</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_tumblr_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_tumblr_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--tumblr" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Tumblr</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_snapchat_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_snapchat_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--snapchat" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Snapchat</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_youtube_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_youtube_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--youtube" aria-hidden="true"></i>
                                <span class="icon-fallback__text">YouTube</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_vimeo_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_vimeo_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--vimeo" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Vimeo</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_fancy_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_fancy_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--fancy" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Fancy</span>
                            </a>
                        </li>
                    {% endunless %}
                    {% unless settings.social_untappd_link == blank %}
                        <li class="mobile-footer__social-item">
                            <a href="{{ settings.social_untappd_link }}" class="mobile-footer__social-link icon-fallback" target="_blank">
                                <i class="icon icon--untappd" aria-hidden="true"></i>
                                <span class="icon-fallback__text">Untappd</span>
                            </a>
                        </li>
                    {% endunless %}
                </ul>
            {% endif %}
        </div>
        {% if section.settings.cta_image or section.settings.cta_title != blank or section.settings.cta_text != blank or section.settings.cta_link != blank %}
            <div class="mobile-draw__cta mobile-cta">
                {% unless section.settings.cta_image_link == blank %}
                <a href="{{ section.settings.cta_image_link }}" class="mobile-cta__image-link">
                {% endunless %}
                    {% if section.settings.cta_image %}
                        {%- assign img_url = section.settings.cta_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="mobile-cta__image lazyload"
                            src="{{ section.settings.cta_image | img_url: '300x' }}" 
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900]"
                            data-sizes="auto"
                            alt="{{ section.settings.cta_image.alt }}">
                    {% endif %}
                {% unless section.settings.cta_image_link == blank %}
                </a>
                {% endunless %}
                {% unless section.settings.cta_title == blank %}
                    <h4 class="mobile-cta__title h5">{{ section.settings.cta_title  | escape }}</h4>
                {% endunless %}
                {% unless section.settings.cta_text == blank %}
                    <div class="mobile-cta__text rte">
                        {{ section.settings.cta_text }}
                    </div>
                {% endunless %}
                {% unless section.settings.cta_link == blank %}
                    <div class="mobile-cta__link">
                        <a href="{{ section.settings.cta_link }}" class="link link--arrow">{{ section.settings.cta_link_title | escape }}</a>
                    </div>
                {% endunless %}
            </div>
        {% endif %}
    </div>
</div>
{% schema %}
{
    "name": "Sidebar menu",
    "class": "js-section__mobile-draw",
    "settings": [
        {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "main-menu"
        },
        {
            "type": "header",
            "content": "Contact info",
            "info": "Edit content in shop settings 'General'."
        },
        {
            "type": "text",
            "id": "contact_title",
            "label": "Heading",
            "default": "Contact"
        },
        {
            "type": "checkbox",
            "id": "show_contact_number",
            "label": "Show phone number",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_contact_email",
            "label": "Show email",
            "default": true
        },
        {
            "type": "header",
            "content": "Social links",
            "info": "Edit content in theme 'Theme settings > Social'."
        },
        {
            "type": "checkbox",
            "id": "show_social",
            "label": "Show social links",
            "default": true
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "cta_image",
            "label": "Image",
            "info": "600px width recommended."
        },
        {
            "type": "url",
            "id": "cta_image_link",
            "label": "Image link"
        },
        {
            "type": "text",
            "id": "cta_title",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "cta_text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "cta_link_title",
            "label": "Link label",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "cta_link",
            "label": "Link"
        }
    ]
}
{% endschema %}