<div class="powr-media-gallery" id="shopify-section-media-gallery-{{ section.id }}"></div>
{% schema %}
{
"name": "Media Gallery",
"settings": [
{
"type": "header",
"content": "Edit",
"info": "Manage Plugins on [POWr.io](https://www.powr.io)"
},
{
"type": "paragraph",
"content": "Click Edit Me in Preview to Edit Media Gallery."
},
{
"type": "paragraph",
"content": "[Need Help?](https://www.powr.io/knowledge-base)"
}
],
"presets": [
{
"name": "Media Gallery",
"category": "POWr Plugins"
}
]
}
{% endschema %}