<div itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">{% render 'preorder-now-collection-item', product: product %}
	<meta itemprop="name" content="{{ product.title }}">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'master' }}">
  
	{% assign current_variant = product.selected_or_first_available_variant %}
  
	{% case section.settings.image_size %}
	{% when 'small' %}
	{%- assign image_size = '640x' -%}
	{% when 'medium' %}
	{%- assign image_size = '820x' -%}
	{% when 'large' %}
	{%- assign image_size = '920x' -%}
	{% endcase %}
  
	<section class="section section--product-single js-product-single" data-section-id="{{ section.id }}" data-section-type="product-single">
  
	  <div class="product-single product-single--{{ section.settings.layout }} product-single--text-{{ section.settings.text_color }} product-single--{{product.id}} js-product-{{product.id}}">
		<div class="product-single__top">
  
		  {% if section.settings.show_breadcrumbs %}
		  <div class="container">
			<nav class="breadcrumb breadcrumb--product-single breadcrumb--{{ section.settings.text_color }} u-text-center js-breadcrumb" role="navigation" aria-label="breadcrumbs">
			  <ul class="breadcrumb__items o-list-bare o-list-inline"> 
				<li class="breadcrumb__item o-list-inline__item">
				  <a href="/" title="{{ 'layout.navigation.home' | t }}" class="breadcrumb__link">{{ 'layout.navigation.home' | t }}</a>        
				</li>
				{% if collection.url %}
				<li class="breadcrumb__item o-list-inline__item">
				  <a href="{{ collection.url }}" class="breadcrumb__link">{{ collection.title }}</a>
				</li>
				{% endif %}
				<li class="breadcrumb__item o-list-inline__item">
				  <span href="/" class="breadcrumb__link breadcrumb__link--current">{{ product.title }}</span>
				</li>
			  </ul>
			</nav>
		  </div>
		  {% endif %}
  
		  <div class="product-single__top-bg product-single__top-bg--{{ section.settings.bg_height }}{% if section.settings.layout == 'classic' %} js-product-bg js-product-bg--{{ section.settings.bg_height }}{% endif %}" style="background-color: {{ section.settings.bg_color }}"></div>
  
		  <div class="container container--small">
			<div class="section__title section__title--center{% if section.settings.show_vendor %} section__title--vendor{% endif %} js-product-title">
			  <h1 itemprop="name" class="section__title-text product-single__title-text">{{ product.title }}</h1>
			  <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{product.id}}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display: block;margin-top:20px;"></span>
			  {% if section.settings.show_vendor %}
			  <h4 class="section__title-desc product-single__title-desc">{{ product.vendor | link_to_vendor }}</h4>
			  {% endif %}
			</div>
		  </div>
  
		  <div class="container">
			{% if section.settings.layout == 'classic' %}
			<div class="u-hidden@desk-up" data-set="cart-photo-replace">
			  <div class="js-cart-replace">
				{% endif %}
				<div class="product-single__photo">
				  <div class="product-single__photo product-single__photo--{{ section.settings.image_size }} js-product-slider" data-slider-id="1">
					{% for image in product.images %}
					<div class="product-single__photo__item" data-variant-id="{% for variant in image.variants %}{{ variant.id }}{% endfor %}" data-slide-id="{{ forloop.index0 }}">
  
					  {% if section.settings.enable_zoom %}
					  <a href="{{ image.src | img_url: '2048x2048' }}" class="product-single__photo-zoom js-product-zoom js-no-transition">
						{% endif %}
						{%- assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_540x540.' -%}
						<img class="product-single__photo__img lazyloaded js lazy2"
							 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
							 data-src="{{ image.src | img_url: '720x' }}" 
							 data-mobsrc="{{ image.src | img_url: '480x' }}" 
							 data-sizes="auto"
							 data-ratio="{{ image.aspect_ratio }}"
							 alt="{{ image.alt | escape }}">
						<noscript>
						  <img class="product-single__photo__img"
							   src="{{ image.src | img_url: '900x' }}"
							   alt="{{ image.alt | escape }}">
						</noscript>
						{% if section.settings.enable_zoom %}
					  </a>
					  {% endif %}
  
					</div>
					{% endfor %}
				  </div>
				  {% if product.images.size > 1 %}
				  <div class="product-single__photo-thumbs js-product-single-thumbs">
					{% for image in product.images %}
					<div>Product image {{ forloop.index }}<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ image.src | img_url: '92x92', crop: 'center' }}" alt="{{ image.alt | escape }}" class="product-single__photos-thumbs__img lazyloaded lazy2"></div>
					{% endfor %}
				  </div>
				  {% endif %}
				</div>
				{% if section.settings.layout == 'classic' %}
			  </div>
			</div>
			{% endif %}
		  </div>
		</div>
  
		<div class="container container--medium">
		  <div class="product-single__bottom">
			<div class="o-layout o-layout--reverse o-layout--large">
			  <div class="o-layout__item u-1/1 u-2/5@desk">
  
				{% if section.settings.layout == 'classic' %}
				<div class="u-hidden@desk-down" data-set="cart-replace">
				  <div class="js-cart-replace">
					{% endif %}
					<div class="product-single__box js-product-single-box">
  
					  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-single__price js-product-price">
						<meta itemprop="priceCurrency" content="{{ shop.currency }}" />
						{% if product.available %}
						<link itemprop="availability" href="http://schema.org/InStock" />
						{% else %}
						<link itemprop="availability" href="http://schema.org/OutOfStock" />
						{% endif %}
  
						<h3 class="product-single__price-text js-product-price-text">
						  <span class="u-hidden-visually">{{ 'products.general.regular_price' | t }}</span>
						  <span class="js-product-price-number" data-amount2="{{ current_variant.price | money }}">
							<span class="product-single__price-number{% if product.compare_at_price_max > product.price %} product-single__price-number--sale{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}" data-amount2="{{ current_variant.price | money }}"><span class="money" data-amount2="{{ current_variant.price | money }}">{{ current_variant.price | money }}</span></span>
						  </span>
						  {% if product.compare_at_price_max > product.price %}
						  <span class="u-hidden-visually">{{ 'products.general.sale_price' | t }}</span>
						  <span class="js-product-price-compare" data-amount2="{{ current_variant.compare_at_price | money }}">
							<s class="product-single__price-compare" data-amount2="{{ current_variant.compare_at_price | money }}"><span class="money" data-amount2="{{ current_variant.compare_at_price | money }}">{{ current_variant.compare_at_price | money }}</span></s>
						  </span>
						  {% endif %}
						</h3>
					  </div>
  
					  {% capture 'product_id_attr' %}js-product-form--{{ product.id }}{% endcapture %}
					  
					  {% form 'product', product, data-productid: product.id, class: "product-single__form js-product-form", id:product_id_attr %}
					  <!-- Begin ReCharge code -->
					  {% if product.available %}{% include 'subscription-product' %}{% endif %}
					  <!-- End ReCharge code -->
  
  
					  {% if settings.product_reviews %}
					  <div class="product-single__reviews-stars">
						<a href="#acc-reviews" class="product-single__reviews-stars-link js-accordion-scroll js-accordion-trigger">
						  <!-- <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> -->
						  <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
  
						</a>
					  </div>
					  {% endif %}
  
					  <div class="product-single__variant">
						<select name="id" data-productid="{{ product.id }}" id="productSelect-1" class="product-single__variant-select">
						  {% for variant in product.variants %}
						  {% if variant.available %}
						  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>
						  {% else %}
						  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
						  {% endif %}
						  {% endfor %}
						</select>
					  </div>
  
					  {% if section.settings.show_quantity_selector %}
					  <div class="product-single__qty">
						<label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
						<div class="product-single__qty-input">
						  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
						</div>
					  </div>
					  {% endif %}
  
					  <div class="product-single__add js-product-buttons{% unless product.available %} product-single__add--sold{% endunless %}">
  
						<button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--{% if section.settings.enable_payment_button %}light{% else %}primary{% endif %} product-single__add-btn js-product-add" style="visibility: visible;">
						  <span id="AddToCartText" class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
						</button>
						
						{% if section.settings.enable_payment_button %}
						{{ form | payment_button }}
						{% endif %}
  
					  </div>
  
					  {% endform %}
  
					  {% if section.settings.show_share_buttons %}
					  {% capture share_link %}{{ shop.url }}{{ product.url }}{% endcapture %}
					  {% capture share_title %}{{ product.title | url_param_escape }}{% endcapture %}
					  {% capture share_img %}{{ product.featured_image | product_img_url: '1024x1024' }}{% endcapture %}
					  <div class="product-single__share">
						<ul class="product-single__share-items o-list-bare">
						  {% if settings.share_googleplus %}
						  <li class="product-single__share-item">
							<a href="//plus.google.com/share?url={{ share_link }}" class="product-single__share-link icon-fallback" target="_blank">
							  <i class="icon icon--google-plus" aria-hidden="true"></i>
							  <span class="icon-fallback__text">Google+</span>
							</a>
						  </li>
						  {% endif %}
						  {% if settings.share_facebook %}
						  <li class="product-single__share-item">
							<a href="//www.facebook.com/sharer.php?u={{ share_link }}" class="product-single__share-link icon-fallback" target="_blank">
							  <i class="icon icon--facebook" aria-hidden="true"></i>
							  <span class="icon-fallback__text">Facebook</span>
							</a>
						  </li>
						  {% endif %}
						  {% if settings.share_twitter %}
						  <li class="product-single__share-item">
							<a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" class="product-single__share-link icon-fallback" target="_blank">
							  <i class="icon icon--twitter" aria-hidden="true"></i>
							  <span class="icon-fallback__text">Twitter</span>
							</a>
						  </li>
						  {% endif %}
						  {% if settings.share_pinterest %}
						  <li class="product-single__share-item">
							<a href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" class="product-single__share-link icon-fallback" target="_blank">
							  <i class="icon icon--pinterest" aria-hidden="true"></i>
							  <span class="icon-fallback__text">Pinterest</span>
							</a>
						  </li>
						  {% endif %}
						  {% if settings.share_fancy %}
						  <li class="product-single__share-item">
							<a href="//www.thefancy.com/fancyit?ItemURL={{ share_link }}&Title={{ share_title }}&ImageURL={{ share_img }}" class="product-single__share-link icon-fallback" target="_blank">
							  <i class="icon icon--fancy" aria-hidden="true"></i>
							  <span class="icon-fallback__text">Fancy</span>
							</a>
						  </li>
						  {% endif %}
						  {% if settings.share_mail %}
						  <li class="product-single__share-item">
							<a href="mailto:?body={{ share_title }} - {{ share_link }}" class="product-single__share-link icon-fallback">
							  <i class="icon icon--mail" aria-hidden="true"></i>
							  <span class="icon-fallback__text">Email</span>
							</a>
						  </li>
						  {% endif %}
						</ul>
					  </div>
					  {% endif %}
					</div>
					{% if section.settings.layout == 'classic' %}
				  </div>
				</div>
				{% endif %}
  
			  </div>
			  <div class="o-layout__item u-1/1 u-3/5@desk">
  
				{% if section.settings.layout == 'classic' %}
				<div class="u-hidden@desk-down" data-set="cart-photo-replace"></div>
				<div class="u-hidden@desk-up" data-set="cart-replace"></div>
				{% endif %}
  
				<div class="product-single__content">
				  <div class="product-single__content-text rte" itemprop="description">
					{{ product.description }}
				  </div>
  
				  <div class="product-single__accordion js-accordion">
  
					{% for block in section.blocks %}
					{%- assign tab = pages[block.settings.tab_content] -%}
					{% unless tab.title == blank %}
					<a href="#acc-{{ forloop.index }}" class="product-single__accordion__title js-accordion-trigger">
					  <h4 class="product-single__accordion__title-text">{{ tab.title }}</h4>
					  <span class="product-single__accordion__title-icon icon-fallback">
						<i class="icon icon--plus" aria-hidden="true"></i>
						<span class="icon-fallback__text">{{ 'products.layout.tab_label' | t }}</span>
					  </span>
					</a>
					<div id="acc-{{ forloop.index }}" class="product-single__accordion__item js-accordion-info">
					  <div class="product-single__accordion__item-wrap rte">
						{{ tab.content }}
					  </div>
					</div>
					{% endunless %}
					{% endfor %}
  
					{% if settings.product_reviews %}
					<a href="#acc-reviews" class="product-single__accordion__title js-accordion-trigger js-review-accordion">
					  <h4 class="product-single__accordion__title-text">{{ 'products.layout.reviews' | t }}</h4>
					  <span class="product-single__accordion__title-icon icon-fallback">
						<i class="icon icon--plus" aria-hidden="true"></i>
						<span class="icon-fallback__text">{{ 'products.layout.tab_label' | t }}</span>
					  </span>
					</a>
					<div id="acc-reviews" class="product-single__accordion__item js-accordion-info">
					  <div class="product-single__accordion__item-wrap rte">
						<div class="product-single__reviews">
						  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
						</div>
					  </div>
					</div>
					{% endif %}
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
  
	{% if section.settings.show_related_products == true %} 
	{% assign number_of_related_products_per_row = section.settings.related_grid_num %}
	{% assign number_of_rows = section.settings.related_grid_row %}
  
	{% comment %}
	Set either or both to true, if you want to limit yourself to items with same vendor, and/or type.
	{% endcomment %}
	{% assign same_vendor = false %}
	{% assign same_type = false %}
  
	{% comment %}
	Collections to ignore. Never pick related items from those.
	{% endcomment %}
	{% assign exclusions = 'frontpage,all' | split: ',' %}
  
	{% comment %}
	Looking for a relevant collection.
	{% endcomment %}
	{% if product.metafields.c_f['Related Products'] %}
	{% assign collection = collections[product.metafields.c_f['Related Products']] %}
	{% endif %}
  
	{% assign found_a_collection = false %}
	{% if collection and collection.all_products_count > 1 %}
	{% unless exclusions contains collection.handle %}
	{% assign found_a_collection = true %}
	{% endunless %}
	{% endif %}
	{% unless found_a_collection %}
	{% for c in product.collections %}
	{% unless exclusions contains c.handle or c.all_products_count < 2 %}
	{% assign found_a_collection = true %}
	{% assign collection = c %}
	{% break %}
	{% endunless %}
	{% endfor %}
	{% endunless %}
  
	{% comment %}
	If we have a relevant collection.
	{% endcomment %}
	{% if found_a_collection %}
  
	{% assign counter = 0 %}
	{% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
	{% assign current_product = product %}
  
	{% case number_of_related_products_per_row %}
	{% when 2 %}
	{% if section.settings.related_mobile_layout == 'carousel' %}
	{%- assign grid_item_width = 'u-1/2@tab' -%}
	{% else %}
	{%- assign grid_item_width = 'u-1/1 u-1/2@phab' -%}
	{% endif %}
	{%- assign image_size = '800x' -%}
	{% when 3 %}
	{% if section.settings.related_mobile_layout == 'carousel' %}
	{%- assign grid_item_width = 'u-1/3@tab' -%}
	{% else %}
	{%- assign grid_item_width = 'u-1/1 u-1/2@phab u-1/3@tab' -%}
	{% endif %}
	{%- assign image_size = '550x' -%}
	{% when 4 %}
	{% if section.settings.related_mobile_layout == 'carousel' %}
	{%- assign grid_item_width = 'u-1/3@tab u-1/4@desk' -%}
	{% else %}
	{%- assign grid_item_width = 'u-1/2 u-1/3@tab u-1/4@desk' -%}
	{% endif %}
	{%- assign image_size = '400x' -%}
	{% endcase %}
  
	{% capture related_items %}
	{% for product in collection.products %}
	{% unless product.handle == current_product.handle %}
	{% unless same_vendor and current_product.vendor != product.vendor %}
	{% unless same_type and current_product.type != product.type %}
	<div class="o-layout__item {{ grid_item_width }}">
	  {% include 'product-grid-item', grid_image_width: image_size %}
	</div>
	{% assign counter = counter | plus: 1 %}
	{% if counter == break_at %}
	{% break %}
	{% endif %}
	{% endunless %}
	{% endunless %}
	{% endunless %}
	{% endfor %}
	{% endcapture %}
  
	{% assign related_items = related_items | trim %}
  
	{% unless related_items == blank %}
	<section class="section section--related-products">
	  <div class="container container--medium">
		{% unless section.settings.related_title == blank %}
		<div class="section__title section__title--center">
		  <h2 class="section__title-text">{{ section.settings.related_title | escape }}</h2>
		</div>
		{% endunless %}
	  </div>
	  <div class="container{% if section.settings.related_mobile_layout == 'carousel' %} container--mob-0{% endif %}">
		<div class="related-products js-related-products" data-section-id="{{ section.id }}">
		  <div class="o-layout o-layout--center{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.related_grid_num == 4 %} o-layout--small{% endif %}{% if section.settings.related_mobile_layout == 'carousel' %} layout-slider js-layout-slider js-layout-slider-{{ section.id }}{% endif %}">
			{{ related_items }}
		  </div>
		</div>
	  </div>
	</section>
	{% endunless %}

	{% endif %}
	{% endif %}
  </div>

  {% schema %}
  {
  "name": "Product page",
  "class": "js-section__product-single",
  "max_blocks": 3,
  "settings": [
  {
  "type": "header",
  "content": "Gallery settings"
  },
  {
  "type": "checkbox",
  "id": "enable_zoom",
  "label": "Enable image zoom",
  "default": true
  },
  {
  "type": "select",
  "id": "layout",
  "label": "Layout",
  "options": [
  {
  "value": "full",
  "label": "Full width"
  },
  {
  "value": "classic",
  "label": "Classic"
  }
  ],
  "default": "full"
  },
  {
  "type": "color",
  "id": "bg_color",
  "label": "Background color",
  "default": "#ffffff" 
  },
  {
  "type": "select",
  "id": "text_color",
  "label": "Text color",
  "options": [
  {
  "value": "default",
  "label": "Default"
  },
  {
  "value": "default-light",
  "label": "Default light"
  },
  {
  "value": "dark",
  "label": "Dark"
  },
  {
  "value": "light",
  "label": "Light"
  }
  ],
  "default": "default"
  },
  {
  "type": "select",
  "id": "bg_height",
  "label": "Background height",
  "options": [
  {
  "value": "default",
  "label": "Default"
  },
  {
  "value": "full",
  "label": "Full"
  }
  ],
  "default": "default"
  },
  {
  "type": "select",
  "id": "image_size",
  "label": "Image size",
  "options": [
  {
  "value": "small",
  "label": "Small"
  },
  {
  "value": "medium",
  "label": "Medium"
  },
  {
  "value": "large",
  "label": "Large"
  }
  ],
  "default": "medium"
  },
  {
  "type": "header",
  "content": "Theme settings"
  },
  {
  "type": "checkbox",
  "id": "show_breadcrumbs",
  "label": "Show breadcrumbs",
  "default": false
  },
  {
  "type": "checkbox",
  "id": "show_vendor",
  "label": "Show vendor",
  "default": false
  },
  {
  "type": "checkbox",
  "id": "show_quantity_selector",
  "label": "Show quantity selector",
  "default": false
  },
  {
  "type": "checkbox",
  "id": "enable_payment_button",
  "label": "Show dynamic checkout button",
  "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
  "default": false
  },
  {
  "type": "checkbox",
  "id": "show_share_buttons",
  "label": "Show social sharing buttons",
  "default": true
  },
  {
  "type": "header",
  "content": "Related products settings"
  },
  {
  "type": "checkbox",
  "id": "show_related_products",
  "label": "Enable related products",
  "default": false
  },
  {
  "id": "related_title",
  "type": "text",
  "label": "Heading",
  "default": "Related products"
  },
  {
  "type": "select",
  "id": "related_mobile_layout",
  "label": "Mobile layout",
  "default": "carousel",
  "options": [
  {
  "value": "carousel",
  "label": "Carousel"
  },
  {
  "value": "grid",
  "label": "Grid"
  }
  ]
  },
  {
  "type": "range",
  "id": "related_grid_num",
  "label": "Products per row",
  "min": 2,
  "max": 4,
  "step": 1,
  "default": 3
  },
  {
  "type": "range",
  "id": "related_grid_row",
  "label": "Rows",
  "min": 1,
  "max": 3,
  "step": 1,
  "default": 1
  }
  ],
  "blocks": [
  {
  "type": "text",
  "name": "Global tab",
  "settings": [
  {
  "type": "page",
  "id": "tab_content",
  "label": "Tab content",
  "info": "Select page that will populate tab with content."
  }
  ]
  }
  ]
  }
{% endschema %}