{% comment %}Create variable so delay can be re-set if form has message{% endcomment %}
{%- assign popup_delay = section.settings.delay -%}

<div class="promo-pop js-promo-pop{% unless section.settings.enable %} promo-pop--disabled{% endunless %}" data-promo-enabled="{{ section.settings.enable }}" data-promo-delay="{{ popup_delay }}000" data-promo-expiry="{{ section.settings.expiry }}">    
    <a href="#" class="promo-pop__close js-promo-pop-close icon-fallback">
        <i class="icon icon--close" aria-hidden="true"></i>
        <span class="icon-fallback__text">{{ 'layout.drawers.close' | t }}</span>
    </a>

    <div class="promo-pop__wrapper">    
        <div class="promo-pop__content">

            {% unless section.settings.title == blank %}
                <div class="section__title promo-pop__title">
                    <h4 class="section__title-text">{{ section.settings.title | escape }}</h4>
                </div>
            {% endunless %}

            {% unless section.settings.text == blank %}
                <div class="promo-pop__desc rte">{{ section.settings.text }}</div>              
            {% endunless %}

            {% if section.settings.enable_newsletter %}
                <div class="promo-pop__form">
                    {% form 'customer' %} 
                        {{ form.errors | default_errors }}
                        {% if form.posted_successfully? %}
                            {% comment %}Set delay to 0 so form message is visible instanlty{% endcomment %}
                            {%- assign popup_delay = 0 -%}
                            <div class="promo-pop__form-message">
                                <h4 class="promo-pop__form-message__text">{{ 'general.newsletter_form.confirmation' | t }}</h4>
                            </div>
                        {% else %}
                            <div class="promo-pop__fieldset">
                                <input type="hidden" name="contact[tags]" value="newsletter">
                                <input type="email"
                                        name="contact[email]"
                                        id="Email"
                                        class="promo-pop__fieldset-item promo-pop__input"
                                        value="{% if customer %}{{ customer.email }}{% endif %}"
                                        placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                                        autocorrect="off"
                                        autocapitalize="off">
                            
                                <button type="submit" class="c-btn c-btn--primary c-btn--arrow promo-pop__fieldset-item promo-pop__btn" name="commit" id="Subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
                            </div>
                        {% endif %}
                    {% endform %}
                </div> 
            {% endif %}

            {% unless section.settings.link == blank %}
                <a href="{{ section.settings.link }}" class="c-btn c-btn--primary c-btn--arrow c-btn--full promo-pop__link">{{ section.settings.link_title | escape }}</a>
            {% endunless %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Popup",
    "class": "js-section__promo-pop",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable",
            "label": "Enable",
            "default": false,
            "info": "The popup does not display on mobile devices. For more information [click here](https://support.safeasmilk.co/article/46-popup-learn-why-it-is-disabled-on-mobile-devices)."
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Popup"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this popup to embed a mailing list sign up form. Alternatively use it as a simple call to action with a link to a product or a page.</p>"
        },
        {
            "type": "text",
            "id": "link_title",
            "label": "Button label",
            "default": "More info"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Button link"
        },
        {
            "type": "header",
            "content": "Display settings"
        },
        {
            "type": "range",
            "id": "delay",
            "label": "Popup delay",
            "unit": "sec",
            "min": 1,
            "max": 15,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "expiry",
            "label": "Popup expiry",
            "info": "Number of days before popup re-appears",
            "unit": "day",
            "min": 3,
            "max": 30,
            "step": 1,
            "default": 7
        },
        {
            "type": "header",
            "content": "Newsletter"
        },
        {
            "type": "paragraph",
            "content": "Every sign up will create a 'Customer account' in this store. [Manage customers](/admin/customers?query=&accepts_marketing=1)"
        },
        {
            "type": "checkbox",
            "id": "enable_newsletter",
            "label": "Enable newsletter",
            "default": true
        }
    ]
}
{% endschema %}