/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.hdxfhd { display: block; margin-right: 10px; float: left; }
.hdxfhd[contenteditable="true"] { user-select: text; }
.hdxfhd { vertical-align: baseline; word-break: break-word; }
.hdxfhd:focus { outline: none; }
.hdxfhd::after { display: inline; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.hHSLcU > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable]:empty::after { display: inline; }
.hHSLcU ol, .hHSLcU ul { list-style-position: inside; }
.hHSLcU blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.detHrZ { margin: 0px -15px; }
.detHrZ .pf-c { padding: 15px; }
.detHrZ .blog__infos h3 a, .detHrZ .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.detHrZ .blog__image img { vertical-align: middle; width: 100%; }
.detHrZ .article--horizontal { display: -webkit-flex; }
.detHrZ .article--horizontal h3 { margin: 0px 0px 10px; }
.detHrZ .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.detHrZ .article--horizontal .blog__image { flex: 1 1 0%; }
.detHrZ .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.detHrZ .blog__metas { margin-bottom: 12px; font-size: 12px; }
.detHrZ .blog__metas span + span { margin-left: 10px; }
.detHrZ .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.detHrZ.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.detHrZ.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.jhYSjM { text-align: center; width: 100%; }
.jhYSjM a { width: 32px; height: 32px; display: inline-block; line-height: 32px; margin: 4px; font-size: 12px; border-radius: 2px; border: 1px solid transparent; text-decoration: none; }
.jhYSjM a.pf-cmIatv { pointer-events: none; border: 1px solid rgb(213, 221, 234); font-weight: bold; }
.jhYSjM a:not(.pf-cmIldm):hover { border-color: rgb(213, 221, 234); }
.jhYSjM .pf-cmIldm { width: fit-content; border-bottom: 1px solid; font-weight: bold; border-radius: 0px; text-transform: uppercase; text-decoration: none; }
.jhYSjM .pf-cmIldm[disabled] { opacity: 0.5; border: 0px; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.bbsWml { position: relative; display: flex; margin-top: 10px; }
.bbsWml .icon-left { transform: rotate(180deg); }
.bbsWml .icon-right { right: 0px; }
.bbsWml .icon-left:hover, .bbsWml .icon-right:hover { opacity: 0.5; }
.bbsWml .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.bbsWml .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 467px; }
.bbsWml .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.bbsWml .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 75.4px; height: 83.4px; float: left; }
.bbsWml .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.bbsWml .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .bbsWml { display: none; }
}
.bTSrzq { position: relative; display: flex; margin-top: 10px; }
.bTSrzq .icon-left { transform: rotate(180deg); }
.bTSrzq .icon-right { right: 0px; }
.bTSrzq .icon-left:hover, .bTSrzq .icon-right:hover { opacity: 0.5; }
.bTSrzq .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.bTSrzq .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 411px; }
.bTSrzq .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.bTSrzq .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 64.2px; height: 72.2px; float: left; }
.bTSrzq .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.bTSrzq .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .bTSrzq { display: none; }
}
.gmWBgT { position: relative; display: flex; margin-top: 10px; }
.gmWBgT .icon-left { transform: rotate(180deg); }
.gmWBgT .icon-right { right: 0px; }
.gmWBgT .icon-left:hover, .gmWBgT .icon-right:hover { opacity: 0.5; }
.gmWBgT .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 355px; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 53px; height: 61px; float: left; }
.gmWBgT .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.gmWBgT .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .gmWBgT { display: none; }
}
.kZYFQD { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .kZYFQD { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .kZYFQD { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .kZYFQD { display: var(--pf-d-xs); }
}
.kZYFQD img { border-radius: 4px; object-fit: contain; width: 100%; }
.kZYFQD a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .kZYFQD { margin: 0px; }
}
.geuAXS { overflow: hidden; user-select: none; }
.kkgvSC { position: absolute; bottom: 5%; display: flex; z-index: 2; }
.kkgvSC span { background-color: rgb(255, 255, 255); border: 1px solid rgb(85, 85, 85); width: 10px; height: 10px; border-radius: 10px; opacity: 0.5; }
.kkgvSC span[data-active="true"] { background-color: rgb(85, 85, 85); opacity: 1; }
.kkgvSC span:not(:last-child) { margin-right: 5px; }
.jKvUwv { position: relative; }
.kuHLLu { position: relative; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.kuHLLu.kuHLLu img { position: absolute; object-fit: cover; height: 100%; width: 100%; }
.kuHLLu.kuHLLu.hidden { display: none; }
.fOa-DwG { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; }
.fOa-DwG::after { display: block; content: ""; padding-bottom: 75%; }
.fOa-DwG.fOa-DwG img { position: absolute; object-fit: contain; max-height: 100%; max-width: 100%; height: auto; width: auto; }
.hHQGS { display: grid; width: 100%; }
.hHQGS .sc-qXgsJ { position: absolute; top: 0px; left: 0px; direction: ltr; }
.hHQGS .sc-qXgsJ.pf-hide-badge { display: none; }
.hHQGS .sc-pbXLt { display: none; position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; top: calc(50% - 16px); }
.hHQGS .sc-pbXLt[data-pf-nav="prev"] { left: 15px; }
.hHQGS .sc-pbXLt[data-pf-nav="next"] { right: 15px; }
.hHQGS .sc-pbXLt > i { color: rgb(93, 107, 130); }
@media (max-width: 767px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .mobile_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 991px) and (min-width: 768px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .tablet_hd { display: none; }
  .hHQGS .sc-pkURi.arrow-tablet .sc-pbXLt { display: block; }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .laptop_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-laptop .sc-pbXLt { display: block; }
}
@media (min-width: 1200px) {
  .hHQGS .sc-pkURi { display: none; }
  .hHQGS .all_hd { display: none; }
  .hHQGS .sc-oUbIU { display: none; }
  .hHQGS .sc-pkURi.arrow-all .sc-pbXLt { display: block; }
}
.dDpiZk[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-6bce5743 {
		font-family: Oswald;
		 font-size: 18px;
		 margin-top: 15px;
		 margin-bottom: 15px;
		 line-height: 1px;
		 font-weight: 400;
	}
	.__pf .pf-88f59c91 {
		font-size: 46px;
		 font-family: Oswald;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 line-height: 1.25em;
		 text-transform: uppercase;
		 padding-top: 20px;
	}
	.__pf .pf-9c915fec {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-ec073ef4 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 20px;
	}
	.__pf .pf-3ef4c4e5 {
		font-size: 80px;
		 line-height: 70px;
		 font-family: Barlow;
		 font-weight: 600;
	}
	.__pf .pf-e5fbb80c {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-64703112 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-edb1ebca {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-28a098eb {
		font-size: 24px;
		 font-family: Oswald;
		 font-weight: 600;
		 margin-top: 0px;
		 text-align: center;
		 margin-bottom: 0px;
	}
	.__pf .pf-20ce2c4a {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-7586cf3d {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-0758e944 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-c596ce4c {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-66635e2f {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-c320ea49 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-ea49abf0 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-abf038f7 {
		text-align: center;
		 padding-bottom: 22px;
		 margin-bottom: 20px;
	}
	.__pf .pf-440438d2 {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-align: center;
	}
	.__pf .pf-4fea20e4 {
		list-style-position: inside;
		 list-style-type: disc;
	}
	.__pf .pf-4291d1ee {
		list-style-position: inside;
		 list-style-type: disc;
	}
	.__pf .pf-ee630632 {
		margin-bottom: 20px;
	}
	.__pf .pf-4130ea84 {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-align: center;
	}
	.__pf .pf-aa00393c {
		list-style-position: inside;
		 list-style-type: disc;
	}
	.__pf .pf-9c2f6e9f {
		list-style-position: inside;
		 list-style-type: disc;
	}
	.__pf .pf-331a3caa {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-align: center;
	}
	.__pf .pf-d2e8feb7 {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-4d171ce4 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-e49011f7 {
		font-family: Lato;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
		 margin-bottom: 20px;
		 text-align: center;
		 text-transform: uppercase;
	}
	.__pf .pf-a5790964 picture {
		height: 205px;
	}
	.__pf .pf-64f7f0cf {
		text-align: center;
	}
	.__pf .pf-e326b24d {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-50104fc2 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-c581bc06 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-9d1b0884 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-84dd884f {
		font-family: Lato;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
		 margin-bottom: 20px;
		 text-align: center;
		 text-transform: uppercase;
	}
	.__pf .pf-927a07df {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-35d4afad {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-2b629692 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-92b58201 {
		font-family: Lato;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
		 margin-bottom: 20px;
		 text-align: center;
		 text-transform: uppercase;
	}
	.__pf .pf-01de339d {
		text-align: center;
	}
	.__pf .pf-339d21e8 picture {
		height: 205px;
	}
	.__pf .pf-960bffdc {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-33d47ee8 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-be71877e {
		font-size: 18px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-a6e61c27 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-27cbd293 {
		font-family: Lato;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
		 margin-bottom: 20px;
		 text-align: center;
		 text-transform: uppercase;
	}
	.__pf .pf-741b2382 {
		font-size: 18px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-8e3a3806 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-06a3aef2 {
		font-family: Lato;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
		 margin-bottom: 20px;
		 text-align: center;
		 text-transform: uppercase;
	}
	.__pf .pf-f2579598 {
		text-align: center;
	}
	.__pf .pf-9598062a picture {
		height: 200px;
	}
	.__pf .pf-278a4643 {
		font-size: 18px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 10px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-9f26a75f {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-5f0f7e1a {
		font-family: Lato;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
		 margin-bottom: 20px;
		 text-align: center;
		 text-transform: uppercase;
	}
	.__pf .pf-09d4709e {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-5949edf1 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-f1c0c82d {
		font-family: Lato;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
		 margin-bottom: 20px;
		 text-align: center;
		 text-transform: uppercase;
	}
	.__pf .pf-2d8dbe62 {
		text-align: center;
	}
	.__pf .pf-be62818e picture {
		height: 200px;
	}
	.__pf .pf-aa9a952d {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 text-transform: uppercase;
		 text-align: center;
		 background-color: rgb(245, 245, 245);
		 margin-bottom: 0px;
		 padding-top: 30px;
	}
	.__pf .pf-36cd61f2 {
		font-family: Lato;
		 font-size: 18px;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 margin-bottom: 0px;
		 padding: 30px 30px 10px;
		 background-color: rgb(245, 245, 245);
	}
	.__pf .pf-39812f4f {
		font-family: Lato;
		 font-size: 18px;
		 margin-top: 0px;
		 font-weight: 400;
		 line-height: 1.6em;
		 margin-bottom: 0px;
		 padding: 30px;
		 background-color: rgb(245, 245, 245);
	}
	.__pf .pf-ef2d4e5c {
		font-family: Lato;
		 font-size: 18px;
		 margin-top: 15px;
		 font-weight: 700;
		 line-height: 1.6em;
		 margin-bottom: 0px;
	}
	.__pf .pf-4e5c4966 {
		background-position: 50% 50%;
	}
	.__pf .pf-49663928 {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-392800c0 {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-7dcc1b99 {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 text-align: center;
	}
	.__pf .pf-1b99be3f .blog__infos > h3 > a {
		font-family: Lato;
		 font-size: 16px;
		 line-height: 1.5em;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-1b99be3f > div > .blog__article {
		font-family: Barlow;
		 font-size: 13px;
		 font-weight: 400;
		 color: rgb(136, 136, 136);
	}
	.__pf .pf-1b99be3f {
		font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-1b99be3f .blog__infos > .blog__excerpt {
		font-family: Lato;
		 font-size: 16px;
	}
	.__pf .pf-9f0ddd4b {
		padding-top: 30px;
		 padding-bottom: 30px;
		 margin-bottom: 40px;
		 background-color: rgb(245, 245, 245);
	}
	.__pf .pf-87211b33 {
		font-size: 24px;
		 font-family: Oswald;
		 margin-top: 25px;
		 margin-bottom: 25px;
		 text-transform: uppercase;
		 text-align: center;
	}
	.__pf .pf-6693aba3 {
		padding-top: 0px;
	}
	.__pf .pf-a307e07a {
		text-align: center;
	}
	.__pf .pf-8538ae23 {
		font-size: 18px;
		 font-family: Oswald;
		 font-weight: 600;
		 margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	.__pf .pf-c0d1f377 {
		font-size: 24px;
	}
	.__pf .pf-f377f39f {
		font-size: 24px;
	}
	.__pf .pf-f39f457b {
		font-size: 24px;
	}
	.__pf .pf-673e812b {
		font-size: 18px;
		 font-family: Oswald;
		 font-weight: 600;
		 margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	.__pf .pf-25c3ae80 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-57fd22ae {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-2e3578a0 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-cebe8c75 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-188db000 {
		font-size: 18px;
		 font-family: Oswald;
		 font-weight: 600;
		 margin-top: 0px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	.__pf .pf-3ea97fd9 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-dcafad32 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-06826eb2 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-c5e37d60 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-f6c97dab {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-6f81aa0d {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-44e0ade6 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-1287c197 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-7c103b40 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-5df3e5b2 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-0959d7f8 {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-9561d89d {
		font-family: Lato;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 font-weight: 400;
		 line-height: 1.6em;
		 font-size: 18px;
	}
	.__pf .pf-63ffc0d1 {
		font-size: 24px;
	}
	.__pf .pf-457b63cd {
		font-size: 24px;
	}
	.__pf .pf-812bd607 {
		font-size: 24px;
	}
	.__pf .pf-ae80c9c5 {
		font-size: 24px;
	}
	.__pf .pf-22ae2934 {
		font-size: 24px;
	}
	.__pf .pf-78a0e6d7 {
		font-size: 24px;
	}
	.__pf .pf-b000d1ca {
		font-size: 24px;
	}
	.__pf .pf-7fd90c37 {
		font-size: 24px;
	}
	.__pf .pf-ad32bafd {
		font-size: 24px;
	}
	.__pf .pf-6eb2758a {
		font-size: 24px;
	}
	.__pf .pf-7dabac97 {
		font-size: 24px;
	}
	.__pf .pf-7d6089c0 {
		font-size: 24px;
	}
	.__pf .pf-aa0dea8f {
		font-size: 24px;
	}
	.__pf .pf-c9e53fc8 {
		font-size: 24px;
	}
	.__pf .pf-ade65e21 {
		font-size: 24px;
	}
	.__pf .pf-3b404eee {
		font-size: 24px;
	}
	.__pf .pf-c197f75b {
		font-size: 24px;
	}
	.__pf .pf-e5b2e056 {
		font-size: 24px;
	}
	.__pf .pf-d7f8e22f {
		font-size: 24px;
	}
	.__pf .pf-aa394303 {
		font-size: 24px;
	}
	.__pf .pf-4303f85b {
		font-size: 24px;
	}
	.__pf .pf-aeb4fefc {
		font-family: Lato;
		 font-size: 18px;
		 margin-top: 50px;
		 font-weight: 700;
		 line-height: 1.6em;
		 margin-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-88f59c91 {
		font-size: 34px;
	}
	.__pf .pf-ec073ef4 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-ea49abf0 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-36cd61f2 {
		padding: 15px;
	}
	.__pf .pf-39812f4f {
		padding: 15px;
	}
	.__pf .pf-49663928 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-392800c0 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
	.__pf .pf-9f0ddd4b {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-ec073ef4 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-49663928 {
		padding-left: 50px;
		 padding-right: 50px;
	}
}
						