/* PageFly Element Styles */
						.GftoS { padding-top: 20px; padding-bottom: 20px; }
.GftoS__button { cursor: pointer; padding: 10px 15px; text-align: left; outline: none; display: block; position: relative; }
.GftoS__button > i { margin-right: 5px; }
.GftoS .accordion__item:last-child .accordion__content { margin-bottom: 0px; }
.exYsxy { clear: both; }
.exYsxy[data-parallax="true"] { position: relative; }
.exYsxy__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-repeat: no-repeat; background-size: cover !important; }
.exYsxy { box-sizing: border-box; position: relative; overflow: hidden; }
.exYsxy[data-container] .sc-psDhf { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; }
.exYsxy[data-parallax="true"] { background: none !important; }
.exYsxy .pf-parallax__img { position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1; }
.gYSgcm { cursor: pointer; width: 100%; padding: 10px 15px; appearance: none; color: black; text-align: left; outline: none; display: block; position: relative; }
.gYSgcm > svg { margin-right: 5px; }
.gYSgcm > i { margin-right: 5px; }
.gYSgcm div { padding: 1.5rem 0px; }
.gYSgcm .accordion__arrow { transition: all 0.2s ease 0s; }
.gYSgcm[data-active="true"] .accordion__arrow { transform: rotate(90deg); }
.mZVAk { padding: 0px !important; }
.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.eiDWck { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.eiDWck i { margin-left: 0.3em; }
.eiDWck:hover, .eiDWck:active, .eiDWck:focus, .eiDWck span { color: inherit; }
.eiDWck span { display: initial; }
.hpksip div { display: flex; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; }
.hpksip div::before, .hpksip div::after { content: ""; width: 100%; border-top: 1em solid; }
.hpksip > div > span { padding: 0px 1rem; flex: 1 0 auto; line-height: 1; color: rgb(0, 0, 0); font-size: 30px; display: none; }
.hpksip span > span { vertical-align: middle; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.kKVZfa { min-height: 30px; }
.jrwOpx { font-family: FontAwesome !important; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (min-width: 992px) and (max-width: 1199px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (min-width: 992px) and (max-width: 1199px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (min-width: 768px) and (max-width: 991px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.haGrAn { display: flex; flex-direction: column; }
.haGrAn > div:first-child { display: flex; flex-wrap: wrap; position: relative; }
.haGrAn > div:first-child .sc-qYsMX { padding: 1.5rem 0px; }
.kidlpw { cursor: pointer; line-height: 1; border: none; color: rgb(23, 43, 77); padding: 12px 20px; text-align: center; text-decoration: none; appearance: none; outline: 0px; background: rgb(240, 242, 243); display: inline-block; flex: 1 1 auto; }
.kidlpw i { margin-right: 0.3em; }
@media (max-width: 768px) {
  .kidlpw i { margin-top: 5px !important; margin-bottom: 5px !important; }
}
@media (max-width: 767px) {
}
.kidlpw:hover, .kidlpw:active, .kidlpw:focus, .kidlpw span { color: inherit; text-decoration: inherit; }
.eXHXkH { padding: 20px; background: rgb(250, 251, 251); border: 2px solid rgb(209, 213, 219); }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-48ef1ff1 {
		text-transform: uppercase;
		 font-family: Oswald;
		 text-align: center;
		 margin-bottom: 0px;
	}
	.__pf .pf-4229bb67 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 48.2%;
		 margin-right: 48.2%;
	}
	.__pf .pf-4229bb67 div {
		font-size: 2px;
	}
	.__pf .pf-e8a75748 {
		margin-bottom: 5px;
		 padding-top: 0px;
		 margin-top: 5px;
	}
	.__pf .pf-d395a238 {
		line-height: 26px;
	}
	.__pf .pf-57486ffb {
		font-family: Lato;
		 font-size: 18px;
		 color: rgb(83, 83, 83);
		 text-align: left;
		 line-height: 1.5em;
	}
	.__pf .pf-6ffbdb32 {
		background-color: rgb(34, 34, 34);
		 color: rgb(255, 255, 255);
		 border-style: none;
		 border-radius: 0px;
		 font-size: 18px;
		 padding: 15px 30px;
		 font-family: Oswald;
		 text-transform: uppercase;
	}
	.__pf .pf-6ffbdb32:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-db3251d6 {
		text-align: left;
	}
	.__pf .pf-c3b76290 {
		padding: 50px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-position: 50% 50%;
		 background-color: rgb(245, 245, 245);
	}
	.__pf .pf-f0cff34e {
		text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-9df9ae61 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 550px;
		 margin-right: 550px;
	}
	.__pf .pf-a554ac52 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-69dc79e6 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-79e6d005 {
		background-color: rgb(255, 255, 255);
	}
	.__pf .pf-660f1842 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-5ceb50e2 {
		text-align: left;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-d1ca5616 {
		text-align: left;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-371c6537 {
		text-align: left;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-5616660f {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b580815a {
		text-align: left;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-0cba8e40 {
		text-align: center;
	}
	.__pf .pf-8e40674a {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 550px;
		 margin-right: 550px;
	}
	.__pf .pf-c17a450b {
		line-height: 1.4em;
	}
	.__pf .pf-50773b37 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-24d1693f {
		line-height: 1.4em;
	}
	.__pf .pf-5f45050f {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-ef7e7e9d {
		line-height: 1.4em;
	}
	.__pf .pf-e9edca1a {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-da21dcf6 {
		text-align: center;
	}
	.__pf .pf-88588c93 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 550px;
		 margin-right: 550px;
	}
	.__pf .pf-75f2d839 {
		text-align: center;
	}
	.__pf .pf-a01d4a0f {
		text-align: center;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-37016ebb {
		font-size: 5em;
		 color: rgb(33, 43, 53);
	}
	.__pf .pf-d6968bfc {
		font-size: 5em;
		 color: rgb(33, 43, 53);
	}
	.__pf .pf-d00895f1 {
		margin-top: 0px;
		 font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-95f132de {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-e27dfa67 {
		padding: 15px;
		 text-align: center;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 border-radius: 5px;
		 border-width: 3px;
		 margin-bottom: 20px;
	}
	.__pf .pf-d1b063aa {
		font-size: 5em;
		 color: rgb(33, 43, 53);
	}
	.__pf .pf-a8841345 {
		margin-top: 0px;
		 font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-134568a8 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-4eda7014 {
		padding: 15px;
		 text-align: center;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 border-radius: 5px;
		 border-width: 3px;
	}
	.__pf .pf-114f3a81 {
		margin-bottom: 20px;
	}
	.__pf .pf-93a1c3fb {
		padding: 15px;
		 text-align: center;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 border-radius: 5px;
		 border-width: 3px;
		 margin-bottom: 20px;
	}
	.__pf .pf-3a81a7ac {
		font-size: 5em;
		 color: rgb(33, 43, 53);
	}
	.__pf .pf-9daaef68 {
		margin-top: 0px;
		 font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-ef685bf2 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-2a8a1f24 {
		padding: 15px;
		 text-align: center;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 border-radius: 5px;
		 border-width: 3px;
	}
	.__pf .pf-dbf5db9d {
		font-size: 5em;
		 color: rgb(33, 43, 53);
	}
	.__pf .pf-00d09f03 {
		margin-top: 0px;
		 font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-9f033205 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-d22f60d0 {
		padding: 15px;
		 text-align: center;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 border-radius: 5px;
		 border-width: 3px;
		 margin-bottom: 19px;
	}
	.__pf .pf-9db01900 {
		font-size: 5em;
		 color: rgb(33, 43, 53);
	}
	.__pf .pf-18835be7 {
		margin-top: 0px;
		 font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-5be7161b {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-1ed8114f {
		padding: 15px;
		 text-align: center;
		 border-style: solid;
		 border-color: rgb(255, 255, 255);
		 background-color: rgb(255, 255, 255);
		 border-radius: 5px;
		 border-width: 3px;
	}
	.__pf .pf-cfe34dd2 {
		background-color: rgb(245, 245, 245);
	}
	.__pf .pf-487b1d35 {
		text-align: center;
	}
	.__pf .pf-87ed2b0f {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 550px;
		 margin-right: 550px;
	}
	.__pf .pf-623572d3 {
		text-align: center;
		 background-position: 50% 50%;
		 background-size: cover;
		 background-repeat: repeat;
	}
	.__pf .pf-f8ebca2d {
		text-align: left;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.5em;
	}
	.__pf .pf-5e6d36f3 {
		text-align: left;
	}
	.__pf .pf-1622f136 {
		text-align: center;
	}
	.__pf .pf-b085e7ce[data-pf-tab-active="true"] {
		background: rgb(209, 213, 219);
	}
	.__pf .pf-b085e7ce {
		font-size: 18px;
		 text-transform: uppercase;
		 font-family: Lato;
		 color: rgb(83, 83, 83);
		 background-position: 0% 0%;
	}
	.__pf .pf-b085e7ce:hover {
		font-family: Lato;
		 background-color: rgba(250, 208, 24, 0.6);
	}
	.__pf .pf-b085e7ce[data-pf-tab-active="true"] {
		font-family: Lato;
		 border-width: 0px 0px 3px;
		 border-color: rgb(250, 208, 24);
		 background-color: rgb(250, 208, 24);
	}
	.__pf .pf-e7ced272[data-pf-tab-active="true"] {
		background: rgb(209, 213, 219);
	}
	.__pf .pf-e7ced272 {
		font-size: 18px;
		 text-transform: uppercase;
		 font-family: Lato;
		 color: rgb(83, 83, 83);
		 background-position: 0% 0%;
	}
	.__pf .pf-e7ced272:hover {
		font-family: Lato;
		 background-color: rgba(250, 208, 24, 0.6);
	}
	.__pf .pf-e7ced272[data-pf-tab-active="true"] {
		font-family: Lato;
		 border-width: 0px 0px 3px;
		 border-color: rgb(250, 208, 24);
		 background-color: rgb(250, 208, 24);
	}
	.__pf .pf-d27254fa[data-pf-tab-active="true"] {
		background: rgb(209, 213, 219);
	}
	.__pf .pf-d27254fa {
		font-size: 18px;
		 text-transform: uppercase;
		 font-family: Lato;
		 color: rgb(83, 83, 83);
		 background-position: 0% 0%;
	}
	.__pf .pf-d27254fa:hover {
		font-family: Lato;
		 background-color: rgba(250, 208, 24, 0.6);
	}
	.__pf .pf-d27254fa[data-pf-tab-active="true"] {
		font-family: Lato;
		 border-width: 0px 0px 3px;
		 border-color: rgb(250, 208, 24);
		 background-color: rgb(250, 208, 24);
	}
	.__pf .pf-84c43586[data-pf-tab-active="true"] {
		background: rgb(209, 213, 219);
	}
	.__pf .pf-84c43586 {
		font-size: 18px;
		 text-transform: uppercase;
		 font-family: Lato;
		 color: rgb(83, 83, 83);
		 background-position: 0% 0%;
	}
	.__pf .pf-84c43586:hover {
		font-family: Lato;
		 background-color: rgba(250, 208, 24, 0.6);
	}
	.__pf .pf-84c43586[data-pf-tab-active="true"] {
		font-family: Lato;
		 border-width: 0px 0px 3px;
		 border-color: rgb(250, 208, 24);
		 background-color: rgb(250, 208, 24);
	}
	.__pf .pf-b5126f8f {
		margin-top: 15px;
	}
	.__pf .pf-4a7b23c4 {
		text-align: center;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-5666601d {
		text-align: left;
		 line-height: 1.4em;
	}
	.__pf .pf-d4196172 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-112fd5aa {
		text-align: left;
		 line-height: 1.4em;
	}
	.__pf .pf-48c69bd1 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-f7fda5be {
		text-align: left;
		 line-height: 1.4em;
	}
	.__pf .pf-c830dc7a {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-d07fdc6f {
		text-align: left;
		 line-height: 1.4em;
	}
	.__pf .pf-88774677 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-279209a1 {
		background-color: rgb(34, 34, 34);
		 color: rgb(255, 255, 255);
		 border-style: none;
		 border-radius: 0px;
		 font-size: 18px;
		 padding: 15px 30px;
		 font-family: Oswald;
		 text-transform: uppercase;
		 margin-bottom: 0px;
	}
	.__pf .pf-279209a1:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-69d2e060 {
		margin-top: 50px;
	}
	.__pf .pf-408a1856 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-07f034a5 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-fe5f4fdf {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-ad08958b {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-543850cd {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-e488bd17 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-3f15b84d {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-d2b0f433 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-a6c191be {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-13b5a714 {
		line-height: 1.2em;
		 font-size: 16px;
		 text-transform: initial;
	}
	.__pf .pf-c95b042d {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-91be2345 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-6b30fb6e {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-55dac720 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-987f0f3d {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-e4131b28 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-13e6da3c {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-41a109f1 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-3a965cca {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-da3ca6c1 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-234503c9 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-a1c6d8a6 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-e858a782 {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-03c97743 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-2697d42e {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-d42e6137 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-6137482e {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-482ecba5 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
	}
	.__pf .pf-643e8488 {
		border-width: 5px 0px 0px;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
		 text-align: center;
	}
	.__pf .pf-aa8b6330 {
		text-align: center;
		 margin-top: 15px;
	}
	.__pf .pf-fb4553a3 {
		text-align: center;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-fcc66af0 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-095cddc7 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-05e8538e {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-d467f5af {
		background-color: rgb(34, 34, 34);
		 color: rgb(255, 255, 255);
		 border-style: none;
		 border-radius: 0px;
		 font-size: 18px;
		 padding: 15px 30px;
		 font-family: Oswald;
		 text-transform: uppercase;
		 margin-bottom: 0px;
		 text-align: center;
	}
	.__pf .pf-d467f5af:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-864b6568 {
		text-align: center;
	}
	.__pf .pf-2b1ecec1 {
		text-align: center;
	}
	.__pf .pf-384a8a89 {
		text-align: center;
		 margin-top: 50px;
	}
	.__pf .pf-2bde4e19 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-b2f749a5 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-1c571cf7 {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-c91c57ec {
		font-size: inherit;
	}
	.__pf .pf-88d77385 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-6aa0c1b8 {
		text-align: center;
	}
	.__pf .pf-7291433b {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-c1dcb06c {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-20048c1e {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-47d07cf6 {
		font-size: inherit;
	}
	.__pf .pf-b3a3c91c {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-c1b8526a {
		text-align: center;
	}
	.__pf .pf-b8cc49e5 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-f8b41a46 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-57800f0b {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-7385abae {
		font-size: inherit;
	}
	.__pf .pf-4b456aa0 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-526a0647 {
		text-align: center;
	}
	.__pf .pf-8488429d {
		border-width: 5px 0px 0px;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
		 text-align: left;
	}
	.__pf .pf-9b148bcf {
		text-align: center;
		 margin-top: 15px;
	}
	.__pf .pf-a9c4c831 {
		text-align: center;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-2d27c914 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-57acddc8 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-65c81e64 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-8f0bde78 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-1e64c8da {
		font-family: Lato;
	}
	.__pf .pf-61634e2c {
		background-color: rgb(34, 34, 34);
		 color: rgb(255, 255, 255);
		 border-style: none;
		 border-radius: 0px;
		 font-size: 18px;
		 padding: 15px 30px;
		 font-family: Oswald;
		 text-transform: uppercase;
		 margin-bottom: 0px;
		 text-align: center;
	}
	.__pf .pf-61634e2c:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-6e8a60b2 {
		text-align: center;
	}
	.__pf .pf-e8ce0d9b {
		text-align: center;
		 margin-top: 50px;
	}
	.__pf .pf-e3ca18e7 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-9e08b89b {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-f97073ac {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-b6c9d791 {
		font-size: inherit;
	}
	.__pf .pf-f812966c {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-306e2eae {
		text-align: center;
	}
	.__pf .pf-76969555 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-54a5bd00 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-bfe42444 {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-a99f06b6 {
		font-size: inherit;
	}
	.__pf .pf-c846a96c {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-2eae3ad4 {
		text-align: center;
	}
	.__pf .pf-3df424c4 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-0e388567 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-8b5da071 {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-2cf83c69 {
		font-size: inherit;
	}
	.__pf .pf-41d60d70 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-3ad4531f {
		text-align: center;
	}
	.__pf .pf-429db085 {
		border-width: 5px 0px 0px;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-2adca188 {
		text-align: center;
		 margin-top: 15px;
	}
	.__pf .pf-0ce3e10a {
		text-align: center;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-97377809 {
		text-align: left;
	}
	.__pf .pf-0de4906c {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-cc1620bf {
		text-align: left;
	}
	.__pf .pf-d71d2e3e {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-33bf2b53 {
		text-align: left;
	}
	.__pf .pf-b9ebe824 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-9624fda4 {
		text-align: left;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-496cb2f0 {
		background-color: rgb(34, 34, 34);
		 color: rgb(255, 255, 255);
		 border-style: none;
		 border-radius: 0px;
		 font-size: 18px;
		 padding: 15px 30px;
		 font-family: Oswald;
		 text-transform: uppercase;
		 margin-bottom: 0px;
	}
	.__pf .pf-496cb2f0:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-0cb95073 {
		text-align: center;
	}
	.__pf .pf-600cd293 {
		text-align: center;
		 margin-top: 50px;
	}
	.__pf .pf-0e24030b {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-6f3a40e2 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-6719ae24 {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-dc6bbc1e {
		font-size: inherit;
	}
	.__pf .pf-d9bb607c {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-fa4d3cef {
		text-align: center;
	}
	.__pf .pf-58b50011 {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-4708f893 {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-caf8c1af {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-607c1d4b {
		font-size: inherit;
	}
	.__pf .pf-dfd16495 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-3cef4d84 {
		text-align: center;
	}
	.__pf .pf-7ca77bcb {
		text-transform: initial;
		 font-family: Roboto;
		 line-height: 1.25em;
		 font-size: 18px;
		 margin-bottom: 5px;
		 margin-top: 5px;
		 padding-top: 0px;
	}
	.__pf .pf-8630d8ba {
		line-height: 1.2em;
		 font-size: 16px;
	}
	.__pf .pf-24e19869 {
		text-align: left;
		 line-height: 1.2em;
	}
	.__pf .pf-0d705428 {
		font-size: inherit;
	}
	.__pf .pf-02d3be15 {
		color: rgb(255, 255, 255);
		 background-color: rgb(0, 0, 0);
		 text-align: center;
	}
	.__pf .pf-4d845a66 {
		text-align: center;
	}
	.__pf .pf-90756456 {
		border-width: 5px 0px 0px;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-54fa69ca {
		width: 100%;
	}
	.__pf .pf-0c7b6b2c > div:first-child > div {
		color: rgb(0, 0, 0);
		 display: inline-block;
		 padding: 0.5em 1em;
		 font-weight: bold;
		 border-width: 0px 0px 2px;
		 text-decoration: none;
		 border-style: solid;
		 border-color: rgba(0, 0, 0, 0);
	}
	.__pf .pf-0c7b6b2c > div:last-child > div {
		display: none;
	}
	.__pf .pf-0c7b6b2cTabs {
		font-family: Lato;
	}
	.__pf .pf-674f252a {
		padding-top: 0px;
		 font-size: 3px;
		 margin-left: 550px;
		 margin-right: 550px;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-7f042d8d {
		font-weight: 500;
		 font-family: Oswald;
	}
	.__pf .pf-1b1f3365 {
		line-height: 26px;
	}
	.__pf .pf-2d8d7216 {
		text-align: center;
		 font-family: Lato;
		 font-size: 18px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-7216431b {
		background-color: rgb(34, 34, 34);
		 color: rgb(255, 255, 255);
		 border-style: none;
		 border-radius: 0px;
		 font-size: 18px;
		 padding: 15px 30px;
		 font-family: Oswald;
		 text-transform: uppercase;
	}
	.__pf .pf-7216431b:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-431b4c7d {
		text-align: center;
	}
	.__pf .pf-6dfbf723 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-color: rgb(250, 208, 24);
		 margin-bottom: 50px;
	}
	.__pf .pf-4866646c {
		text-align: center;
	}
	.__pf .pf-09cf0a83 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 550px;
		 margin-right: 550px;
	}
	.__pf .pf-5ff64fb0 {
		margin-bottom: 0px;
		 text-align: center;
	}
	.__pf .pf-6cff8334 {
		text-align: center;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-81a02a06 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-81a02a06:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-81a02a06[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-bc5f4824 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-fbd6de2f {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-fbd6de2f:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-fbd6de2f[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-310b4687 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-0b1a88ba {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-0b1a88ba:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-0b1a88ba[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-48fca73c {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-ab7b9f14 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-ab7b9f14:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-ab7b9f14[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-482abab8 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-9f14b171 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-9f14b171:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-9f14b171[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-98254e74 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-b1714759 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-b1714759:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-b1714759[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-245d6490 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-b94d6ed4 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-b94d6ed4:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-b94d6ed4[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-f0f71e96 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-38423fd6 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-38423fd6:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-38423fd6[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-e0222097 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-464df9a5 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 border-color: rgb(250, 208, 24);
	}
	.__pf .pf-464df9a5:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-464df9a5[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-3ae47ff0 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-2055c33b {
		font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-9b3a6bb9 {
		text-align: center;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-df2cb9c6 {
		margin-bottom: 0px;
		 text-align: center;
	}
	.__pf .pf-30fd690b {
		text-align: center;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
	.__pf .pf-69e9181a {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-69e9181a:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-69e9181a[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-181ae1da {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-aed10561 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-aed10561:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-aed10561[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-0561241c {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-b66edc9d {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-b66edc9d:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-b66edc9d[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-5f068aec {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-880bfe81 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-880bfe81:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-880bfe81[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-fe817f86 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-75443182 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-75443182:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-75443182[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-31828f9c {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-8d429562 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-8d429562:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-8d429562[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-956211dd {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-6739552c {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-6739552c:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-6739552c[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-552c462a {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-b28d6a6b {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-b28d6a6b:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-b28d6a6b[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-6a6b1b4c {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-dc9d3f99 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-dc9d3f99:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-dc9d3f99[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-f8b7bc80 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-3f9916c5 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-3f9916c5:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-3f9916c5[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-0b245e22 {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-a65af4e0 {
		font-weight: 700;
		 border-width: 0px 0px 5px;
		 padding: 15px;
		 color: black;
		 background: rgb(255, 255, 255);
		 text-transform: uppercase;
		 border-style: solid;
		 font-size: 18px;
		 font-family: Lato;
		 border-color: rgb(51, 51, 51);
	}
	.__pf .pf-a65af4e0:hover {
		text-transform: uppercase;
		 font-family: Lato;
		 font-size: 18px;
	}
	.__pf .pf-a65af4e0[data-active="true"] {
		font-family: Lato;
		 font-size: 18px;
		 text-transform: uppercase;
	}
	.__pf .pf-f4e043eb {
		padding: 10px 18px 10px 20px;
		 font-size: 16px;
	}
	.__pf .pf-c4d4f241 {
		text-align: center;
		 font-family: Lato;
		 font-size: 16px;
		 font-weight: 400;
		 line-height: 1.4em;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-4229bb67 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 43.2%;
		 margin-right: 43.2%;
	}
	.__pf .pf-4229bb67 div {
		font-size: 2px;
	}
	.__pf .pf-e8a75748 {
		padding-top: 0px;
		 margin-top: 5px;
	}
	.__pf .pf-d395a238 {
		line-height: 22px;
	}
	.__pf .pf-9df9ae61 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 43.2%;
		 margin-right: 43.2%;
	}
	.__pf .pf-4defc659 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-8e40674a {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 43.2%;
		 margin-right: 43.2%;
	}
	.__pf .pf-88588c93 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 43.2%;
		 margin-right: 43.2%;
	}
	.__pf .pf-1b1f3365 {
		line-height: 22px;
	}
	.__pf .pf-09cf0a83 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 43.2%;
		 margin-right: 43.2%;
	}
	.__pf .pf-6cff8334 {
		line-height: 1.2em;
	}
	.__pf .pf-bc5f4824 {
		line-height: 1.2em;
	}
	.__pf .pf-310b4687 {
		line-height: 1.2em;
	}
	.__pf .pf-48fca73c {
		line-height: 1.2em;
	}
	.__pf .pf-482abab8 {
		line-height: 1.2em;
	}
	.__pf .pf-98254e74 {
		line-height: 1.2em;
	}
	.__pf .pf-245d6490 {
		line-height: 1.2em;
	}
	.__pf .pf-f0f71e96 {
		line-height: 1.2em;
	}
	.__pf .pf-e0222097 {
		line-height: 1.2em;
	}
	.__pf .pf-3ae47ff0 {
		line-height: 1.2em;
	}
	.__pf .pf-9b3a6bb9 {
		line-height: 1.2em;
		 text-align: left;
	}
	.__pf .pf-30fd690b {
		line-height: 1.2em;
	}
	.__pf .pf-181ae1da {
		line-height: 1.2em;
	}
	.__pf .pf-0561241c {
		line-height: 1.2em;
	}
	.__pf .pf-5f068aec {
		line-height: 1.2em;
	}
	.__pf .pf-fe817f86 {
		line-height: 1.2em;
	}
	.__pf .pf-31828f9c {
		line-height: 1.2em;
	}
	.__pf .pf-956211dd {
		line-height: 1.2em;
	}
	.__pf .pf-552c462a {
		line-height: 1.2em;
	}
	.__pf .pf-6a6b1b4c {
		line-height: 1.2em;
	}
	.__pf .pf-f8b7bc80 {
		line-height: 1.2em;
	}
	.__pf .pf-0b245e22 {
		line-height: 1.2em;
	}
	.__pf .pf-f4e043eb {
		line-height: 1.2em;
	}
	.__pf .pf-c4d4f241 {
		line-height: 1.2em;
		 text-align: left;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-4229bb67 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 48.2%;
		 margin-right: 48.2%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-4229bb67 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 46.2%;
		 margin-right: 46.2%;
	}
	.__pf .pf-9df9ae61 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 46.2%;
		 margin-right: 46.2%;
	}
	.__pf .pf-8e40674a {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 46.2%;
		 margin-right: 46.2%;
	}
	.__pf .pf-88588c93 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 46.2%;
		 margin-right: 46.2%;
	}
	.__pf .pf-09cf0a83 {
		color: rgb(250, 208, 19);
		 padding-top: 0px;
		 font-size: 3px;
		 margin-left: 46.2%;
		 margin-right: 46.2%;
	}
}
						