<section class="section section--404">
    <div class="404">
        <div class="container container--tiny">
            <div class="section__title section__title--center section__title--desc">
                <h1 class="section__title-text">{{ 'general.404.title' | t }}</h1>
                <p class="section__title-desc">{{ 'general.404.subtext' | t }}</p>
            </div>
            <div class="u-text-center">
	            <span class="emoji 404__emoji">
	                <i class="icon icon--confused"></i>
	            </span>
	            <p>
	            	<a href="/" class="c-btn c-btn--primary">{{ 'general.404.link' | t }}</a>
	            </p>
	        </div>
        </div>
    </div>
</section>
{% include 'SEOManager-404' %}