<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400,700,500,600,300|Roboto:400,700|Poppins:400|GFS+Didot:400|Open+Sans:400|Anton:400|Playfair+Display:400|Bree+Serif:400|Droid+Serif:400|Mrs+Saint+Delafield:400|Rubik:400|Tinos:400|Archivo+Narrow:400|Rochester:400|Raleway:400|Permanent+Marker:400|Rozha+One:400|Lobster+Two:400|Roboto+Condensed:400|Montserrat:400|Nunito:400|Sue+Ellen+Francisco:400|Chivo:400|Fredericka+the+Great:400|Cabin:400|Fredoka+One:400|Roboto+Slab:400|Lobster:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.3.2/css/main-style.css?t=2019-09-16-10"><link rel="stylesheet" href="{{ 'pagefly.8474e513.scss.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	
	</script><div class="__pf" id="__pf"><div class="pf-0e56bf61 sc-eerKOB eFhTIp" data-pf-type="Body"><div class="pf-9e1e915b" data-pf-type="Layout"><div data-container="true" class="pf-ad592226 sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-42e18dd0 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-801572a6 sc-jXQZqI lgliwA" data-pf-type="Column"><h1 mode="view" class="pf-11d4056d sc-hGoxap ipfeLG" data-pf-type="Heading"><span class="pf-33dcdfb3 sc-iQtOjA bUByoE" data-pf-type="Text">Get on the #TeamAMINO MEMBERSHIP WAITLIST</span></h1><h3 mode="view" class="pf-94ab0221 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-0a800768 sc-iQtOjA bUByoE" data-pf-type="Text">...be notified aS Soon as it opens again...</span></h3></div></div></div></div></div><div data-container="false" class="pf-e1664732 sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC"><div class="pf-31890436 pf-r pf-r-eh sc-kasBVs coOwHG" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--7" style="padding: 0px;"><div class="pf-e5d2b9d0 sc-jXQZqI lgliwA" data-pf-type="Column"><div class="pf-de9e5f30 sc-likbZx kEUXsp" data-pf-type="Youtube"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/9U67KsVY3kQ?autoplay=1&loop=1&playlist=9U67KsVY3kQ&mute=0&controls=1&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay"></iframe></div></div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--5 pf-c-md--5 pf-c-lg--5" style="padding: 0px;"><div class="pf-a3a2c15a sc-jXQZqI lgliwA" data-pf-type="Column"><div class="pf-e0d9d4cd pf-r pf-r-align--cm sc-kasBVs giHBYB" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8" style="padding: 0px;"><div class="pf-e543ea86 sc-jXQZqI lgliwA" data-pf-type="Column"><div class="pf-f4a0da75 sc-eilVRo gnWYnj" data-pf-type="Block"><h3 mode="view" class="pf-d87b39a5 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-b4396d25 sc-iQtOjA bUByoE" data-pf-type="Text">Enter your details below to get on the waitlist</span></h3><p class="pf-6d575d5b sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-3ce1aa13 sc-iQtOjA bUByoE" data-pf-type="Text">... and find out more about membership</span></p><div class="pf-5416fd58 omnisend-subscribe-form sc-fYiAbW ipPIkt" data-pf-type="Custom.HTML"><div class="span4" align="center"> 
    <div class="p30"> 
        <form class="omnisend-subscribe-form" style="width: 100%;"> 
		
		<input type="hidden" name="customer[tags]" value="#teamamino waiting list">
		
		<input type="text" class="omnisend-subscribe-input-first-name" placeholder="Name" style="width: 1000%; height: 40px; display: block; color: #000000; font-size: 18px; font-family: Roboto, sans-serif; padding: 10px; border: 0px solid #cfcfcf; outline-width: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
		
            <input type="text" class="omnisend-subscribe-input-email" placeholder="Email" style="width: 1000%; height: 40px; display: block; color: #000000; font-size: 18px; font-family: Roboto, sans-serif; padding: 10px; border: 0px solid #cfcfcf; outline-width: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
			
			<input type="submit" value="JOIN US HERE" style="width: 50%; height: 48px; display: block; color: #000000; font-size: 24px; font-weight: ; font-family: Oswald, sans-serif; padding: 8px; margin-top: 5px; margin-bottom: 5px; background-color: #fad018; border-width: 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; outline-width: 0px; cursor: pointer;"> 
        </form> 
    </div> 
</div></div><div class="pf-a25f5d04 sc-eilVRo gnWYnj" data-pf-type="Block"></div><p class="pf-46cfdd1e sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-2bda5875 sc-iQtOjA bUByoE" data-pf-type="Text"><a href="https://aminowater.co/account/login" target="_self">Already a member? Sign in.</a></span></p></div></div></div></div></div></div></div></div></div><div data-container="true" class="pf-ffe55542 sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1201px;"><div class="pf-c1465f9e pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9fddd8bf sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-b0de9dad sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-0b4cf416 sc-iQtOjA bUByoE" data-pf-type="Text">What is #teamamino?</span></h3></div></div></div></div></div><div data-container="true" class="pf-b2fa03bc sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-5e7aedce pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-7f1bb5a5 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-041716fe pf-i--left sc-CtfFt lxEts" data-pf-type="Heading"><i class="pf-708d2f16 fa fa-truck sc-iSDuPN hTpJyb" data-pf-type="Icon"></i><span class="pf-9760c6ec sc-iQtOjA bUByoE" data-pf-type="Text">Regular Amino drink mix&nbsp; delivery<br></span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-b1cceb55 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-0fa16bf0 pf-i--left sc-CtfFt lxEts" data-pf-type="Heading"><i class="pf-5534bb7c fa fa-shirtsinbulk sc-iSDuPN hTpJyb" data-pf-type="Icon"></i><span class="pf-475652c2 sc-iQtOjA bUByoE" data-pf-type="Text">Free Shaker & Ready to drink Intro Pack</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-09ad97e6 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-932344a0 pf-i--left sc-CtfFt lxEts" data-pf-type="Heading"><i class="pf-0239c915 fa fa-rocket sc-iSDuPN hTpJyb" data-pf-type="Icon"></i><span class="pf-e6b0cac4 sc-iQtOjA bUByoE" data-pf-type="Text">Free merchandise for referals</span></h3></div></div></div></div></div><div data-container="true" class="pf-66b1550c sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-eInJlc dqQGaf" style="background-color: rgba(155, 155, 155, 0.7);"></div><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-af4f0ced pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8" style="padding: 15px;"><div class="pf-b70c946d sc-jXQZqI lgliwA" data-pf-type="Column"><div class="pf-57c9efa0 sc-eilVRo gnWYnj" data-pf-type="Block"><h3 mode="view" class="pf-81d7bc97 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-d816e72f sc-iQtOjA bUByoE" data-pf-type="Text">#TEAMAMINO MEMBERSHIP</span></h3><h3 mode="view" class="pf-1520f184 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-2536f280 sc-iQtOjA bUByoE" data-pf-type="Text">Join the waiting list and get exclusive access to our box of goodies.<br></span></h3><h3 mode="view" class="pf-92aa6e59 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-7d2e006e sc-iQtOjA bUByoE" data-pf-type="Text">Members-only discount on Amino strength booster drink mix plus we give you training kit, shakers, samples, other merchandise and other surprises delivered to you monthly.</span></h3></div></div></div></div></div></div><div data-container="true" class="pf-603c2707 sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-2da8274e pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-5eb199b2 sc-jXQZqI lgliwA" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-a2854d9a sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-5baa5e0d sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-bba3f399 sc-iQtOjA bUByoE" data-pf-type="Text">Discounted monthly supply of amino strength booster</span></h3><p class="pf-9641d324 sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-dfdc81c8 sc-iQtOjA bUByoE" data-pf-type="Text">#teamamino membership is £30.59 a month and this gives you exclusive access to a monthly supply of our strength booster drink mix (normally £33.99), training kit, merchandise as well as complimentary pre-launch samples and other surprises.</span></p><picture class="pf-9bda0286 sc-fZwumE iCGEPP" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix_400x3000.png?4724"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix.png?4724"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix_800x800.png?4724&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix_400x400.png?4724&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix_850x850.png?4724&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix_400x400.png?4724&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix.png?4724 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c0add5f-b290-4c46-bef3-f5270e0f03e9--Strengthboosterdrinkmix.png?4724"></picture><a class="pf-cf4c575f sc-emmjRN cWbead" href="https://aminowater.co/products/amino-water-strength-booster-drink-mix" target="_blank" data-pf-type="Button"><span class="pf-f0cbee4b sc-iQtOjA bUByoE" data-pf-type="Text">Learn more about our strength booster</span></a></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-1a706984 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-d64de54f sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-c5ae586e sc-iQtOjA bUByoE" data-pf-type="Text">Different surprises DELIVERED each month</span></h3><p class="pf-ee533a7b sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-6d088507 sc-iQtOjA bUByoE" data-pf-type="Text">Each month together with your supply of Amino strength booster drink mix along with training kit and merchandise as well as complimentary pre-launch samples and other bits.&nbsp;</span></p><picture class="pf-ebaeeefd sc-fZwumE iCGEPP" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82_400x3000.JPG?4677"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82.JPG?4677"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82.JPG?4677"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82.JPG?4677 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82_850x850.JPG?4677 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82.JPG?4677 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82.JPG?4677 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-26977912-343c-4cdb-9170-a163a131b540--98913e2c582047289564e9286ab2dd82.JPG?4677"></picture></div></div></div></div></div><div data-container="true" class="pf-79271801 sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-494ce2f2 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-419c45f8 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-67d872b7 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-99208cf7 sc-iQtOjA bUByoE" data-pf-type="Text">How it works</span></h3></div></div></div><div class="pf-d838d5d3 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-7bc7238e sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-42192325 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-c7533872 sc-iQtOjA bUByoE" data-pf-type="Text">Subscribe</span></h3><p class="pf-a86d5a6d sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-a2498e4b sc-iQtOjA bUByoE" data-pf-type="Text">Register your interest and we'll be in touch when a spot opens up. You'll then be able to subscribe to get exclusive access to our monthly team boxes.<br><br></span></p><div class="pf-1ad22cae sc-fYiAbW ipPIkt" data-pf-type="Custom.HTML"><div class="span4" align="center"> 
    <div class="p30"> 
        <form class="omnisend-subscribe-form" style="width: 100%;"> 
		<input type="hidden" name="contact[tags]" value="#teamamino waiting list">
		<input type="text" class="omnisend-subscribe-input-first-name" placeholder="Enter your first name" style="width: 60%; height: 48px; display: block; color: #a0a0a0; font-size: 16px; font-family: Lato, sans-serif; padding: 6px; border: 1px solid #cfcfcf; outline-width: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
		
            <input type="text" class="omnisend-subscribe-input-email" placeholder="Enter your email address" style="width: 60%; height: 48px; display: block; color: #a0a0a0; font-size: 16px; font-family: Lato, sans-serif; padding: 6px; border: 1px solid #cfcfcf; outline-width: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
			
			<input type="submit" value="JOIN THE LIST" style="width: 60%; height: 48px; display: block; color: #000000; font-size: 24px; font-weight: ; font-family: Oswald, sans-serif; padding: 8px; margin-top: 5px; margin-bottom: 5px; background-color: #fad018; border-width: 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; outline-width: 0px; cursor: pointer;"> 
        </form> 
    </div> 
</div></div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-cdd6a25d sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-d529a8f7 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-a7ebe839 sc-iQtOjA bUByoE" data-pf-type="Text">We ship monthly</span></h3><p class="pf-ecc87d1f sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-2bd7d976 sc-iQtOjA bUByoE" data-pf-type="Text">Our team will ship your Amino product with a new and different box monthly, fast delivery and free postage (UK only).<br><br></span></p><picture class="pf-e47214ff sc-fZwumE iCGEPP" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box_400x3000.png?4306"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box.png?4306"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box.png?4306"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box.png?4306 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box_850x850.png?4306 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box.png?4306 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box.png?4306 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-body-box.png?4306"></picture></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-a5922972 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-c473b6f8 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-3895451f sc-iQtOjA bUByoE" data-pf-type="Text">You get training</span></h3><p class="pf-a461c835 sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-a57a81f6 sc-iQtOjA bUByoE" data-pf-type="Text">Your #teamamino box is delivered to you with new apparel, equipment, shakers, gym goodies and inspiration every month!<br><br></span></p><picture class="pf-39e34920 sc-fZwumE iCGEPP" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage_400x3000.png?4323"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage.png?4323"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage.png?4323"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage.png?4323 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage_850x850.png?4323 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage.png?4323 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage.png?4323 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/teamamino-collage.png?4323"></picture></div></div></div></div></div><div data-container="true" class="pf-2d14defa sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"></div></div><div data-container="true" class="pf-fef378c3 sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-c4ea97ed pf-r pf-r-eh pf-r-ew sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--11" style="padding: 15px;"><div class="pf-ba5169f2 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-1a553aec sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-96755c11 sc-iQtOjA bUByoE" data-pf-type="Text">About us</span></h3></div></div></div><div class="pf-9c1a2bec pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-f3964b85 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-5ad719e4 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-ac8cde1f sc-iQtOjA bUByoE" data-pf-type="Text">Our mission</span></h3><div class="pf-800d0cec sc-gFaPwZ gVIyyZ" data-pf-type="Divider"></div><p class="pf-d7f592c1 sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-8234f828 sc-iQtOjA bUByoE" data-pf-type="Text"><div>Our mission is to consciously lead the evolution of the sports and health drinks market by focusing on using the power of Amino Acids, the building blocks of protein and making it possible for athletes everywhere to accomplish their goals.<br></div><div><br></div></span></p></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-7d47b215 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-7f1c79b7 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-b46893a4 sc-iQtOjA bUByoE" data-pf-type="Text">POWER OF AMINOS<br></span></h3><div class="pf-e0312e7b sc-gFaPwZ gVIyyZ" data-pf-type="Divider"></div><p class="pf-c61d51a6 sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-f1538025 sc-iQtOjA bUByoE" data-pf-type="Text">Amino acids are the building blocks of protein (and life!) so like vitamins and minerals, supplementing with amino acids is a great way to deliver targeted benefits to our bodies by strengthening our natural functions.</span></p></div></div></div><div class="pf-1f89a2af pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--6" style="padding: 15px;"><div class="pf-0de89c7b sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-ebb47f82 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-aeb3ee5f sc-iQtOjA bUByoE" data-pf-type="Text">Conscious choices
</span></h3><div class="pf-bf699e06 sc-gFaPwZ gVIyyZ" data-pf-type="Divider"></div><p class="pf-c6d0d6f0 sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-28e5d4c4 sc-iQtOjA bUByoE" data-pf-type="Text">Our love of both nature and science means that we're always researching, growing and perfecting what we create. Our desire is to create formulae that provide superior functional effects, enhancing what our bodies do naturally without compromising on the ingredients.</span></p></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6" style="padding: 15px;"><div class="pf-3c1c9048 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-889bd486 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-91b48c10 sc-iQtOjA bUByoE" data-pf-type="Text">For everyone</span></h3><div class="pf-12488f85 sc-gFaPwZ gVIyyZ" data-pf-type="Divider"></div><p class="pf-fca47656 sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-1249c53e sc-iQtOjA bUByoE" data-pf-type="Text">Amino acids are not just important for hard core bodybuilders. Together with the amazing impact they have to muscle growth they are also important in increasing overall health. Essentially, amino acids are involved in every physiological process in our bodies so are important in improving the health of all our tissues and organs with noticeable effects on brain health, and metabolic function.</span></p></div></div></div><div class="pf-db9bf247 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"></div></div></div><div data-container="true" class="pf-b63dc96d sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-c8c741e1 pf-r pf-r-align--cm sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--9" style="padding: 15px;"><div class="pf-a2b1fe49 sc-jXQZqI lgliwA" data-pf-type="Column"><div class="pf-ccfadb10 sc-eilVRo gnWYnj" data-pf-type="Block"><h2 mode="view" class="pf-04e492a2 sc-laTMn jlEwmN" data-pf-type="Heading"><span class="pf-e863bf40 sc-iQtOjA bUByoE" data-pf-type="Text">Train hard. Recover fast. Win more #teamamino</span></h2><p class="pf-6c3cd4c9 sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-944eaa33 sc-iQtOjA bUByoE" data-pf-type="Text">Strength, fitness and health is the foundation of the good life. Wherever you are on your journey, be inspired to start and win your own personal battles! Our #teamamino subscription box will help support your personal fitness quest and make you part of a team and community where your personal training goals matter! The opposite to weakness is strength and it starts here. <br><br></span></p><div class="pf-6733d666 sc-fYiAbW ipPIkt" data-pf-type="Custom.HTML"><div class="span4" align="center"> 
    <div class="p30"> 
        <form class="omnisend-subscribe-form" style="width: 100%;"> 
		<input type="hidden" name="contact[tags]" value="#teamamino waiting list">
		<input type="text" class="omnisend-subscribe-input-first-name" placeholder="Enter your first name" style="width: 50%; height: 40px; display: block; color: #a0a0a0; font-size: 18px; font-family: Lato, sans-serif; padding: 6px; border: 1px solid #cfcfcf; outline-width: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"> 
		
            <input type="text" class="omnisend-subscribe-input-email" placeholder="Enter your email address" style="width: 50%; height: 40px; display: block; color: #a0a0a0; font-size: 18px; font-family: Lato, sans-serif; padding: 6px; border: 1px solid #cfcfcf; outline-width: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
			
			<input type="submit" value="JOIN THE LIST" style="width: 50%; height: 48px; display: block; color: #000000; font-size: 24px; font-weight: ; font-family: Oswald, sans-serif; padding: 8px; margin-top: 5px; margin-bottom: 5px; background-color: #fad018; border-width: 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; outline-width: 0px; cursor: pointer;"> 
        </form> 
    </div> 
</div></div></div></div></div></div></div></div><div data-container="true" class="pf-8fae61ca sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-5c9cc8ed pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-47146104 sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-c9ad82ad sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-f586baf7 sc-iQtOjA bUByoE" data-pf-type="Text">#teamAMINO love</span></h3></div></div></div><div class="pf-7290c6b4 pf-r pf-r-align--cm sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--6" style="padding: 15px;"><div class="pf-18dd1e46 sc-jXQZqI lgliwA" data-pf-type="Column"><div class="pf-4cd31664 sc-eilVRo gnWYnj" data-pf-type="Block"><div class="pf-f4bbe113 sc-eilVRo gnWYnj" data-pf-type="Block"><picture class="pf-7fafe6ba sc-fZwumE iCGEPP" data-pf-type="Image" style="border-radius: 100%;"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_400x3000.png?4740"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe.png?4740"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_800x800.png?4740&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_400x400.png?4740&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_850x850.png?4740&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_400x400.png?4740&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe.png?4740 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe.png?4740"></picture><div class="pf-c6a0cff3 sc-eilVRo gnWYnj" data-pf-type="Block"><h3 mode="view" class="pf-e659df2b sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-875a00b7 sc-iQtOjA bUByoE" data-pf-type="Text">GARETH ANSCOMBE<br></span></h3><h4 mode="view" class="pf-b509e596 sc-fjmCvl heOTlB" data-pf-type="Heading"><span class="pf-3d0a17d6 sc-iQtOjA bUByoE" data-pf-type="Text">WELSH NATIONAL RUGBY UNION TEAM&nbsp;<br></span></h4></div></div><p class="pf-8e5e179d sc-eKZiaR ivGdgL" data-pf-type="Paragraph"><span class="pf-a5df7ac4 sc-iQtOjA bUByoE" data-pf-type="Text">As a professional athlete it’s important to recover quickly, whether that is after a game or a hard training sessions. I’ve really enjoyed using Amino Water in the gym and after a tough game. The new cloudy lemonade flavour tastes great and the fact that there’s no artificial sweeteners is an added bonus!"</span></p></div></div></div></div><div class="pf-37baaeda pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9209f6d8 sc-jXQZqI lgliwA" data-pf-type="Column"></div></div></div><div class="pf-e45c5ea6 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-924edae8 sc-jXQZqI lgliwA" data-pf-type="Column"><div class="pf-3bfe72bc sc-fYiAbW ipPIkt" data-pf-type="Custom.HTML"><div id="stamped-reviews-widget" data-widget-type="carousel" data-fill-empty="true" data-random="? string:What the team is saying about our products? ?" data-title="What the team is saying about our products?" data-auto-play="false"></div></div></div></div></div></div></div><div data-container="true" class="pf-77590e3c sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-9c7c425b pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-0f1ab3ff sc-jXQZqI lgliwA" data-pf-type="Column"><h3 mode="view" class="pf-bbd0aa57 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-87e8dc71 sc-iQtOjA bUByoE" data-pf-type="Text">FOLLOW US ON INSTAGRAM&nbsp;</span></h3><h3 mode="view" class="pf-beb60fe8 sc-CtfFt lxEts" data-pf-type="Heading"><span class="pf-6797d524 sc-iQtOjA bUByoE" data-pf-type="Text"><a href="http://https//www.instagram.com/drinkamino" target="_blank">@drinkamino</a></span></h3></div></div></div><div class="pf-970cd224 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e1e0e90d sc-jXQZqI lgliwA" data-pf-type="Column"><div cols="4" data-token="4575588791.1677ed0.ed1ff6a966e1471fa166e2378379b5e6" data-limit="8" class="pf-fe313d66 sc-clNaTc hbcykb" data-pf-type="Instagram"><div class="pf-c"><a href="https://www.instagram.com/p/B2WVOxYAaTJ/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/cd86c5f4c0dba63079f46044eeef085c/5E183BE5/t51.2885-15/e15/s640x640/69968768_465157060765814_1201823557986731038_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/B2RLnWWnzuh/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/48eaf394c79d4dcc4bf562d276f4afa7/5E18FA1B/t51.2885-15/e15/s640x640/70607221_385696488779564_2099094501354199080_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/B2MkXXADXSZ/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/87b6e073bd9600f059b4359e765a45c2/5DFF50EE/t51.2885-15/e15/s640x640/68710949_543910409686031_7348631608387869886_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/B2ETpZdnGO1/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/a86443452393c078608ce6a9fff45600/5E042439/t51.2885-15/e15/s640x640/69670700_2160246177601994_5796511657330338154_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/B1_sZTjHYjS/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/4316b3ffa71cb7bda445690800f0628c/5E1805D4/t51.2885-15/e15/s640x640/70534447_673596776472320_130139869201403372_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/B16izr8noiz/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/35feb1e5e0f27772b9641f1ce42ee5d4/5DFA4029/t51.2885-15/e15/s640x640/69433253_3019309044811232_8895743333561075415_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/B1ytjpvnTse/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/82f0e14fec22972adf1787a2a3963827/5DFC03C6/t51.2885-15/e15/s640x640/67582192_189733275374881_4134526170353457779_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/B1tIg4xHdpe/" target="_blank"><img src="https://scontent.cdninstagram.com/vp/06aaa11e81691b9ba54692a5d08d8207/5E06BA50/t51.2885-15/e15/s640x640/69746300_2319329028306497_6271011263005932697_n.jpg?_nc_ht=scontent.cdninstagram.com"></a></div></div></div></div></div></div></div><div data-container="true" class="pf-702731db sc-fOICqy jlktRu" data-pf-type="Section"><div class="sc-gtfDJT lmsYlC" style="max-width: 1170px;"><div class="pf-6665e322 pf-r pf-r-eh sc-kasBVs ewVHJT" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-d8531e87 sc-jXQZqI lgliwA" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.3.2","moneyFormat":"{{shop.money_format}}","elementData":{},"pageId":"8474e513-7754-4f5c-acfe-82b8cbc93bbd","lazyLoad":false};
				</script><script src="https://cdn.pagefly.io/pagefly/2.3.2/core/helper.js?t=2019-09-16-10" defer></script>