<link rel="stylesheet" media="print" onload="this.media='all'" data-href="{{ 'pagefly.eae3ee1d.css' | asset_url }}">
<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_85589327961 == null %}{%- assign collection_85589327961 = collections["frontpage"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["85589327961"] = {{collection_85589327961 | json }};
	</script><div style="opacity:1" class="sc-hHEiqL ccTnQh __pf" id="__pf"><div data-pf-type="Body" class="sc-hTRkXV enlJuL pf-1_"><div data-pf-type="Layout" class="sc-bBjRSN cdTyhF pf-2_"><div data-pf-type="ProductPreview" class="sc-gkCoMD enpFfZ pf-3_">{% section 'product-template' %}
<style>form[action^="/cart/add"] [type=submit] {visibility:visible;}</style>
<!--Start Stamped.io Auto Installation-->
<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>
<!--End Stamped.io Auto Installation-->
<script type="application/json" id="ProductJson-1">
    {{ product | json }}
</script>
<script>
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';
    $(document).on("shopify:section:load", ".js-section__product-single", function(e) {
        theme.productSelect("1", "single", !0)
    });
    setTimeout(function() {
        theme.productSelect("1", "single", !0)
    }, 5000);
</script>
</div><div data-parallax="true" data-parallax-speed="4" style="--overlay:rgba(155, 155, 155, 0.5)" data-pf-type="Section" class="sc-eJocfa jARayQ pf-4_ pf-bg-lazy pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-72d2a91d-9d6f-453c-90a1-096e9b75342f--dreamstimes78320078.jpg?4621" class="sc-laZMeE ljWfRO pf-parallax-img lazy2" alt="parallax" width="1920" height="800"><div class="sc-oeezt OJJCp"></div><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-5_ pf-r pf-c-cm" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-6_"><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-7_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-8_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-10_">Be part of #teamamino</span></h2><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-11_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-13_">Subscribe monthly to become a member of #teamamino.&nbsp;<br></span></h3><p class="sc-gGLxEB fISNUP pf-14_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-16_">Get exclusive access to a members-only discount on Amino Strength Booster Drink Mix plus training kit, shakers, samples, other merchandise and more surprises delivered every month.</span></p><a data-pf-type="Button" class="sc-kfYoZR ccMiJj pf-17_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-19_">Learn more</span></a></div></div></div></div></div></div><div style="--overlay:rgba(74, 74, 74, 0.5)" data-pf-type="Section" class="sc-eJocfa jARayQ pf-20_ pf-bg-lazy"><div class="sc-oeezt OJJCp"></div><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-21_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-22_"><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-23_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-24_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-26_">Your Pre-Workout just got more Focused!<br></span></h2><p class="sc-gGLxEB fISNUP pf-27_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-29_">With mouthwatering flavour, crisp taste combined with the nootropic amino acids the body needs to power up and fuel you throughout your workout .</span></p></div></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-30_ pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-31_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:3;--c-lg:3"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-32_"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-33_"><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-34_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-35_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-37_">The perfect recipe for recovery!</span></h2><p class="sc-gGLxEB fISNUP pf-38_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-40_">Since I have started using the amino recovery, I can feel myself recover faster in workouts, and it’s giving me that last extra kick to crush those pr’s! -&nbsp;Carson M. </span></p></div><div data-pf-type="Custom.HTML" class="sc-bYwzuL fDDjHD pf-41_"><div id="stamped-reviews-widget" data-widget-type="site-badge" data-badge-type="minimal" data-star-size="20" data-title-size="12"></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:3;--c-lg:3"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-42_"></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-43_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-44_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-lg:4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-45_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-46_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-48_">Gain a Nootropic Edge.<br></span></h2><p class="sc-gGLxEB fISNUP pf-49_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-51_">Whatever your sport and whatever your training goals, turning up and giving your best performance is essential to improve over time. <br><br>Whether it's building muscle, losing fat, improving health or improving in your chosen sport, a nootropic pre-workout blend can give you the energy and focus boost you need to turn up every time.&nbsp;</span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-lg:8"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-52_"><a data-action="url" href="https://www.youtube.com/watch?v=BifmaiCNq1A&t=5s" target="_self" data-pf-type="Image" class="sc-hiKfDv dRsyqq pf-53_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a376e3a7--Untitled-design-1_500x.jpg?v=1611674223" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a376e3a7--Untitled-design-1.jpg?v=1611674223 1536w, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a376e3a7--Untitled-design-1_500x.jpg?v=1611674223 320w" width="750" height="422" class="sc-jJMGnK laKGqb lazy2"/></a></div></div></div></div></div><div data-parallax="true" data-parallax-speed="4" data-pf-type="Section" class="sc-eJocfa jARayQ pf-54_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-55_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-56_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose_500x.png?13105" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose.png?13105 1536w, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose_500x.png?13105 320w" width="555" height="312" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-57_ lazy2"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-58_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-59_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-61_">Clean Energy. No Crash.</span></h2><p class="sc-gGLxEB fISNUP pf-62_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-64_">Getting the correct blend of nutrients to the brain, central nervous system &amp; body at the correct time and in the correct dose should be the key focus of any pre-workout blend. <br><br>Specific free-form Amino Acids can be powerful tools in this process. They can support energy, neural drive, motivation, focus, memory and cognition.&nbsp;</span></p></div></div></div><div class="sc-dlMDgC kpPvTx pf-65_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2.4;--c-lg:2.4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-66_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate_120x.png?13118" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate.png?13118 1536w" width="120" height="104" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-67_ lazy2"/><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-68_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-70_">ENERGY & WORK CAPACITY</span></h3><p class="sc-gGLxEB fISNUP pf-71_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-73_">Experience a large increase in wakefulness &amp; output with <br>5g of nootropics per serving.</span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2.4;--c-lg:2.4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-74_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover_120x.png?13129" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover.png?13129 1536w" width="120" height="104" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-75_ lazy2"/><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-76_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-78_">ATTENTION &amp; FOCUS</span></h3><p class="sc-gGLxEB fISNUP pf-79_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-81_">Improved cognitive abilities with optimised brain chemistry &amp; neurotransmitters.</span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2.4;--c-lg:2.4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-82_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn_120x.png?13123" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn.png?13123 1536w" width="120" height="104" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-83_"/><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-84_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-86_">Drive &amp; MOTIVATION&nbsp;</span></h3><p class="sc-gGLxEB fISNUP pf-87_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-89_">See tasks through to completion with mood &amp; motivation boosting Tyrosine.&nbsp;<br></span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:2.4;--c-lg:2.4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-90_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build_120x.png?13127" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build.png?13127 1536w" width="120" height="104" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-91_ lazy2"/><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-92_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-94_">STRENGTH & POWER </span></h3><p class="sc-gGLxEB fISNUP pf-95_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-97_">Enhanced brain &amp; muscular performance with Caffeine, Citrulline and Alpha-GPC.</span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:2.4;--c-lg:2.4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-98_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb_120x.png?13121" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb.png?13121 1536w" width="120" height="104" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-99_ lazy2"/><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-100_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-102_">MEMORY &amp; REACTION</span></h3><p class="sc-gGLxEB fISNUP pf-103_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-105_">Learn and react faster with everything your brain needs for optimal function.&nbsp;&nbsp;</span></p></div></div></div><div class="sc-dlMDgC kpPvTx pf-106_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-107_"><a href="/pages/the-science" target="_self" data-pf-type="Button" class="sc-kfYoZR cixSBU pf-108_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-110_">More about the science</span></a></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-111_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-112_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-113_"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-114_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-116_">DON'T JUST TAKE OUR WORD FOR IT<br></span></h3><p class="sc-gGLxEB fISNUP pf-117_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-119_">Amino is supporting others’ with their training and recovery.</span></p></div></div></div><div class="sc-dlMDgC kpPvTx pf-120_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-121_"><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-122_"><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-123_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe_80x.png?4491" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe.png?4491 1536w" width="80" height="80" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-124_ lazy2"/><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-125_"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-126_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-128_">Gareth Anscombe</span></h3><h4 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-129_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-131_">Welsh national rugby union team&nbsp;</span></h4></div></div><p class="sc-gGLxEB fISNUP pf-132_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-134_">As a professional athlete it’s important to recover quickly, whether that is after a game or a hard training sessions. I’ve really enjoyed using Amino in the gym and after a tough game. The new cloudy lemonade flavour tastes great and the fact that there’s no artificial sweeteners is an added bonus!"</span></p></div></div></div></div><div class="sc-dlMDgC kpPvTx pf-135_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-136_"></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-137_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-138_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-139_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-140_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-142_"><span style="font-weight: normal;">NUTRITION INFORMATION</span></span></h2></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-143_"><div data-pf-type="Tabs" class="sc-kHWWYL hjWjTW pf-144_"><div data-pf-type="TabsMenu" class="sc-hOPeYd eXirsP pf-145_"><button type="button" data-pf-tab-active="true" class="sc-daBunf cBaMvl pf-146_ pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-148_">Ingredients</span></button><button type="button" data-pf-tab-active="false" class="sc-daBunf cBaMvl pf-149_ pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-151_">Nutritionals</span></button><button type="button" data-pf-tab-active="false" class="sc-daBunf cBaMvl pf-152_ pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-154_">Amino Acid Content<sub></sub></span></button></div><div data-pf-type="TabContentWrapper" class="sc-dsXzNU iNWOJK pf-155_"><div data-pf-expandable="true" style="display:block" data-pf-type="TabsContent" class="sc-jUfyBS eSyZIh pf-156_"><p class="sc-gGLxEB fISNUP pf-157_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-159_"> L-Tyrosine, L-Citrulline DL-malate (1:1), Alpha GPC, Acetyl L-Carnitine, Anti-caking agent (Silicon dioxide), Maltodextrin, Acid (Citric acid), Caffeine anhydrous, L-theanine, Flavourings, Sweeteners (Sucralose, Acesulfame-K), Anti-caking agent (Calcium salts of orthophosphoric acid), Colour (Caramel).</span></p></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-jUfyBS eSyZIh pf-160_"><div class="sc-dlMDgC kpPvTx pf-161_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:8"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-162_"><div class="sc-bTDOke dXiuJH pf-163_ pf-table-default" data-pf-type="Table"><table><tbody><tr><th class="A1"><span>Typical values </span></th><th class="B1"><span>per serving</span></th></tr><tr><td class="A2"><span>Energy</span></td><td class="B2"><span>76kJ/17kcal</span></td></tr><tr><td class="A3"><span>Fat</span></td><td class="B3"><span>0g</span></td></tr><tr><td class="A4"><span>(of which saturates)</span></td><td class="B4"><span>0g</span></td></tr><tr><td class="A5"><span>Carbohydrate</span></td><td class="B5"><span>0g</span></td></tr><tr><td class="A6"><span>(of which sugars)</span></td><td class="B6"><span>0</span></td></tr><tr><td class="A7"><span>Protein</span></td><td class="B7"><span><1g</span></td></tr><tr><td class="A8"><span>Salt</span></td><td class="B8"><span>0g</span></td></tr></tbody></table></div></div></div></div></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-jUfyBS eSyZIh pf-214_"><div class="sc-dlMDgC kpPvTx pf-215_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-216_"><div class="sc-bTDOke dXiuJH pf-217_ pf-table-default" data-pf-type="Table"><table><tbody><tr><th class="A1"><span>Nutrient</span></th><th class="B1"><span>Levels</span></th></tr><tr><td class="A2"><span><span style="display: inline !important;">L-Tyrosine</span><br></span></td><td class="B2"><span>1500 mg</span></td></tr><tr><td class="A3"><span>L-Citrulline DL-malate (1:1)
<br>   - L-Citrulline
</span></td><td class="B3"><span>1500 mg<br>825 mg<br></span></td></tr><tr><td class="A4"><span><span id="docs-internal-guid-328e6646-7fff-c892-ba8f-79e814af019d"><span style="font-size: 12pt; font-family: Cambria, serif; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="font-family: Roboto; white-space: normal; display: inline !important;">L-Acetyl L-Carnitine</span></span></span><br></span></td><td class="B4"><span>1000 mg</span></td></tr><tr><td class="A5"><span><span id="docs-internal-guid-f5381333-7fff-25d3-a999-64d4f2bf3e1b"><span style="font-size: 12pt; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;">Alpha GPC </span></span><br></span></td><td class="B5"><span>600 mg</span></td></tr><tr><td class="A6"><span><span id="docs-internal-guid-9d2502c7-7fff-74bc-fbf2-985c137ad30a"><span style="font-size: 12pt; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;">Caffeine </span></span><br></span></td><td class="B6"><span>200 mg</span></td></tr><tr><td class="A7"><span><span id="docs-internal-guid-b304eff0-7fff-b243-5fd1-f9b80eaf5d5e"><span style="font-size: 12pt; font-family: Cambria, serif; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="font-family: Roboto; white-space: normal; display: inline !important;">L-Theanine</span></span></span><br></span></td><td class="B7"><span>100 mg</span></td></tr></tbody></table></div><p class="sc-gGLxEB fISNUP pf-268_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-270_">Amino focus contains a blend of&nbsp; nootropics &amp; amino acids.</span></p></div></div></div></div></div></div></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-271_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-272_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-273_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-274_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-276_">Targeted Delivery for Pre-Workout Focus&nbsp;</span></h2><p class="sc-gGLxEB fISNUP pf-277_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-279_">Nootropic amino acids, are naturally occurring compounds that improve cognitive function, particularly neural drive, memory, creativity, or motivation. When taken pre-training or before taxing cognitive task like work or gaming, enhance the intensity, output and duration of the user.&nbsp;</span></p></div></div></div><div class="sc-dlMDgC kpPvTx pf-280_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-281_"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-282_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-284_">Strength Boosting Caffeine&nbsp;</span></h3><p class="sc-gGLxEB fISNUP pf-285_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-287_">Caffeine is a powerful stimulant and its main mechanism concerns antagonizing adenosine receptors. Adenosine causes relaxation when it acts upon its receptors, located in the brain. Caffeine prevents this action and causes alertness and wakefulness. </span></p><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-288_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-290_">Balancing Theanine</span></h3><p class="sc-gGLxEB fISNUP pf-291_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-293_">L-Theanine is a non essential amino acid that is not common in the diet  but has shown potential improvements in attention and executive function. A combination of Theanine with caffeine is noted to be very synergistic in promoting mental performance. Benefits that can be felt include the reducing the anxiety or jitters felt on higher doses of stimulants like caffeine, creating a clear focused effect&nbsp;</span></p><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-294_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-296_">Dopamine boosting Tyrosine</span></h3><p class="sc-gGLxEB fISNUP pf-297_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-299_">Tyrosine is an amino acid that is used to produce noradrenaline and dopamine; the neurotransmitters involved with motivation.  It has been shown to reduce stress on the mind during exposure to fatiguing citations (which deplete noradrenaline) and may help to prevent stress-induced memory and attention deficits. </span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-300_"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-fc8498d1-647d-4e97-a6cb-7455194435f7--shakernew_250x.png?v=1579616744" data-srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-fc8498d1-647d-4e97-a6cb-7455194435f7--shakernew.png?v=1579616744 1536w" width="250" height="518" alt="Amino drink protein shaker" title="Amino drink shaker" data-pf-type="Image" class="sc-jJMGnK laKGqb pf-301_ lazy2"/></div></div><div class="pf-c" style="--c-xs:12;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-302_"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-303_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-305_">Brain Boosting Alpha GPC.</span></h3><p class="sc-gGLxEB fISNUP pf-306_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-308_">Alpha GPC has been shown to support chlorine production which benefits the brain and central nervous system and studies show its effectiveness at reducing cognitive decline and it may also improve power output.</span></p><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-309_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-311_">Effective Citrulline blend.</span></h3><p class="sc-gGLxEB fISNUP pf-312_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-314_">Citrulline is an amino acid used to promote arginine and nitric oxide metabolism. When used before training it has been shown to promote work capacity, power output and training volume. The research seems to show improvements especially when in closer proximity to the end of a workout, so its ability to reduce fatigue is evident.</span></p><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-315_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-317_">Acetyl-l-carnitine&nbsp;</span></h3><p class="sc-gGLxEB fISNUP pf-318_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-320_">L-Carnitine is a compound produced by the body from lysine and methionine. The acetylated version acetyl-L-carnitine (ALCAR) crosses the blood-brain barrier more efficiently. Studies shows efficacy in depression &amp; a reduction in fatigue.</span></p><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-321_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-323_">Zero Sugar &amp; No artificial Flavours.</span></h3><p class="sc-gGLxEB fISNUP pf-324_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-326_">The product contain no sugar, so you can drink it guilt free.&nbsp; therefore a fantastic healthy alternative to other functional / energy drinks.</span></p></div></div></div><div class="sc-dlMDgC kpPvTx pf-327_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-328_"><a href="/blogs/articles/top-10-benefits-of-a-nootropic-pre-workouts" target="_self" data-pf-type="Button" class="sc-kfYoZR cixSBU pf-329_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-331_">More about the science</span></a></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-332_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-333_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-334_"><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-335_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-336_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-338_"><span style="font-weight: normal;">Also good to know...</span></span></h2></div></div></div></div><div class="sc-dlMDgC kpPvTx pf-339_ pf-r pf-c-ct pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:8;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-340_"><ul style="--text-indent:0;--line-spacing:10px" data-pf-type="List" class="sc-hhIiOg iwisNA pf-341_"><li data-pf-type="List.Item" class="sc-eirqVv dSzotL pf-342_"><i class="sc-iklJeh hbusih pf-343_ pfa pfa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-344_"><span style="font-weight: bold;">Mixes easily using just a glass, water and a spoon.</span></span></li><li data-pf-type="List.Item" class="sc-eirqVv dSzotL pf-345_"><i class="sc-iklJeh hbusih pf-346_ pfa pfa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-347_"><span style="font-weight: bold;">Plant-based.</span></span></li><li data-pf-type="List.Item" class="sc-eirqVv dSzotL pf-348_"><i class="sc-iklJeh hbusih pf-349_ pfa pfa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-350_"><span style="font-weight: bold;">Dairy-free.</span></span></li><li data-pf-type="List.Item" class="sc-eirqVv dSzotL pf-351_"><i class="sc-iklJeh hbusih pf-352_ pfa pfa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-353_"><span style="font-weight: bold;">Gluten-free.</span></span></li><li data-pf-type="List.Item" class="sc-eirqVv dSzotL pf-354_"><i class="sc-iklJeh hbusih pf-355_ pfa pfa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-356_"><span style="font-weight: bold;">No artificial flavours.</span></span></li><li data-pf-type="List.Item" class="sc-eirqVv dSzotL pf-357_"><i class="sc-iklJeh hbusih pf-358_ pfa pfa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-359_"><span style="font-weight: 700;">Contains 200mg Caffeine per serving.</span><br></span></li><li data-pf-type="List.Item" class="sc-eirqVv dSzotL pf-360_"><i class="sc-iklJeh hbusih pf-361_ pfa pfa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-362_"><span style="font-weight: 700;">Science-backed formulation.&nbsp;</span><br></span></li></ul></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-363_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-364_ pf-r pf-c-ct pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-365_"><h2 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-366_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-368_">A NEW generation of performance drink</span></h2></div></div><div class="pf-c" style="--c-xs:12;--c-lg:9"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-369_"><h4 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-370_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-372_">Amino is a young British company inspired by a vision of the future, where everyone - through knowledge and the right tools - has the power to transform their own health and performance.</span></h4></div></div></div><div class="sc-dlMDgC kpPvTx pf-373_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:8;--c-lg:8"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-374_"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-375_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-377_">Our mission</span></h3><div data-pf-type="Divider" class="sc-bCwfaz cHCJOO pf-378_"></div><p class="sc-gGLxEB fISNUP pf-381_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-383_"><div>Our mission is to consciously lead the evolution of the sports and health drinks market by focusing on using the power of Amino Acids, the building blocks of protein and making it possible for athletes everywhere to accomplish their goals.<br></div><div><br></div></span></p></div></div><div class="pf-c" style="--c-xs:12;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-384_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-385_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-387_">Power of Amino Acids</span></h3><div data-pf-type="Divider" class="sc-bCwfaz cHCJOO pf-388_"></div><p class="sc-gGLxEB fISNUP pf-391_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-393_">Amino acids are the building blocks of protein (and life!) so like vitamins and minerals, supplementing with amino acids is a great way to deliver targeted benefits to our bodies by strengthening our natural functions.</span></p></div></div></div><div class="sc-dlMDgC kpPvTx pf-394_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-395_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-396_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-398_">Conscious choices
</span></h3><div data-pf-type="Divider" class="sc-bCwfaz cHCJOO pf-399_"></div><p class="sc-gGLxEB fISNUP pf-402_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-404_">Our love of both nature and science means that we're always researching, growing and perfecting what we create. Our desire is to create formulae that provide superior functional effects, enhancing what our bodies do naturally without compromising on the ingredients.</span></p></div></div><div class="pf-c" style="--c-xs:12;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-405_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-406_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-408_">For everyone</span></h3><div data-pf-type="Divider" class="sc-bCwfaz cHCJOO pf-409_"></div><p class="sc-gGLxEB fISNUP pf-412_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-414_">Amino acids are not just important for hard core bodybuilders. Together with the amazing impact they have to muscle growth they are also important in increasing overall health. Essentially, amino acids are involved in every physiological process in our bodies so are important in improving the health of all our tissues and organs with noticeable effects on brain health, and metabolic function.</span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-415_"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-416_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-417_"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-418_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-420_">FAQs</span></h3></div></div></div><div class="sc-dlMDgC kpPvTx pf-421_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-422_"><div data-scrolling="false" data-multiple="false" data-pf-type="Accordion" class="sc-iemWCZ eKmmiJ pf-423_"><div data-pf-type="Accordion.Content.Wrapper" class="sc-dIvrsQ biCrYn pf-424_"><button type="button" class="sc-fFSPTT eEJWPz pf-425_ pf-anchor" data-header-id="2d610ab8-6b91-4bc3-8bdd-bc8b68c8fb41" data-active="false" data-pf-type="Accordion.Header"><span>WHAT IS AN AMINO ACID?</span></button><div data-pf-expandable="true" data-id="2d610ab8-6b91-4bc3-8bdd-bc8b68c8fb41" style="display:none" data-pf-type="Accordion.Content" class="sc-bkbkJK eraKfR pf-427_"><p class="sc-gGLxEB fISNUP pf-428_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-430_">Amino acids are the building blocks of protein. There are 20 different amino acids in total. 9 of them are considered ‘essential,’ which means our bodies can’t manufacture them and we have to get them via food, drink and/or supplements.</span></p></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-dIvrsQ biCrYn pf-431_"><button type="button" class="sc-fFSPTT eEJWPz pf-432_ pf-anchor" data-header-id="6b917bc3-8bdd-4c8b-a8c8-fb4184ecef28" data-active="false" data-pf-type="Accordion.Header"><span>WHAT IS NOOTROPIC?</span></button><div data-pf-expandable="true" data-id="6b917bc3-8bdd-4c8b-a8c8-fb4184ecef28" style="display:none" data-pf-type="Accordion.Content" class="sc-bkbkJK eraKfR pf-434_"><p class="sc-gGLxEB fISNUP pf-435_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-437_">Nootropics supplements, and other substances that improve cognitive function, particularly executive functions, memory, creativity, or motivation, in healthy individuals.</span></p></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-dIvrsQ biCrYn pf-438_"><button type="button" class="sc-fFSPTT eEJWPz pf-439_ pf-anchor" data-header-id="8bddbc8b-68c8-4b41-84ec-ef2857dd9663" data-active="false" data-pf-type="Accordion.Header"><span>HOW WOULD A NOOTROPIC PRE-WORKOUT BENEFIT ME?</span></button><div data-pf-expandable="true" data-id="8bddbc8b-68c8-4b41-84ec-ef2857dd9663" style="display:none" data-pf-type="Accordion.Content" class="sc-bkbkJK eraKfR pf-441_"><p class="sc-gGLxEB fISNUP pf-442_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-444_">Whether your working long hours and need a energy boost pre-training or just want to focus harder when your at the desk or when gaming, a unique blend of pre-workout nootropics and focus amino acids can help to provide  the brain with the key compounds that build neurotransmitters, that can give you the edge over your competition. Getting the correct blend of nutrients to the brain and central nervous system at the correct time and in the correct dose should be the key focus of any pre-workout blend. They can support energy, neural drive, motivation, focus, memory and cognition.&nbsp;&nbsp;</span></p></div></div><div data-pf-type="Accordion.Content.Wrapper" class="sc-dIvrsQ biCrYn pf-445_"><button type="button" class="sc-fFSPTT eEJWPz pf-446_ pf-anchor" data-header-id="68c8fb41-84ec-4f28-97dd-9663f133f7e2" data-active="false" data-pf-type="Accordion.Header"><span>WHAT SHOULD I EXPECT THE EFFECTS TO BE LIKE?</span></button><div data-pf-expandable="true" data-id="68c8fb41-84ec-4f28-97dd-9663f133f7e2" style="display:none" data-pf-type="Accordion.Content" class="sc-bkbkJK eraKfR pf-448_"><p class="sc-gGLxEB fISNUP pf-449_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-451_">Nootropics and focus amino acids support energy, neural drive, motivation, memory and cognition.&nbsp;&nbsp;</span></p></div></div></div></div></div></div><div class="sc-dlMDgC kpPvTx pf-452_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-453_"><a data-pf-type="Button" class="sc-kfYoZR cixSBU pf-454_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-456_">View all FAQ's</span></a></div></div></div></div></div><div data-pf-type="Section" class="sc-eJocfa jARayQ pf-457_ pf-lg-hide pf-md-hide pf-sm-hide pf-hide"><div style="--cw:1170px" class="sc-jffHpj jjTcTs"><div class="sc-dlMDgC kpPvTx pf-458_ pf-r pf-c-cm pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-459_"><div class="sc-dlMDgC kpPvTx pf-460_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-461_"><h3 data-pf-type="Heading" class="sc-ezzafa qUTLf pf-462_"><span data-pf-type="Text" class="sc-jQAxuV hsWAsh pf-464_">You may also like...<br></span></h3></div></div></div><div class="sc-jLqRGG VEZgs pf-465_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:4" data-pf-type="ProductList">{% assign collection_85589327961 = collections["frontpage"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_85589327961.products by 8 %}<!-- -->{% for product in collection_85589327961.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-eXuyPJ kTTKRj pf-466_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-dlMDgC kpPvTx pf-467_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jgPyTC fuJtcf pf-468_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iIgjPs krBuaG pf-469_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-iXeHaJ fnBLrn pf-r-dg"><div data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-fyjqAk gVsNrp"><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ product.featured_image | img_url: "720x", scale: 2 }}" alt="{{ product.featured_image.alt }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-gstuGz tcgHY pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kmIPcE htFMXJ pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-cwiweh hSNYlT pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-dkuGKe fvcBYL pf-470_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-amkrK gdJPMO"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-amkrK gdJPMO"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductTitle" class="sc-jtiXyc jireel pf-472_">{{ product.title }}</h3><div data-pf-type="Block" class="sc-khIgEk hQhHpX pf-473_"><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-eWnToP fEDxD pf-474_">{{ product.variants[0].price | money }}</div><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-eWnToP fEDxD pf-475_">{{ product.variants[0].compare_at_price | money }}</div></div><a class="sc-JsfZP kBcPwt pf-476_" data-product-id="{{ product.id }}" href="{{ product.url }}" data-pf-type="ProductViewDetails"><span>View Details</span></a></div></div></div>{% endform %}{% endif %}</div>
<script>
  window.__pageflyProducts = window.__pageflyProducts || {};
  window.__pageflyProducts["{{product.id}}"] = {
    id: {{product.id | json }},
    handle: {{product.handle | json }},
    title: {{product.title | json }},
    type: {{product.type | json }},
    url: {{product.url | json }},
    vendor: {{product.vendor | json }},
    variants: {{product.variants | json }},
    options: {{product.options | json }},
    media: {{product.media | json }},
    has_only_default_variant: {{product.has_only_default_variant | json }},
    options_with_values: {{product.options_with_values | json }},
    selected_variant: {{product.selected_variant | json }},
    selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
    tags: {{product.tags | json }},
    template_suffix: {{product.template_suffix | json }},
    featured_image: {{product.featured_image | json }},
    featured_media: {{product.featured_media | json }},
    images: {{product.images | json }}
  };
</script>
</div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.4.3","shopDomain":"amino-drinks-ltd.myshopify.com","elementData":{"pf-469_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","id":"ef2857dd-9663-4133-b7e2-513557b5050e","_type":"ProductImage"},"pf-471_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"57dd9663-f133-47e2-9135-57b5050e8425","_type":"ProductBadge"}},"pageTitle":"Untitled","pageType":"product","pageId":"eae3ee1d-e267-47b2-88b8-db3e4bcffbde","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Oswald:wght@400;500;700&family=Lato:wght@400&display=swap","trackingIDs":[{"elementIndex":476,"elementId":"33f7e251-3557-4505-8e84-258724712501","elementType":"ProductViewDetails","elementName":"ProductViewDetails"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.4.3/core/helper.js"></script>