<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700|Exo+2:400|Oswald:400|Roboto:400|Exo:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.0/css/main-style.css?t=20201012131048"><link rel="stylesheet" href="{{ 'pagefly.1969567e.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-123934ba"><div data-pf-type="Layout" class="pf-5ad71239"><div data-pf-type="ProductPreview" class="sc-pJVLq dIjrXL pf-6222b510">{% section 'product-template' %}
<style>form[action^="/cart/add"] [type=submit] {visibility:visible;}</style>
<!--Start Stamped.io Auto Installation-->
<div id="stamped-main-widget" class="stamped-main-widget" 
data-widget-style="standard" data-product-id="{{ product.id }}"
data-name="{{ product.title | escape }}"
data-url="{{ shop.url }}{{ product.url }}" 
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
data-description="{{ product.description | escape }}" 
data-product-sku="{{product.handle}}" 
data-product-type="{{product.type}}"></div>

<!--End Stamped.io Auto Installation-->
<script type="application/json" id="ProductJson-1">
    {{ product | json }}
</script>
<script>
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';

   $(document).on("shopify:section:load",".js-section__product-single",function(e){theme.productSelect("1","single",!0)}),$(document).ready(function(){theme.productSelect("1","single",!0)});
</script>



</div><div data-container="true" class="sc-pZopv bjKdkd pf-808f5ad7 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-2cec808f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-68678c70" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-7a766867"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-950ed8d4"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4af2950e">COMING SOON - AUTUMN 2020</span></p><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5a68bbe2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5e685a68">AMINO ENERGY MIX</span></h2><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-eaa44c23"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2767eaa4">Kickstart your workout with Amino!</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-ea3842ae"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bb4eea38">A fast-acting, clean, no-nonsense way to energise exactly when you need it. <br><br>Ideally used as a pre-workout 30 mins before your session.<br><br>No need for water. Simply melt on your tongue and enjoy the lightly refreshing zing. Flavoured with real fruit juice with no artificial sweeteners.<br></span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-08848489"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-17570884">Register your interest for an exclusive pre-launch trial and discount.</span></h4><form class="sc-plgXW cxBaVr pf-d8d4491f" target="_blank" action="" mode="view" method="POST" data-pf-type="MailChimp"><div><input type="text" placeholder="Enter your email" name="EMAIL" required=""><button><span>I'M INTERESTED!</span></button></div></form><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-311e7a76"><i class="sc-pjGMk jrwOpx pf-491f0ad7 fa fa-facebook" data-href="https://www.facebook.com/" data-target="_self" data-pf-type="Icon"></i><i class="sc-pjGMk jrwOpx pf-0ad75c50 fa fa-instagram" data-href="https://www.instagram.com/" data-target="_self" data-pf-type="Icon"></i><i class="sc-pjGMk jrwOpx pf-5c50205b fa fa-twitter" data-href="https://twitter.com/?lang=en" data-target="_self" data-pf-type="Icon"></i><i class="sc-pjGMk jrwOpx pf-205b311e fa fa-youtube-play" data-href="https://www.youtube.com/" data-target="_self" data-pf-type="Icon"></i></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-5f212cec" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-8c705f21" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1.png?v=1593182505"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1.png?v=1593182505"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1_800x800.png?v=1593182505&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1_400x400.png?v=1593182505&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1_850x850.png?v=1593182505&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1_400x400.png?v=1593182505&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1.png?v=1593182505 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4f67dff2--AMINO-CLEAN-ENERGY-1.png?v=1593182505" alt="Under construction image"></picture></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-3c9cb883" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-8eea3b81 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-88848eea" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9c569f7c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-feb79c56">Kickstart your workout with Amino!<br></span></h2></div></div></div><div class="sc-qPjXN eYzxUD pf-deda3c9c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-ca7ffeab" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-4b1e8eda"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-b7918883"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f3fbc322"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3b89f3fb">caffeine</span></h3><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4044270b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6b28d741">ENERGISE</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-26001b85"><div></div></div><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-270b2a2a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e0042775">150mg caffeine from green tea helps to achieve better performance, both physically and mentally. </span></p></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-feab6043" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-8eda5f89"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-888334b3"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-052bb1cf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cfcd052b">alpha GPC</span></h3><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-2a2a6763"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c1cf1ad3">FOCUS</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-a9834c92"><div></div></div><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-6763a092"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3d4963d3">150mg of alpha GPC, a natural compound that promotes increased attention and concentration.</span></p></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-6043deda" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-5f89ca7f"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-34b34b1e"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a23c46fc"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0e12a23c">FAST MELT</span></h3><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a09269d5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bb5e8ac4">PERFORM</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-dd8dbd05"><div></div></div><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-69d5b791"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2bcb4044">Melt in mouth rapid absorption, 30% faster than the typical energy drink.&nbsp;<br><br></span></p></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-3a9a56ba" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-29d33814 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-dcae29d3" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e635efef"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8016e635">GUILT-FREE ENERGY ON-THE-GO</span></h2></div></div></div><div class="sc-qPjXN eYzxUD pf-3b973a9a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-1263ff16" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-c225d6ac"><picture class="sc-psedN fLDHlO pf-b336dbae" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy_400x3000.png?v=1593526722"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy.png?v=1593526722"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy.png?v=1593526722"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy_400x400.png?v=1593526722&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy_850x850.png?v=1593526722&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy_400x400.png?v=1593526722&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy.png?v=1593526722 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-3814934d--realfruitflavourenergy.png?v=1593526722"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-4128e350"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3fa805c4"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9e06c7d1">REAL FRUIT FLAVOUR<br></span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-05c4c2a9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e56423c7">We make healthy tasty.&nbsp;<br><br></span></p></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-ff16a2bb" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-d6acba61"><picture class="sc-psedN fLDHlO pf-23c7c4fd" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy_400x3000.png?v=1593526736"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy.png?v=1593526736"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy.png?v=1593526736"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy_400x400.png?v=1593526736&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy_850x850.png?v=1593526736&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy_400x400.png?v=1593526736&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy.png?v=1593526736 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-14934ddf--veganenergy.png?v=1593526736"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-e3509d8f"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c2a938fd"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-005bebbf">CLEAN Ingredients<br></span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-38fdabd1"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6bf88d53">Plant-based, zero sugar, no artificial flavour, fillers or sweeteners.<br><br></span></p></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-a2bb3b97" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-ba611263"><picture class="sc-psedN fLDHlO pf-8d534573" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch_400x3000.png?v=1593526750"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch.png?v=1593526750"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch.png?v=1593526750"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch_400x400.png?v=1593526750&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch_850x850.png?v=1593526750&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch_400x400.png?v=1593526750&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch.png?v=1593526750 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-934ddfa4--scienceresearch.png?v=1593526750"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-9d8fc225"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-abd13bdb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-51919d35">FORMULATED WITH SCIENCE<br></span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-3bdb4128"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-32633fa8">Research backed ingredients.</span></p></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-b169b6a5" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-d9aeb169 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-fdca2c52" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--7"><div class="sc-pkUyL fTyjzF pf-85a0d9ae" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c05dfdca"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-79a0c05d">Highlights</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-851e85a0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-aa83851e">✓ Rapid absorption 30% faster than the typical energy drink.<br>✓ Reduces the feeling of fatigue and tiredness in just 30 minutes.<br>✓ Clean energy without the junk. <br>✓ Natural Flavouring and sweetener.<br>✓ Zero sugar, low calorie.<br>✓ Pocket sized packs convenient for working out and active on the go.<br>✓ Stacks well with intra workout like Amino Recovery.&nbsp;<br>✓ Ideal as a pre-workout, 30 minutes prior to hitting your session.<br>✓ Melt on the tongue and drink without the need for water.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-2c52cf57" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-038bde15" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-ea54d2fd pf-r pf-r-align--ct pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-b85485c0" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c3a7ee0e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6410c855">A NEW generation of performance drink</span></h2></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-85c0aa5a" data-pf-type="Column"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ee0e70bf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c58d0f43">Amino is a young British company inspired by a vision of the future, where everyone - through knowledge and the right tools - has the power to transform their own health and performance.</span></h4></div></div></div><div class="sc-qPjXN eYzxUD pf-d2fd35e5 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-aa5afa8d" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-70bf2125"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-66c3fc86">Our mission</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-2125668b"><div></div></div><p class="sc-oUAoT HrWqm pf-668ba02a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-35a0242d"><div>Our mission is to consciously lead the evolution of the sports and health drinks market by focusing on using the power of Amino Acids, the building blocks of protein and making it possible for athletes everywhere to accomplish their goals.<br></div><div><br></div></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-fa8d001e" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a02ab8a9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d99807ac">Power of Amino Acids</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-b8a911ca"><div></div></div><p class="sc-oUAoT HrWqm pf-11ca5052" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-daeabaf5">Amino acids are the building blocks of protein (and life!) so like vitamins and minerals, supplementing with amino acids is a great way to deliver targeted benefits to our bodies by strengthening our natural functions.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-35e5038b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-001e3d4a" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5052d98f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4d1c2b13">Conscious choices
</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-d98ff768"><div></div></div><p class="sc-oUAoT HrWqm pf-f76870e8" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-88270911">Our love of both nature and science means that we're always researching, growing and perfecting what we create. Our desire is to create formulae that provide superior functional effects, enhancing what our bodies do naturally without compromising on the ingredients.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-3d4aea54" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-70e83575"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5a2d5009">For everyone</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-35756d9c"><div></div></div><p class="sc-oUAoT HrWqm pf-6d9cb854" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3590c3a7">Amino acids are not just important for hard core bodybuilders. Together with the amazing impact they have to muscle growth they are also important in increasing overall health. Essentially, amino acids are involved in every physiological process in our bodies so are important in improving the health of all our tissues and organs with noticeable effects on brain health, and metabolic function.</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-2e165044" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-b8ad13b2 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-dc4138d3" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-68af3959"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-708818ab">FAQs</span></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-5d622e16 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c6545d62" data-pf-type="Column"><div data-multiple="false" data-pf-type="Accordion" class="sc-pJwpB eqQGbX pf-13b25433"><div class="sc-pRSgm kKcmPp pf-38d38c6f accordion__item" data-pf-type="Content.Accordion" data-lock="false"><a id="4138d38c-6f22-4eef-aed3-b3b8ad13b254" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-4138d38c-6f22-4eef-aed3-b3b8ad13b254" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>Why take a pre-workout?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="4138d38c-6f22-4eef-aed3-b3b8ad13b254" style="display: none;"><p class="sc-oUAoT HrWqm pf-3959d6d0" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-90dfeb9e">Pre-exercise energy boosters before your session could improve your performance, helping you to secure that final rep or last that extra mile</span></p></div></div><div class="sc-pRSgm kKcmPp pf-8c6f229e accordion__item" data-pf-type="Content.Accordion"><a id="d38c6f22-9eef-4ed3-b3b8-ad13b25433c6" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-d38c6f22-9eef-4ed3-b3b8-ad13b25433c6" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>Why do we put caffeine in Amino Energy?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="d38c6f22-9eef-4ed3-b3b8-ad13b25433c6" style="display: none;"><p class="sc-oUAoT HrWqm pf-d6d0294b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2da576eb">Caffeine can be great in the appropriate amounts. It stimulates the body’s central nervous system, improves reaction time and can reduce fatigue. Too much caffeine can be problematic causing vomiting, jitters, cramps and high blood pressure.</span></p></div></div><div class="sc-pRSgm kKcmPp pf-229eef6e accordion__item" data-pf-type="Content.Accordion"><a id="6f229eef-6ed3-43b8-ad13-b25433c6545d" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-6f229eef-6ed3-43b8-ad13-b25433c6545d" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>What is Alpha GPC?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="6f229eef-6ed3-43b8-ad13-b25433c6545d" style="display: none;"><p class="sc-oUAoT HrWqm pf-294bf80a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9073a828">Alpha-glycerophosphocholine (Alpha-GPC or α-GPC) is a compound that is used for its cognitive-promoting properties, and to enhance power output in athletes.&nbsp;</span></p></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-5433c654 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-d3b3b8ad" data-pf-type="Column"><a href="/pages/faqs" target="_self" data-pf-type="Button" class="sc-pZdvY dXDQQg pf-71e2dc41"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-233968af">View all FAQ's</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-969fac9f" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-8bc6969f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2bad8bc6" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-de152bad"><div id="stamped-reviews-widget" data-widget-type="carousel" data-fill-empty="true" data-random="? string:What the team is saying about our products? ?" data-title="What the team is saying about our products?" data-auto-play="false"></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-019464a1" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-59a30194 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-14a45c84" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7650a276"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5cf20f55">Follow us on Instagram </span></h3><p class="sc-oUAoT HrWqm pf-a2761778" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-821f1388"><a href="http://https//www.instagram.com/drinkamino" target="_blank">@drinkamino</a></span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-5c8459a3 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-177814a4" data-pf-type="Column"><div data-pf-type="Instagram" class="sc-pQEyH dcFELj pf-13887650"><div class="sc-pHIdM cuZnEa pf-r-dg pf-r-dg-lg--5 pf-r-dg-md--5 pf-r-dg-sm--5 pf-r-dg-xs--5" data-token="IGQVJVOGhiSjRjYlpoN0o1TmFub3dZAd0FvZAVJ1REpvd0NxbEtzNGtzVHpTc1NHZA3B0WHAtUWREYm1yZAk9xRG1jb2c2NDFiMDBDYVgwcHB0Wk8wcDBrMGtCa0ROdHUxUmxBZAEdUNnh3" data-limit="15" style="--pf-s-lg:0px; --pf-s-md:10px; --pf-s-sm:10px; --pf-s-xs:10px;"><div class="pf-c"><a href="https://www.instagram.com/p/CGNh5Nung08/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120890386_122520592941448_6747564287158828011_n.jpg?_nc_cat=101&_nc_sid=8ae9d6&_nc_ohc=Iz4AdiZsyeQAX-IVvPQ&_nc_ht=scontent.cdninstagram.com&oh=44ad2003511330cea0538b6cf957b482&oe=5FAB2A66" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CGKSQNaAwaM/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/121120412_381951166165458_5303577071257370153_n.jpg?_nc_cat=100&_nc_sid=8ae9d6&_nc_ohc=42-tyRUJOMgAX9DO_Mu&_nc_oc=AQmdxxpJwSA18nXSJl9-J2nf0riTAz3-4OJQikNvnLSY29BOhW9CayZrqLKKOAAGtyM&_nc_ht=scontent.cdninstagram.com&oh=f3349fd145ab5ae3307fd6f868ebc0b5&oe=5FAAE45A" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CGHqk0AHxQM/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120999613_754491948440376_7333395705923319504_n.jpg?_nc_cat=101&_nc_sid=8ae9d6&_nc_ohc=PhEOmyM57JsAX-g_u5R&_nc_ht=scontent.cdninstagram.com&oh=1f4f2145254dbdb118a4078054dfe056&oe=5FAA2B14" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CGFtyqaH2RW/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120998761_990611164745515_7415411273410360049_n.jpg?_nc_cat=107&_nc_sid=8ae9d6&_nc_ohc=5Sk2kJqbIm4AX9IUAwR&_nc_ht=scontent.cdninstagram.com&oh=7642c6103104dfeab06f3cd2d032b14b&oe=5FAA3628" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CGDIbWMFiSW/" target="_blank"><video controls="" preload="none" poster="https://scontent.cdninstagram.com/v/t51.2885-15/120843986_837513360343372_1413933821212576336_n.jpg?_nc_cat=104&_nc_sid=8ae9d6&_nc_ohc=2bwkafwL_3IAX-Jwamn&_nc_ht=scontent.cdninstagram.com&oh=c9d6097388dc7c9eb9b35e6c3ec9b2b9&oe=5FAB8529"><source src="https://video.cdninstagram.com/v/t50.2886-16/120900658_333939154369175_5925491479240312944_n.mp4?_nc_cat=103&vs=17844363947399089_1435643565&_nc_vs=HBksFQAYJEdETE1OQWVYT3F4RXR5OEJBSEFJdVJNYmt6dFNia1lMQUFBRhUAAsgBABUAGCRHRlBuTXdmc2xyUlFMbmtCQUNOa0dZUmRMY2s3YmtZTEFBQUYVAgLIAQAoABgAGwGIB3VzZV9vaWwBMRUAABgAFuKuu7fX1rI%2FFQIoAkMzLBdAHM3S8an75xgSZGFzaF9iYXNlbGluZV8xX3YxEQB16gcA&_nc_sid=59939d&efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjgwMC5mZWVkIn0%3D&_nc_ohc=KzgyRZBWSgQAX9NnogK&_nc_ht=video.cdninstagram.com&oh=5a66b23f7b7185aa3802a619d731119f&oe=5FAA6673&_nc_rid=f311b5d25b" type="video/mp4"></video></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CGAky3kjk-v/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120892741_3518855541516588_8563742743078945686_n.jpg?_nc_cat=111&_nc_sid=8ae9d6&_nc_ohc=WoxGVyUoweAAX8AlFzu&_nc_ht=scontent.cdninstagram.com&oh=b82acd7337d7af88710799bf549f1844&oe=5FA882AE" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CF-C1ELjrL5/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120802715_998271217305386_6489966097167279206_n.jpg?_nc_cat=101&_nc_sid=8ae9d6&_nc_ohc=HUxQ5fjcwcIAX9qmEB-&_nc_ht=scontent.cdninstagram.com&oh=d57d114d0c6f6052dc7063782c488f65&oe=5FAA54C3" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CF6421YgtiL/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120597566_141668540975116_8177616413493982779_n.jpg?_nc_cat=110&_nc_sid=8ae9d6&_nc_ohc=akNxCKDvqFsAX-686qF&_nc_oc=AQnUHrrNi5L2MDnyNDlg1PY-ToeAAhlXgAtLXQuo2Ffnmi5JnrTI7Usj7Q5i2Km5vaI&_nc_ht=scontent.cdninstagram.com&oh=381d35066297cd13d3afbdf10a45cd25&oe=5FA7C7AE" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CF4Unv5nE7c/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120482194_272473307192481_8538818275324254412_n.jpg?_nc_cat=103&_nc_sid=8ae9d6&_nc_ohc=4j-KiElCfRgAX9p_kuB&_nc_ht=scontent.cdninstagram.com&oh=9d4b675b64737275ce382db7dc8227b0&oe=5FAA0908" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CF1s-LflMRq/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120418812_193575132164020_692419281670624803_n.jpg?_nc_cat=107&_nc_sid=8ae9d6&_nc_ohc=Zwrgls7GqysAX9jn3ee&_nc_ht=scontent.cdninstagram.com&oh=8c399df72dd35f4880aaf571f219f924&oe=5FA89BF5" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CFzvppGAoUo/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120363295_3783504011679298_340803757025401053_n.jpg?_nc_cat=106&_nc_sid=8ae9d6&_nc_ohc=7tBpNWRkXL0AX_zmVCG&_nc_ht=scontent.cdninstagram.com&oh=42dfb1660a5030c2b127afa12a9e806e&oe=5FA87032" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CFxMnxhHEtq/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120503786_651826398797276_1656999725913125820_n.jpg?_nc_cat=103&_nc_sid=8ae9d6&_nc_ohc=mZpevD_2rdQAX_9_u3M&_nc_ht=scontent.cdninstagram.com&oh=5e099bd85abc2cf485fac343387ad524&oe=5FAB7598" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CFsCaf5H6N6/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120198922_3240752182710613_8208222423592628226_n.jpg?_nc_cat=109&_nc_sid=8ae9d6&_nc_ohc=v-RyokSOZu0AX_tSy--&_nc_ht=scontent.cdninstagram.com&oh=3f70d87c37643346f96e9ad8fdf2cf2d&oe=5FA84FCF" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CFo0asUAAAf/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120198924_777244929513035_4883930705072305622_n.jpg?_nc_cat=100&_nc_sid=8ae9d6&_nc_ohc=RVJnofKUxTIAX-mG7n_&_nc_ht=scontent.cdninstagram.com&oh=9d286767a6337c539e0f4ba31fbb7e77&oe=5FAADB62" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CFmTDsXHV7s/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/120184912_139920591069902_1959529602198631566_n.jpg?_nc_cat=110&_nc_sid=8ae9d6&_nc_ohc=O55IioME4J0AX84Qusn&_nc_ht=scontent.cdninstagram.com&oh=dfb42ddf57a6f6e17b21b8a33a92bdd5&oe=5FA9A683" class="pf-img-lazy"></a></div></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.0","shopDomain":"amino-drinks-ltd.myshopify.com","elementData":{},"pageTitle":"Amino Energy Mix","pageType":"product","pageId":"1969567e-e3f4-4a3f-b3f2-4e0e10abfabf","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-12T07:59:48.563Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.0/core/helper.js?t=20201012131048" defer></script>