{% section 'product-template' %}
<style>form[action^="/cart/add"] [type=submit] {visibility:visible;}</style>
<!--Start Stamped.io Auto Installation-->

<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>


<!--End Stamped.io Auto Installation-->
<script type="application/json" id="ProductJson-1">
    {{ product | json }}
</script>
<script type="lazyload2">
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';

   $(document).on("shopify:section:load",".js-section__product-single",function(e){theme.productSelect("1","single",!0)}),setTimeout(function(){theme.productSelect("1","single",!0)}, 3000);
</script>



