<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400,300,500|Roboto:400,300,500|Bree+Serif:400|Droid+Serif:400|Mrs+Saint+Delafield:400|Rubik:400|Tinos:400|Poppins:400|Open+Sans:400|Archivo+Narrow:400|Rochester:400|Playfair+Display:400|Raleway:400|Permanent+Marker:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210125200123"><link rel="stylesheet" href="{{ 'pagefly.90983451.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-4cb27e23"><div data-pf-type="Layout" class="pf-930aa85e"><div data-pf-type="ProductPreview" class="sc-pJVLq dIjrXL pf-a9e004c6">{% section 'product-template' %}
<style>form[action^="/cart/add"] [type=submit] {visibility:visible;}</style>
<!--Start Stamped.io Auto Installation-->

<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>


<!--End Stamped.io Auto Installation-->
<script type="application/json" id="ProductJson-1">
    {{ product | json }}
</script>
<script>
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';

   $(document).on("shopify:section:load",".js-section__product-single",function(e){theme.productSelect("1","single",!0)}),$(document).ready(function(){theme.productSelect("1","single",!0)});
</script>



</div><div data-container="true" data-parallax="true" data-parallax-speed="4" class="sc-pZopv bjKdkd pf-bc9449b9 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Section"><div class="sc-qXgLg kKFcHj pf-parallax"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-72d2a91d-9d6f-453c-90a1-096e9b75342f--dreamstimes78320078.jpg?4621" class="pf-parallax-img" alt="{{ shop.name }}"></div><div class="sc-pIvhh gtZHgp" style="background-color: rgba(155, 155, 155, 0.5);"></div><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-23a46e08 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-9fd4b652" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-67b70ca9"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-bcb426b7"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-337dd833">Be part of #teamamino</span></h2><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-527f2a99"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5dd34e09">Subscribe monthly to become a member of #teamamino.&nbsp;<br></span></h3><p class="sc-oUAoT HrWqm pf-8aed6d17" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-02369b86">Get exclusive access to a members-only discount on Amino Strength Booster Drink Mix plus training kit, shakers, samples, other merchandise and more surprises delivered every month.</span></p><a href="https://aminowater.co/pages/membership-waiting-list" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-b63c8fe6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-be562119">Learn more</span></a></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-bff93128" data-pf-type="Section"><div class="sc-pIvhh gtZHgp" style="background-color: rgba(74, 74, 74, 0.5);"></div><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-79dc0ef5 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-6f3562f1" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-5fb7e578"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3e435eb9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cd1f2856">Your intra-workout just got more satisfying!<br></span></h2><p class="sc-oUAoT HrWqm pf-ca4f5fb8" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b72e8781">With mouthwatering flavour, crisp taste combined with the EAA’s (essential amino acids) the body needs during a workout to fuel your recovery and muscle growth.</span></p></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-3877e851" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-ef9f8db7 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-765c2684" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-863531b6" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-af0cd2a2"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4127d23d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1d770900">The perfect recipe for recovery!</span></h2><p class="sc-oUAoT HrWqm pf-fb5ce330" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1528381e">Since I have started using the amino recovery, I can feel myself recover faster in workouts, and it’s giving me that last extra kick to crush those pr’s! -&nbsp;Carson M. </span></p></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-24f3679d" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-08dfdb39" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c7c0daa8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-17967720" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-df2f57d2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6e3ccba7">Gain an EAA edge<br></span></h2><p class="sc-oUAoT HrWqm pf-5a6d451f" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8fc33d83">EAA’s (essential amino acids) also include the BCAA’s (branched chain amino acids) which basically means that EAA’s have the edge over BCAA’s when it comes to performance.<br><br>Science shows that we need to provide the body with all of the essential amino acids to have a significant effect on muscle protein synthesis.&nbsp;<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-8346b080" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-043bc26c"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/BifmaiCNq1A?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div></div></div><div data-container="true" data-parallax="true" data-parallax-speed="4" class="sc-pZopv bjKdkd pf-675cc5b8" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-ea465bb6 pf-r pf-r-eh pf-r-ew" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-54a564ff" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-96e1f8b7" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose.png?13105"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose.png?13105"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose_800x450.png?13105&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose_400x225.png?13105&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose_850x850.png?13105&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose_400x225.png?13105&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose.png?13105 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e56fdc37-c731-47a7-adfc-0cec9db100de--triathletepurpose.png?13105"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-70d27705" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d266181a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-85fc3cec">Recover better. Train harder.</span></h2><p class="sc-oUAoT HrWqm pf-0d6fe8de" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bdcb2db8">5.5g of plant sourced amino acids and B-vitamins per scoop with no artificial colours, sweeteners or flavourings.</span></p><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c2efdebe"><div id="product-component-1568845651149"></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'amino-drinks-ltd.myshopify.com',
      storefrontAccessToken: '881a328142134793df1a86b5b9b0113f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '4093959667801',
        node: document.getElementById('product-component-1568845651149'),
        moneyFormat: '%C2%A3%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        },
        "text-align": "left"
      },
      "button": {
        "border-radius": "0px",
        "background-color": "#fad018",
        ":hover": {
          "background-color": "#e1bb16",
          "color": "#000000"
        },
        ":focus": {
          "background-color": "#e1bb16"
        },
        "color": "#000000",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        "font-family": "Roboto, sans-serif"
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      }
    },
    "contents": {
      "options": false,
      "img": false,
      "title": false,
      "price": false
    },
    "buttonDestination": "modal",
    "text": {
      "button": "TRY NOW"
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "border-radius": "0px",
        "background-color": "#fad018",
        ":hover": {
          "background-color": "#e1bb16",
          "color": "#000000"
        },
        ":focus": {
          "background-color": "#e1bb16"
        },
        "color": "#000000",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        "font-family": "Roboto, sans-serif"
      },
      "quantityInput": {
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px"
      },
      "title": {
        "font-family": "Lato, sans-serif"
      },
      "price": {
        "font-family": "Roboto, sans-serif"
      },
      "compareAt": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Lato",
      "Roboto"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Roboto, sans-serif"
      },
      "select": {
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "cart": {
    "styles": {
      "button": {
        "border-radius": "0px",
        "background-color": "#fad018",
        ":hover": {
          "background-color": "#e1bb16",
          "color": "#000000"
        },
        ":focus": {
          "background-color": "#e1bb16"
        },
        "color": "#000000",
        "font-size": "16px",
        "padding-top": "16px",
        "padding-bottom": "16px",
        "font-family": "Roboto, sans-serif"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#fad018",
        ":hover": {
          "background-color": "#e1bb16"
        },
        ":focus": {
          "background-color": "#e1bb16"
        },
        "font-family": "Roboto, sans-serif"
      },
      "count": {
        "color": "#000000",
        ":hover": {
          "color": "#000000"
        },
        "font-size": "16px"
      },
      "iconPath": {
        "fill": "#000000"
      }
    },
    "googleFonts": [
      "Roboto"
    ]
  }
},
      });
    });
  }
})();
/*]]>*/
</script></div></div></div></div><div class="sc-qPjXN eYzxUD pf-ad3c3447 pf-r pf-r-eh pf-r-ew" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-b06701f9" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-98184052" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build_400x3000.png?13127"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build.png?13127"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build_800x691.png?13127&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build_400x346.png?13127&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build_850x850.png?13127&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build_400x346.png?13127&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build.png?13127 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-cfa79040-0fdb-429b-b8e0-0f1519fc4759--Build.png?13127"></picture><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-997e7ff8"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-36433697">Build</span></h3><p class="sc-oUAoT HrWqm pf-410ed90b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a84efdd8">Build and sustain lean muscle and strength with over 5g of EAAs per serving</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-b733d4b9" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-93e49b2d" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover_400x3000.png?13129"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover.png?13129"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover_800x691.png?13129&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover_400x346.png?13129&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover_850x850.png?13129&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover_400x346.png?13129&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover.png?13129 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-2a91e925-5edc-4d65-a832-3bc2a1afc55d--recover.png?13129"></picture><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-91b12b0f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fd3b81e2">recover</span></h3><p class="sc-oUAoT HrWqm pf-8b75adf6" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-54ddc200">Recover faster with the essential amino acids needed for better physical and metal recovery</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-f33c2e41" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-3bb1a06b" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn_400x3000.png?13123"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn.png?13123"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn_800x691.png?13123&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn_400x346.png?13123&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn_850x850.png?13123&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn_400x346.png?13123&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn.png?13123 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-bd5ab6ea-449e-4430-b22d-fe4ed048aead--Burn.png?13123"></picture><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4d98e381"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b8a8a24b">Burn</span></h3><p class="sc-oUAoT HrWqm pf-70172bdb" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cc3c6647">Enhanced with L-glutamine for its ability to stimulate fat burning processes.&nbsp;<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-26e509ab" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-b04dbcba" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate_400x3000.png?13118"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate.png?13118"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate_800x691.png?13118&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate_400x346.png?13118&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate_850x850.png?13118&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate_400x346.png?13118&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate.png?13118 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-b3c427a3-3cb5-485b-80c6-d72193706f3e--rejuvenate.png?13118"></picture><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d653e4f8"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-50d32137">Rejuvenate</span></h3><p class="sc-oUAoT HrWqm pf-a66ace5f" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d8a6013b">&nbsp;Added B-Vitamins for their mood boosting effects and that rejuvenated feeling.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-b15c3521" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-d3bc26ef" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb_400x3000.png?13121"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb.png?13121"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb_800x691.png?13121&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb_400x346.png?13121&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb_850x850.png?13121&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb_400x346.png?13121&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb.png?13121 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-6fe65a58-84ff-46c5-8675-839fe293d59e--Absorb.png?13121"></picture><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e1ccac25"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-87ec3e0b">Absorb</span></h3><p class="sc-oUAoT HrWqm pf-bfda4eb3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ea0b60a6">Free-form amino acids are the&nbsp;fastest absorbing source of amino acids available and are non-inflammatory.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-764be045 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-71f3a55e" data-pf-type="Column"><a href="/pages/the-science" target="_self" data-pf-type="Button" class="sc-pZdvY dXDQQg pf-e5558ea0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-96cd8e22">More about the science</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-7788abda" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-8655bdfc pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-64a199e7" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-437e0242"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f306889e">DON'T JUST TAKE OUR WORD FOR IT<br></span></h3><p class="sc-oUAoT HrWqm pf-c6946458" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ed2180c9">Amino Water is supporting others’ with their training and recovery.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-5d3c4d82 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--7"><div class="sc-pkUyL fTyjzF pf-975cdc74" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-659c8785"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-b1deb017"><picture class="sc-psedN fLDHlO pf-5153cf2e" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe_400x3000.png?4491"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe.png?4491"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe.png?4491"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe_850x850.png?4491 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe.png?4491 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/gareth-anscombe.png?4491"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-4aeca622"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b70f8f9c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c605078d">Gareth Anscombe</span></h3><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-965e4af7"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6d484840">Welsh national rugby union team&nbsp;</span></h4></div></div><p class="sc-oUAoT HrWqm pf-53233173" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-507cef21">As a professional athlete it’s important to recover quickly, whether that is after a game or a hard training sessions. I’ve really enjoyed using Amino Water in the gym and after a tough game. The new cloudy lemonade flavour tastes great and the fact that there’s no artificial sweeteners is an added bonus!"</span></p></div></div></div></div><div class="sc-qPjXN eYzxUD pf-1ddcc9c8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-cc87d040" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-0f83c585"><div id="stamped-reviews-widget" data-widget-type="carousel" data-title="What our customers are saying" data-random="? string: ?"></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-08023f48" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-9661d505 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-700bb49f" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5251e338"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-241ef4b3"><span style="font-weight: normal;">NUTRITION INFORMATION</span></span></h2></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ae525b43" data-pf-type="Column"><div data-pf-type="Tabs" class="sc-qPVvu lgZrwB pf-754af46f"><nav><a class="pf-anchor nav-item" data-active="true" href="#pb-content-66ad3c23-fbc2-4c25-9a30-bd3fa2caf705" data-action="tab" data-element="66ad3c23-fbc2-4c25-9a30-bd3fa2caf705">Ingredients</a><a class="pf-anchor nav-item" data-active="false" href="#pb-content-b9d35677-d1fa-490c-b4cb-6ac9be485574" data-action="tab" data-element="b9d35677-d1fa-490c-b4cb-6ac9be485574">Nutrition</a><a class="pf-anchor nav-item" data-active="false" href="#pb-content-e254be4b-a4e1-4035-9e6c-c58170853ab9" data-action="tab" data-element="e254be4b-a4e1-4035-9e6c-c58170853ab9">Amino Acids</a></nav><div class="sc-ptfmh gtVEMN"> <div data-id="66ad3c23-fbc2-4c25-9a30-bd3fa2caf705" data-pf-type="Content.Tab" class="sc-pkHUE fIcDpF pf-5fc029c7" style="display: block;"><p class="sc-oUAoT HrWqm pf-f31bc859" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3a4ead1c">Water, Essential amino acid blend: (L-leucine, L-threonine, L- phenylalanine, L-valine, L-lysine, L-isoleucine, L-glutamine, L-histidine), Acid: (Citric Acid, Malic Acid), Flavourings, preservatives: (Potassium Sorbate, Sodium Benzoate ). Sweetener: Steviol glycoside, Antioxidant: Mixed Tocopherols, B-vitamin complex: (Pantothenic Acid, Vitamin B6, Vitamin B12, Thiamin), Colour: Riboflavin, (Contains a source of phenylalanine).</span></p></div><div data-id="b9d35677-d1fa-490c-b4cb-6ac9be485574" data-pf-type="Content.Tab" class="sc-pkHUE fIcDpF pf-31c1d8c9" style="display: none;"><div class="sc-qPjXN eYzxUD pf-d9823a75 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-9a28617e" data-pf-type="Column"><div class="sc-pdkfH jjYIOP pf-fb6d5cb7 pagefly__table--default" data-pf-type="Table"><table><tbody><tr><th data-cell-id="A1" class="A1"><span>Typical values&nbsp;</span></th><th data-cell-id="B1" class="B1"><span>per 100ml</span></th><th data-cell-id="C1" class="C1"><span></span></th><th data-cell-id="D1" class="D1"><span></span></th></tr><tr><td data-cell-id="A2" class="A2"><span>Energy</span></td><td data-cell-id="B2" class="B2"><span>23kJ/5kcal</span></td><td data-cell-id="C2" class="C2"><span></span></td><td data-cell-id="D2" class="D2"><span></span></td></tr><tr><td data-cell-id="A3" class="A3"><span>Fat</span></td><td data-cell-id="B3" class="B3"><span>0g</span></td><td data-cell-id="C3" class="C3"><span></span></td><td data-cell-id="D3" class="D3"><span></span></td></tr><tr><td data-cell-id="A4" class="A4"><span>(of which saturates)</span></td><td data-cell-id="B4" class="B4"><span>0g</span></td><td data-cell-id="C4" class="C4"><span></span></td><td data-cell-id="D4" class="D4"><span></span></td></tr><tr><td data-cell-id="A5" class="A5"><span>Carbohydrate</span></td><td data-cell-id="B5" class="B5"><span>0.54g</span></td><td data-cell-id="C5" class="C5"><span></span></td><td data-cell-id="D5" class="D5"><span></span></td></tr><tr><td data-cell-id="A6" class="A6"><span>(of which sugars)</span></td><td data-cell-id="B6" class="B6"><span>0</span></td><td data-cell-id="C6" class="C6"><span></span></td><td data-cell-id="D6" class="D6"><span></span></td></tr><tr><td data-cell-id="A7" class="A7"><span>Protein</span></td><td data-cell-id="B7" class="B7"><span>&lt;1g</span></td><td data-cell-id="C7" class="C7"><span></span></td><td data-cell-id="D7" class="D7"><span></span></td></tr><tr><td data-cell-id="A8" class="A8"><span>Salt</span></td><td data-cell-id="B8" class="B8"><span>0g</span></td><td data-cell-id="C8" class="C8"><span></span></td><td data-cell-id="D8" class="D8"><span></span></td></tr></tbody></table></div></div></div></div></div><div data-id="e254be4b-a4e1-4035-9e6c-c58170853ab9" data-pf-type="Content.Tab" class="sc-pkHUE fIcDpF pf-2ab1ac19" style="display: none;"><div class="sc-qPjXN eYzxUD pf-113303b4 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--1 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-02b9b441" data-pf-type="Column"><p class="sc-oUAoT HrWqm pf-0085fd0a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cd0835c5">Amino Water Strength Booster contains 5.5g of amino acids and B-vitamins per scoop.</span></p><div class="sc-pdkfH jjYIOP pf-fd6a529e pagefly__table--default" data-pf-type="Table"><table><tbody><tr><th data-cell-id="A1" class="A1"><span>Amino acid profile</span></th></tr><tr><td data-cell-id="A2" class="A2"><span>L-Leucine **<br></span></td></tr><tr><td data-cell-id="A3" class="A3"><span>L-Isoleucine **</span></td></tr><tr><td data-cell-id="A4" class="A4"><span>L-Valine **<br></span></td></tr><tr><td data-cell-id="A5" class="A5"><span>L-Threonine<br></span></td></tr><tr><td data-cell-id="A6" class="A6"><span>L- Phenylalanine<br></span></td></tr><tr><td data-cell-id="A7" class="A7"><span>L-Lysine<br></span></td></tr><tr><td data-cell-id="A8" class="A8"><span>L-Histidine<br></span></td></tr><tr><td data-cell-id="A9" class="A9"><span>L-Glutamine</span></td></tr></tbody></table></div><p class="sc-oUAoT HrWqm pf-fff2ba68" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8d001706">** Branched-chain amino acids</span></p></div></div></div></div> </div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-500914bb" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-724fdde0 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-df602b6b" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7a0bdb33"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8ef5f61a">Targeted delivery during or after training</span></h2><p class="sc-oUAoT HrWqm pf-b741b864" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f02a6ffe">Essential amino acids, are naturally occurring compounds that are the building blocks of proteins. When taken during or after training rapidly deliver the nutrients required to build and sustain lean muscle.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-6277e2b8 pf-r pf-r-align--cm pf-r-eh pf-r-ew" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-bf62b408" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-8efe70c7"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6000f5f7">Free-form amino acids.</span></h3><p class="sc-oUAoT HrWqm pf-daed347b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-922121f1">Free-form amino acids sourced from plants. These are the fastest absorbing source of amino acids available - faster than dietary protein and whey protein isolate making them great way to deliver targeted benefits to our bodies by strengthening our natural functions.**<br></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4b31c44e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ef7adbbc">B-vitamin complex.</span></h3><p class="sc-oUAoT HrWqm pf-beda63a3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-71d65d2c">B-vitamin complex to support the metabolisation of amino acids. B-vitamins are also known for their impact on mood, energy production, fat metabolism, repair and recovery.**</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-6e22ac74"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-948054f3">No artificial sweeteners.</span></h3><p class="sc-oUAoT HrWqm pf-2c2b1279" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-63eb0058">Free from artificial sweeteners, which research shows to mimic sugar and contribute to insulin resistance.**</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-caae2df5" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-972a5769" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker.png?12725"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker.png?12725"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker_400x3000.png?12725"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker.png?12725 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker_850x850.png?12725 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker.png?12725 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker.png?12725 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-9b5bb33a-6ca7-482c-b1c5-17ff9cd7aa52--aminowatershaker.png?12725"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--4 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-16b42d48" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7565760e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d41a7731">BCAAs and EAAs combined.</span></h3><p class="sc-oUAoT HrWqm pf-0f7d5c12" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-194d9786">BCAA’s combined with the benefits of the other EAA’s because science shows that when BCAA's are consumed with the presence of the other EAA’s muscle protein synthesis is boosted.**</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-fb563920"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9f233ca1">Low calorie. Zero sugar.</span></h3><p class="sc-oUAoT HrWqm pf-18bfb0be" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0728a106">Only 18 calories and no added sugar, therefore a fantastic healthy alternative to other functional / energy drinks.**</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-bd9b921f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f428494e">Caffeine free.</span></h3><p class="sc-oUAoT HrWqm pf-3f3fe8b9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e6dacc87">Free from stimulants like caffeine and other substances. Too much caffeine, which is supposed to help us feel better and more energised, often proves to be ineffective and even harmful in the long term.**</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-66e21b8f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a2520a4d" data-pf-type="Column"><a href="/pages/the-science" target="_self" data-pf-type="Button" class="sc-pZdvY dXDQQg pf-f61c6469"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-23007b6d">More about the science</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-63bc99b1" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-1f43f8d7 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-082fdf87" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-c725594c"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-66088022"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-dc35263f"><span style="font-weight: normal;">Also good to know...</span></span></h2></div></div></div></div><div class="sc-qPjXN eYzxUD pf-3e9fcb4f pf-r pf-r-align--ct pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-a468fafd" data-pf-type="Column"><ul data-pf-type="List" class="sc-pcLhl bMMcvF pf-1168cd15" style="--text-indent:0; --line-spacing:10px;"><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-0b44fd24"><i class="sc-pjGMk jrwOpx pf-9df140f2 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bf4dd4a8"><span style="font-weight: bold;">Mixes easily using just a glass, water and a spoon.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-5ab5ec86"><i class="sc-pjGMk jrwOpx pf-a4fc6fca fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fb9dfb70"><span style="font-weight: bold;">Plant-based.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-68ac7df4"><i class="sc-pjGMk jrwOpx pf-7fce2794 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5a749f9e"><span style="font-weight: bold;">Dairy-free.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-7b1a4229"><i class="sc-pjGMk jrwOpx pf-621fe2a2 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2b16fecb"><span style="font-weight: bold;">Gluten-free.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-ca253d6a"><i class="sc-pjGMk jrwOpx pf-2affef51 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d289a3e2"><span style="font-weight: bold;">No artificial sweeteners or flavourings.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-475176b2"><i class="sc-pjGMk jrwOpx pf-18ff2284 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-44547349"><span style="font-weight: 700;">Refreshing cloudy lemonade natural flavour.</span><br></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-dff697c6"><i class="sc-pjGMk jrwOpx pf-37af6d22 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bd27fc1a"><span style="font-weight: 700;">Non-inflammatory.&nbsp;</span><br></span></li></ul></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-145ef4c0" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c83bdefb pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--11"><div class="sc-pkUyL fTyjzF pf-b3983030" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d08c841c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d7822125">About us</span></h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5bbd8d25" data-pf-type="Column"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-628fa15d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9c1f68e0">We're a young British company that uses plant-based amino acids to create products that transform athletes.&nbsp;</span></h4></div></div></div><div class="sc-qPjXN eYzxUD pf-3c12ec25 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-84d625a2" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e19b64af"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a554c9f3">Our mission</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-ddb34182"><div></div></div><p class="sc-oUAoT HrWqm pf-b8268eb3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a1fc538c"><div>Our mission is to consciously lead the evolution of the sports and health drinks market by focusing on using the power of Amino Acids, the building blocks of protein and making it possible for athletes everywhere to accomplish their goals.<br></div><div><br></div></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-45f014b4" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c6b0f218"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4c04cb6a">Power of Amino Acids</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-d7029b47"><div></div></div><p class="sc-oUAoT HrWqm pf-409a5cfb" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b3a65405">Amino acids are the building blocks of protein (and life!) so like vitamins and minerals, supplementing with amino acids is a great way to deliver targeted benefits to our bodies by strengthening our natural functions.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-90edf72c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-39ffc791" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-460cff3a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6b95f8bb">Conscious choices
</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-3d6689c5"><div></div></div><p class="sc-oUAoT HrWqm pf-059d89a2" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2c226de3">Our love of both nature and science means that we're always researching, growing and perfecting what we create. Our desire is to create formulae that provide superior functional effects, enhancing what our bodies do naturally without compromising on the ingredients.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-fe591f3d" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4b9a22d2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-560f0b71">For everyone</span></h3><div data-pf-type="Divider" class="sc-qQKeD hpksip pf-936f6ac0"><div></div></div><p class="sc-oUAoT HrWqm pf-44e11bdc" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bbde7971">Amino acids are not just important for hard core bodybuilders. Together with the amazing impact they have to muscle growth they are also important in increasing overall health. Essentially, amino acids are involved in every physiological process in our bodies so are important in improving the health of all our tissues and organs with noticeable effects on brain health, and metabolic function.</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-8692e148" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-b8c67054 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6368251a" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1363da66"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7be97f58">#TEAMAMINO MEMBERS WHO LOVE US<br></span></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-32f79617 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-7f2a22f4" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-8dc2b6e0"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/Um3N9s3GYR8?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-5c311fdf" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-50fca781"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/YoRpYgFursI?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-0a47d286" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-7dc0d6cf"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/2tDWMg_gp_Q?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-c0b4864e" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-a8a37f2e"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/7bJG7G7eNec?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-878bded8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-c46ee2b2" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-1b945afe"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/-3sHhr6izoI?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-24f7a7fb" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-e4d7d84a"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/7vreARLyGWU?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-e415e494" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-746a8389"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/cr4k2txo7n8?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-5ca58b46" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-f35565d4"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/4-PW1CNHEQc?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-a105c51f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-29cfb4d7" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-54770c81" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-ab25f92b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ac7b806e" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-49c58d86"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2217623e">FAQs</span></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-7367e0a1 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8e9f7a56" data-pf-type="Column"><div data-multiple="false" data-pf-type="Accordion" class="sc-pJwpB eqQGbX pf-0704bdc4"><div class="sc-pRSgm kKcmPp pf-48b5416a accordion__item" data-pf-type="Content.Accordion" data-lock="false"><a id="e653dd8f-cb35-4dac-a577-3538d7d65531" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-e653dd8f-cb35-4dac-a577-3538d7d65531" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS AN AMINO ACID?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="e653dd8f-cb35-4dac-a577-3538d7d65531" style="display: none;"><p class="sc-oUAoT HrWqm pf-661f5b0a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-67467d8c">Amino acids are the building blocks of protein. There are 20 different amino acids in total. 9 of them are considered ‘essential,’ which means our bodies can’t manufacture them and we have to get them via food, drink and/or supplements.</span></p></div></div><div class="sc-pRSgm kKcmPp pf-8366b35b accordion__item" data-pf-type="Content.Accordion"><a id="0b09ba9e-bae2-481d-bb79-aa4e227be855" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-0b09ba9e-bae2-481d-bb79-aa4e227be855" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS THE DIFFERENCE BETWEEN PROTEIN AND AMINO ACIDS?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="0b09ba9e-bae2-481d-bb79-aa4e227be855" style="display: none;"><p class="sc-oUAoT HrWqm pf-4b94500a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0db33699">To repair proteins and produce new ones—and ultimately boost your ability to repair muscle—after exercising, your body needs an adequate amount of protein building blocks, molecules called amino acids. Protein needs to be digested before being absorbed.&nbsp;</span></p></div></div><div class="sc-pRSgm kKcmPp pf-57d153e6 accordion__item" data-pf-type="Content.Accordion"><a id="5067893b-840c-4b02-9151-cd96c72ffb8c" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-5067893b-840c-4b02-9151-cd96c72ffb8c" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS EAA (Essential Amino Acid)?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="5067893b-840c-4b02-9151-cd96c72ffb8c" style="display: none;"><p class="sc-oUAoT HrWqm pf-654b692d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1d7cf75c">9 of the 20 amino acids we are made from are considered ‘essential,’ which means our bodies can’t produce enough of them on its own and we have to get them via food and/or supplements. The others are considered non essential as you can manufacture them from the 9 essential ones.</span></p></div></div><div class="sc-pRSgm kKcmPp pf-222c6cea accordion__item" data-pf-type="Content.Accordion"><a id="4c83e832-78fd-48a7-9836-e1dba304ef4f" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-4c83e832-78fd-48a7-9836-e1dba304ef4f" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHY ARE AMINO ACIDS IMPORTANT?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="4c83e832-78fd-48a7-9836-e1dba304ef4f" style="display: none;"><p class="sc-oUAoT HrWqm pf-18ad9c1d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c0a82f60">Physical activity increases protein turnover in the muscles. Very hard exercise also causes an increase of muscle breakdown and because of this the muscles need to be “repaired”. Therefore, it's important to get protein/amino acids when exercising. The better you recover, the harder you can train.&nbsp;</span></p></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-e98aa79c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-74622b62" data-pf-type="Column"><a href="/pages/faqs" target="_self" data-pf-type="Button" class="sc-pZdvY dXDQQg pf-d2dcb760"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-12116425">View all FAQ's</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-c83d9962 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c00ada74 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0de90460" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-f29a9b83 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9aea3e22" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0b2c8363"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d68ce6d5">You may also like...<br></span></h3></div></div></div><div class="sc-pkvSM gpmTzN pf-3506d2f7 products pf-r pf-r-ew pf-r-ew--4" data-pf-type="Shopify.Products">{% assign defaultCollection = collection %}{% assign collection = collections['frontpage'] %}{% paginate collection.products by 4 %}{% for product in collection.products %}   {% assign prod_id = forloop.index | plus:paginate.current_offset %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}">{% if product.featured_image != blank %}<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image | img_url: '300x' , crop: 'center' , scale: 2 }}" class="pf-img-lazy" alt="{{ product.featured_image.alt | escape }}">{% else %}<img src="https://apps.pagefly.io/static/media/Product.0a61d667.svg" class="pf-placeholder-svg" alt="pf_svg">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
									{%- assign price = product.price -%}
									{%- assign price_varies = product.price_varies -%}
									{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="# " data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.selected_or_first_available_variant.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="# " aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="# " class="product__thumbnail" style="width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.0a61d667.svg" class="pf-placeholder-svg" alt="pf_svg"></a><div class="product__info"><h3 class="product__info-title"><a href="# " style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="# " class="product__button">Add To Cart</a></div></div></div></div>{% endfor %} {% endfor %}{% endpaginate %}{% assign collection = defaultCollection %}</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-6bcd5fb3" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-382e15b3 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-91addb56" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-cd22b6be"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-192fb0a7">Follow us on Instagram </span></h3><p class="sc-oUAoT HrWqm pf-b6286682" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b9b3ad03"><a href="https//www.instagram.com/drinkamino" target="_blank">@drinkamino</a></span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-942a64e0 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2d5dc675" data-pf-type="Column"><div data-pf-type="Instagram" class="sc-pQEyH dcFELj pf-42828d4f"><div class="sc-pHIdM cuZnEa pf-r-dg pf-r-dg-lg--5 pf-r-dg-md--5 pf-r-dg-sm--5 pf-r-dg-xs--5" data-token="IGQVJWZAU9IbVFqeHBjX1E4ODBfekdaM0NDd2dRT2s5d01GVFcwTjlmZADNIUTZAsY0ZAsVU9SVU14aE44QWVheDVaVUhFMVNhMndUYk9SZAG5hNUFJcy1VVXJJNkJDMzdDRTgwTTJxb1pn" data-limit="15" style="--pf-s-lg:10px; --pf-s-md:10px; --pf-s-sm:10px; --pf-s-xs:10px;"><div class="pf-c"><a href="https://www.instagram.com/p/CKeqKgMgFVJ/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/142890902_122070686440654_3057973022518054229_n.jpg?_nc_cat=100&ccb=2&_nc_sid=8ae9d6&_nc_ohc=-aVpJGS8ewQAX8qagf6&_nc_ht=scontent-lht6-1.cdninstagram.com&oh=93e05a9a0aba3c63b6e283a56731ce18&oe=603520DC" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKbXl4QM9FB/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/142215139_2767035050273538_7619601316727822954_n.jpg?_nc_cat=109&ccb=2&_nc_sid=8ae9d6&_nc_ohc=X6-gzCZ6ZfEAX8V0H10&_nc_ht=scontent-lhr8-1.cdninstagram.com&oh=d58228ec5dc4ed0ef41dddc40b4ff59f&oe=6036998F" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKYyzq1sUrD/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-2.cdninstagram.com/v/t51.2885-15/142427221_717540832286313_5434331272333392286_n.jpg?_nc_cat=101&ccb=2&_nc_sid=8ae9d6&_nc_ohc=lW1-PGzp4m8AX-IQZ1M&_nc_ht=scontent-lhr8-2.cdninstagram.com&oh=6610a4c4c798a31b644538c1dcb83029&oe=60351254" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKWMSgZroGi/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/141137833_2795524427338974_4441572185125652614_n.jpg?_nc_cat=107&ccb=2&_nc_sid=8ae9d6&_nc_ohc=zaVDfIaA5xYAX9V2Jeh&_nc_oc=AQmilgrPi3qaVEEnmcEbjSVzsziwEWHHt5MUkKqp8sNCRvgrJUp_9t4qbHNtkHGHw7w&_nc_ht=scontent-lhr8-1.cdninstagram.com&oh=88cbbbb0ed5f1dfc20bf894c1f4a6fd6&oe=60368839" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKUScEDHIZ1/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-2.cdninstagram.com/v/t51.2885-15/140558091_101617798527847_8394135560719366485_n.jpg?_nc_cat=105&ccb=2&_nc_sid=8ae9d6&_nc_ohc=6nIathg7NtcAX8cMqh7&_nc_ht=scontent-lhr8-2.cdninstagram.com&oh=ac79a7834bfaa80de3a9baccedffd7a3&oe=6036A2EF" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKRqv74nZ4D/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/140364100_1127981560983706_4720859747679381396_n.jpg?_nc_cat=111&ccb=2&_nc_sid=8ae9d6&_nc_ohc=F7UrJGxFBY8AX_F7bFZ&_nc_ht=scontent-lhr8-1.cdninstagram.com&oh=268806db830c081fe5da1ea7eb4b16c6&oe=60331F88" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKPJaDslQo1/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-2.cdninstagram.com/v/t51.2885-15/139745835_1095141317668724_4307071550358255387_n.jpg?_nc_cat=102&ccb=2&_nc_sid=8ae9d6&_nc_ohc=T-InQ8syOkoAX-hQI0N&_nc_ht=scontent-lhr8-2.cdninstagram.com&oh=e22d39a7cbab3032222febc44df1cdb1&oe=6034ED35" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKPAjTmFmxI/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-2.cdninstagram.com/v/t51.29350-15/139736384_235343188210947_664598208593271660_n.jpg?_nc_cat=104&ccb=2&_nc_sid=8ae9d6&_nc_ohc=Yzjx8gRJHpkAX8zO8Nq&_nc_ht=scontent-lhr8-2.cdninstagram.com&oh=4ff88f85f95eb56f9cf0301f48929297&oe=60346278" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKMkmjdgxwt/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/139949217_119399390034819_921818305116672255_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8ae9d6&_nc_ohc=YXxOT6ZRk3AAX_iTnmV&_nc_oc=AQmK8XHIVG7hHoxn0oFeaAu-MKyEGn8akadsxyCKPrAj7jMDP5ymazdhdd3HGUSG_YA&_nc_ht=scontent-lht6-1.cdninstagram.com&oh=910b94a316f129ca9d8bc510c597c173&oe=6033B38C" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKJXLwLM6kh/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/139243867_156185426078098_2767749320986374281_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8ae9d6&_nc_ohc=CgIMh-xAuFEAX9ewjvf&_nc_ht=scontent-lht6-1.cdninstagram.com&oh=7df48f20bb9029d34383d1e3293dbf45&oe=60355B69" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKGu8Zxgc94/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-2.cdninstagram.com/v/t51.2885-15/139259140_4998676380207649_5963294499387663341_n.jpg?_nc_cat=104&ccb=2&_nc_sid=8ae9d6&_nc_ohc=ynXCMOiZnrsAX9tbqHp&_nc_ht=scontent-lhr8-2.cdninstagram.com&oh=007ffd00e81c305b0a7f912720b74eec&oe=6033C173" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKEL4szr_n6/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-2.cdninstagram.com/v/t51.2885-15/139389480_3951069261578891_4027049950763771583_n.jpg?_nc_cat=101&ccb=2&_nc_sid=8ae9d6&_nc_ohc=8bHMjw7N_bcAX_bQ0b_&_nc_ht=scontent-lhr8-2.cdninstagram.com&oh=232d6185a3262c17a633b124b569d006&oe=6035DB6C" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CKCMRZ9hJ1x/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/137659981_122118306353668_1164184189061369554_n.jpg?_nc_cat=100&ccb=2&_nc_sid=8ae9d6&_nc_ohc=a_rrrYVvihcAX9gisDN&_nc_ht=scontent-lht6-1.cdninstagram.com&oh=ae8883abb850d963890e0e73a2a6345f&oe=6035E51F" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CJ_mWGwrrOh/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-2.cdninstagram.com/v/t51.2885-15/137582762_163245775226678_5481088523912187095_n.jpg?_nc_cat=102&ccb=2&_nc_sid=8ae9d6&_nc_ohc=nN49zN31sL4AX_ck8rL&_nc_ht=scontent-lhr8-2.cdninstagram.com&oh=0ee35e43f7f8ade914e6673eed42e807&oe=60361839" class="pf-img-lazy"></a></div><div class="pf-c"><a href="https://www.instagram.com/p/CJ9D00DHLV6/" target="_blank"><img src="" alt="insta-img" data-src="https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/137323444_839764650211685_5541010178885519245_n.jpg?_nc_cat=110&ccb=2&_nc_sid=8ae9d6&_nc_ohc=Atd1RpnyS2gAX9ytxo7&_nc_ht=scontent-lhr8-1.cdninstagram.com&oh=a83b86b314643c662f592a3cf61632cb&oe=6034837A" class="pf-img-lazy"></a></div></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"amino-drinks-ltd.myshopify.com","elementData":{},"pageTitle":"Amino Recovery Starter Pack","pageType":"product","pageId":"90983451-c466-407d-96e4-ea4744136aa4","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-25T20:14:58.770Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210125200123" defer></script>