<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400,300,500|Bree+Serif:400|Droid+Serif:400|Mrs+Saint+Delafield:400|Rubik:400|Tinos:400|Poppins:400|Open+Sans:400|Archivo+Narrow:400|Rochester:400|Playfair+Display:400|Raleway:400|Permanent+Marker:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.17.3/css/main-style.css?t=20210303170333"><link rel="stylesheet" href="{{ 'pagefly.6bcf3671.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-6df023f9"><div data-pf-type="Layout" class="pf-d0250910"><div data-pf-type="ProductPreview" class="sc-pJVLq dIjrXL pf-50fd08f1">{% section 'product-template' %}
<style>form[action^="/cart/add"] [type=submit] {visibility:visible;}</style>
<!--Start Stamped.io Auto Installation-->

<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>


<!--End Stamped.io Auto Installation-->
<script type="application/json" id="ProductJson-1">
    {{ product | json }}
</script>
<script>
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';

   $(document).on("shopify:section:load",".js-section__product-single",function(e){theme.productSelect("1","single",!0)}),$(document).ready(function(){theme.productSelect("1","single",!0)});
</script>



</div><div data-container="true" data-parallax="true" data-parallax-speed="4" class="sc-pZopv bjKdkd pf-dfe5d5f9" data-pf-type="Section"><div class="sc-qXgLg kKFcHj pf-parallax"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-72d2a91d-9d6f-453c-90a1-096e9b75342f--dreamstimes78320078.jpg?4621" class="pf-parallax-img" alt="{{ shop.name }}"></div><div class="sc-pIvhh gtZHgp" style="background-color: rgba(155, 155, 155, 0.5);"></div><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-4521b86f pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-3c38633d" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-8715427f"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1e06bc15"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f256102a">BE PART OF #TEAMAMINO</span></h2><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-032e861f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7b796844">Subscribe monthly to become a member of #teamamino.&nbsp;</span></h3><p class="sc-oUAoT HrWqm pf-e53920c7" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-562c2e6a">Get exclusive access to a members-only discount on Amino Strength Booster Drink Mix plus training kit, shakers, samples, other merchandise and more surprises delivered every month.</span></p><a href="https://aminowater.co/pages/membership-waiting-list" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-bea41354"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3f53ceb2">Learn more</span></a></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-b0d7e562 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-1c1a6425 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-600b4810" data-pf-type="Column"><div class="sc-pbKro bjcxym pf-e6c82aaa pf-r pf-r-ew--2" data-pf-type="Shopify.FeaturedProduct"><div class="pf-feature-product--horizontal"><div class="pf-c"><div class="pf-feature-product__image"><img src="https://apps.pagefly.io/static/media/placeholder.316353f2.svg" class="pf-placeholder-svg" alt="pf_svg"></div></div><div class="pf-c"><div class="pf-feature-product__infos"><h3>This is product title</h3><div class="pf-fp-pr pf-p-hs"><span class="pf-p-prr">£999</span><span class="pf-p-prs">£99</span></div><div class="pf-feature-product__actions"><input type="number" name="quantity" min="1" value="1"><a href="# " class="product__button">Add to Cart</a></div><div class="pf-feature-product__desc"><div></div></div><a class="pf-feature-product__viewfull" href="# ">View details</a></div></div></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-1196f552" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-d94c7ed6 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-56362862" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-cb07bff6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-812d0dd1">Benefits of Strength Booster</span></h2></div></div></div><div class="sc-qPjXN eYzxUD pf-b305e023 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-3bcc6075" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-b76fd08d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-8af09ed9" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-83e2b7ff" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01_400x3000.png?4491"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01.png?4491"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01.png?4491"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01_850x850.png?4491 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01.png?4491 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Preserves-muscle-mass-01-01.png?4491"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-d87c24fc" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-031bfed4"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f5a8f22b">Build muscle</span></h3><p class="sc-oUAoT HrWqm pf-8d636643" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-813dd06e">Helps build and sustain lean muscle. **</span></p></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-d13d35c5" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-f4f71d44 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-ea4a3504" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-a9919597" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01_400x3000.png?4491"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01.png?4491"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01.png?4491"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01_850x850.png?4491 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01.png?4491 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Supports-fat-burning-01-01.png?4491"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-db6339ff" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1b14666e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-acd9144a">Burn fat</span></h3><p class="sc-oUAoT HrWqm pf-f5271d5d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b138e4f8">Improves metabolism and helps combats hunger.**</span></p></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-c5608034" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-fa027b9e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-8f9b616f" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-05318bca" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01_400x3000.png?4491"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01.png?4491"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01.png?4491"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01_850x850.png?4491 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01.png?4491 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Helps-with-physical-and-mental-recovery-01.png?4491"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-762e42ef" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d3713fae"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-27260a6f">Aid recovery</span></h3><p class="sc-oUAoT HrWqm pf-29aabb73" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-101070b1">Helps with both physical and metal recovery.**</span></p></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-e9f72995" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-e9e9c371 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-711a30fb" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-aae7878a" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01_400x3000.png?4491"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01.png?4491"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01.png?4491"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01_850x850.png?4491 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01.png?4491 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01.png?4491 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/Protects-immune-function-2-01-01.png?4491"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-99114eea" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c439653c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-05ae8c8a">Immune support</span></h3><p class="sc-oUAoT HrWqm pf-7b4c215a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e2468396">Protects immune function.**</span></p></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-65072981 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c0cdb13e" data-pf-type="Column"><a data-pf-type="Button" class="sc-pZdvY dXDQQg pf-4121e49b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4dbdcf9d">More about the science</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-48e37c1e" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-e32a06e2 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e2ccd7e1" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-358338d8"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a87f1764">NUTRITION INFORMATION</span></h2></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-43c49758" data-pf-type="Column"><div data-pf-type="Tabs" class="sc-qPVvu lgZrwB pf-5f7df054"><nav><a class="pf-anchor nav-item" data-active="true" href="#pb-content-4af929c6-2301-470a-9510-c705a6ef2c16" data-action="tab" data-element="4af929c6-2301-470a-9510-c705a6ef2c16">Ingredients</a><a class="pf-anchor nav-item" data-active="false" href="#pb-content-c4866dfb-d722-4645-85a4-853542b82bd8" data-action="tab" data-element="c4866dfb-d722-4645-85a4-853542b82bd8">Nutrition</a><a class="pf-anchor nav-item" data-active="false" href="#pb-content-902873d4-0227-4752-9580-c3ff15c0ffac" data-action="tab" data-element="902873d4-0227-4752-9580-c3ff15c0ffac">Amino Acids</a></nav><div class="sc-ptfmh gtVEMN"> <div data-id="4af929c6-2301-470a-9510-c705a6ef2c16" data-pf-type="Content.Tab" class="sc-pkHUE fIcDpF pf-bbf02739" style="display: block;"><p class="sc-oUAoT HrWqm pf-54182e13" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7c190d6a">Water, Essential amino acid blend: (L-leucine, L-threonine, L- phenylalanine, L-valine, L-lysine, L-isoleucine, L-glutamine, L-histidine), Acid: (Citric Acid, Malic Acid), Flavourings, preservatives: (Potassium Sorbate, Sodium Benzoate ). Sweetener: Steviol glycoside, Antioxidant: Mixed Tocopherols, B-vitamin complex: (Pantothenic Acid, Vitamin B6, Vitamin B12, Thiamin), Colour: Riboflavin, (Contains a source of phenylalanine).<div><br></div><div><br></div></span></p></div><div data-id="c4866dfb-d722-4645-85a4-853542b82bd8" data-pf-type="Content.Tab" class="sc-pkHUE fIcDpF pf-014c0bb4" style="display: none;"><div class="sc-qPjXN eYzxUD pf-95496ff3 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-ddb9bd0d" data-pf-type="Column"><div class="sc-pdkfH jjYIOP pf-f3c40ce9 pagefly__table--default" data-pf-type="Table"><table><tbody><tr><th data-cell-id="A1" class="A1"><span>Typical values&nbsp;</span></th><th data-cell-id="B1" class="B1"><span>per 100ml</span></th><th data-cell-id="C1" class="C1"><span></span></th><th data-cell-id="D1" class="D1"><span></span></th></tr><tr><td data-cell-id="A2" class="A2"><span>Energy</span></td><td data-cell-id="B2" class="B2"><span>23kJ/5kcal</span></td><td data-cell-id="C2" class="C2"><span></span></td><td data-cell-id="D2" class="D2"><span></span></td></tr><tr><td data-cell-id="A3" class="A3"><span>Fat</span></td><td data-cell-id="B3" class="B3"><span>0g</span></td><td data-cell-id="C3" class="C3"><span></span></td><td data-cell-id="D3" class="D3"><span></span></td></tr><tr><td data-cell-id="A4" class="A4"><span>(of which saturates)</span></td><td data-cell-id="B4" class="B4"><span>0g</span></td><td data-cell-id="C4" class="C4"><span></span></td><td data-cell-id="D4" class="D4"><span></span></td></tr><tr><td data-cell-id="A5" class="A5"><span>Carbohydrate</span></td><td data-cell-id="B5" class="B5"><span>0.54g</span></td><td data-cell-id="C5" class="C5"><span></span></td><td data-cell-id="D5" class="D5"><span></span></td></tr><tr><td data-cell-id="A6" class="A6"><span>(of which sugars)</span></td><td data-cell-id="B6" class="B6"><span>0</span></td><td data-cell-id="C6" class="C6"><span></span></td><td data-cell-id="D6" class="D6"><span></span></td></tr><tr><td data-cell-id="A7" class="A7"><span>Protein</span></td><td data-cell-id="B7" class="B7"><span>&lt;1g</span></td><td data-cell-id="C7" class="C7"><span></span></td><td data-cell-id="D7" class="D7"><span></span></td></tr><tr><td data-cell-id="A8" class="A8"><span>Salt</span></td><td data-cell-id="B8" class="B8"><span>0g</span></td><td data-cell-id="C8" class="C8"><span></span></td><td data-cell-id="D8" class="D8"><span></span></td></tr></tbody></table></div></div></div></div></div><div data-id="902873d4-0227-4752-9580-c3ff15c0ffac" data-pf-type="Content.Tab" class="sc-pkHUE fIcDpF pf-ed8a004b" style="display: none;"><div class="sc-qPjXN eYzxUD pf-c06085a0 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--1 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-3bdacc55" data-pf-type="Column"><p class="sc-oUAoT HrWqm pf-574390ad" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e62f4eb8">Amino Water Strength Booster contains 5.5g of amino acids and B-vitamins per scoop.</span></p><div class="sc-pdkfH jjYIOP pf-ba6420ac pagefly__table--default" data-pf-type="Table"><table><tbody><tr><th data-cell-id="A1" class="A1"><span>Amino acid profile</span></th></tr><tr><td data-cell-id="A2" class="A2"><span>L-Leucine **<br></span></td></tr><tr><td data-cell-id="A3" class="A3"><span>L-Isoleucine **</span></td></tr><tr><td data-cell-id="A4" class="A4"><span>L-Valine **<br></span></td></tr><tr><td data-cell-id="A5" class="A5"><span>L-Threonine<br></span></td></tr><tr><td data-cell-id="A6" class="A6"><span>L- Phenylalanine<br></span></td></tr><tr><td data-cell-id="A7" class="A7"><span>L-Lysine<br></span></td></tr><tr><td data-cell-id="A8" class="A8"><span>L-Histidine<br></span></td></tr><tr><td data-cell-id="A9" class="A9"><span>L-Glutamine</span></td></tr></tbody></table></div><p class="sc-oUAoT HrWqm pf-d08a4c20" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c8e22033">** Branched-chain amino acids</span></p></div></div></div></div> </div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-58f61179" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-0c9302c1 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-127505b7" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b0ceac1e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bfb73d8d">Targeted delivery during or after training</span></h2><p class="sc-oUAoT HrWqm pf-b318a274" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fd549671">Essential amino acids, are naturally occurring compounds that are the building blocks of proteins. When taken during or after training rapidly deliver the nutrients required to build and sustain lean muscle.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-18dabc8f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--2 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-d0f0b570" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-d9a4a883"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fff4ce06">Free-form amino acids.</span></h3><p class="sc-oUAoT HrWqm pf-47929d12" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-28b6a324">Uses free-form amino acids sourced from plants. These are the fastest absorbing source of amino acids available - faster than dietary protein and whey protein isolate making them great way to deliver targeted benefits to our bodies by strengthening our natural functions.**<br></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f7f7c450"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-eb37be46">B-vitamin complex.</span></h3><p class="sc-oUAoT HrWqm pf-46603f0e" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-64134f0e">B-vitamin complex to support the metabolisation of amino acids. B-vitamins are also known for their impact on mood, energy production, fat metabolism, repair and recovery.**</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-44e339bf"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1d557300">No artificial sweeteners.</span></h3><p class="sc-oUAoT HrWqm pf-4e420645" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bf10d0ff">Free from artificial sweeteners, which research shows to mimic sugar and contribute to insulin resistance.**</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-9e85982b" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-28178f80" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large_400x3000.png?14049866105343319901"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large.png?14049866105343319901"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large.png?14049866105343319901"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large.png?14049866105343319901 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large_850x850.png?14049866105343319901 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large.png?14049866105343319901 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large.png?14049866105343319901 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/amino-water-cloudy-lemonde-single-large.png?14049866105343319901"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-c68dd3c8" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-dd3fe0d3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3e550406">BCAAs and EAAs combined.</span></h3><p class="sc-oUAoT HrWqm pf-bd3410a4" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-258e4f83">Combines BCAAs with the benefits of the other EAAs because science shows that when BCAAs are consumed with the presence of the other EAAs muscle protein synthesis is boosted.**</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5b83ae2d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9e52d8a5">Low calorie. Zero sugar.</span></h3><p class="sc-oUAoT HrWqm pf-8053497d" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6f47f880">Only 18 calories and no added sugar, therefore a fantastic healthy alternative to other functional / energy drinks.**</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1ced999d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8a9ff394">Caffeine free.</span></h3><p class="sc-oUAoT HrWqm pf-feb078eb" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e95a1f4b">Free from stimulants like caffeine and other substances. Too much caffeine, which is supposed to help us feel better and more energised, often proves to be ineffective and even harmful in the long term.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-c672aa9b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7eb95891" data-pf-type="Column"><a href="/pages/the-science" target="_self" data-pf-type="Button" class="sc-pZdvY dXDQQg pf-376f00eb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5c701202">More about the science</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-a8f8536d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-f6defe1c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-89a3b4e4" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-e1aee18b"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-2faf3a3e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bfdcef0f">Also good to know...</span></h2></div></div></div></div><div class="sc-qPjXN eYzxUD pf-980fd34a pf-r pf-r-align--ct pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-224c91b0" data-pf-type="Column"><ul data-pf-type="List" class="sc-pcLhl bMMcvF pf-b6719ae2" style="--text-indent:0; --line-spacing:10px;"><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-0a03be64"><i class="sc-pjGMk jrwOpx pf-4e3c85e1 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fc28e4c4"><span style="font-weight: bold;">Mixes easily using just a glass, water and a spoon.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-32841f28"><i class="sc-pjGMk jrwOpx pf-8b268b1e fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a6fe903c"><span style="font-weight: bold;">Plant-based.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-0a8f7bc6"><i class="sc-pjGMk jrwOpx pf-195ccce9 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f0284e76"><span style="font-weight: bold;">Dairy-free.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-991e5a6a"><i class="sc-pjGMk jrwOpx pf-f99a7fd6 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d28250c0"><span style="font-weight: bold;">Gluten-free.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-0a5e2faf"><i class="sc-pjGMk jrwOpx pf-798a920a fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bac4eed5"><span style="font-weight: bold;">No artificial sweeteners or flavourings.</span></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-e42f9e8b"><i class="sc-pjGMk jrwOpx pf-95a98891 fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a075da23"><span style="font-weight: 700;">Refreshing cloudy lemonade natural flavour.</span><br></span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-de9ceb79"><i class="sc-pjGMk jrwOpx pf-8979c91b fa fa-check" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7dff6066"><span style="font-weight: 700;">Non-inflammatory.&nbsp;</span><br></span></li></ul></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-738fd2fd" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-9c60390a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-571343d4" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-6cedcf40 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9ac1e89e" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-fa920b7f"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c0db13d3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7b118e97">Why Strength Booster?</span></h3></div><div class="sc-qPjXN eYzxUD pf-1ee2d645 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-f95f549e" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-d324612a" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538.png?12743"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538.png?12743"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538_800x339.png?12743&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538_400x170.png?12743&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538_850x850.png?12743&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538_400x170.png?12743&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538.png?12743 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-88b7a2e0-afd6-4902-bc8b-b58a4683182c--Screen-Shot-20181127-at-181538.png?12743"></picture></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-f7760cfd" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7e4924d3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ac685c7f">More effective than BCAAs alone.&nbsp;</span></h2><p class="sc-oUAoT HrWqm pf-af131178" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4133e41c">Our strength booster has been crafted for better strength boosting effects. Science shows that BCAAs need the 6 other essential amino acids to have a significant effect on muscle protein synthesis.&nbsp;<div><br></div><div><br><div><br></div></div></span></p></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-6f9f6bfe pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-75e89860" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-622d067a pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-2d7692bc" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-22b68a0e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a8e9068e">Consciously sourced from plants.</span></h2><p class="sc-oUAoT HrWqm pf-fade60a8" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-92bd7aad">We've sourced our amino acids from plants, we care about our environment (and your bodies) and will aim to ensure we always look after both.&nbsp;</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-6eb4a9eb" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-79cbe5af" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants.png?12739"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants.png?12739"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants_800x600.png?12739&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants_400x300.png?12739&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants_850x850.png?12739&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants_400x300.png?12739&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants.png?12739 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4659c8a2-f367-4cc1-b2f3-142eb8065510--veganessentialaminoaciddrinkmixsourcedfromplants.png?12739"></picture></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-bdfd96df pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-4a667041" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-ccc6f2a3 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e511fb8d" data-pf-type="Column"><picture class="sc-psedN fLDHlO pf-3d9a388a" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix.png?12735"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix.png?12735"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix_800x600.png?12735&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix_400x300.png?12735&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix_850x850.png?12735&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix_400x300.png?12735&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix.png?12735 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-4151decc-2465-4e8a-b24a-0c1be7231387--noartificialsweetenersteviaessentialaminoaciddrinkmix.png?12735"></picture></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-52b17c57" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-618a246c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-dd63f211">No added sugar. Naturally sweetened.&nbsp;</span></h2><p class="sc-oUAoT HrWqm pf-9a115745" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7468847b">These days sugary drinks are a think of the past but unlike other functional drinks and supplements we use a natural sweetener, Stevia. Most up-to-date research show that artificial sweeteners can mimic sugar and can still cause insulin resistance, so we wanted to avoid that but still satisfy your taste buds.</span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-ad0c9e9d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-8534d16e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-62135f1c" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-b71aebfc"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-bd4e36ce"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8edf4b59">WHY Our AMINO WATER?</span></h3></div></div></div></div><div class="sc-qPjXN eYzxUD pf-151f8d5b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-09b7b27d" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-d826cc55"><picture class="sc-psedN fLDHlO pf-0c553ded" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat.png?12733"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat.png?12733"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat_800x600.png?12733&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat_400x300.png?12733&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat_850x850.png?12733&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat_400x300.png?12733&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat.png?12733 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7c6d6964-840c-41e1-b3b7-c63b03864ffa--essentialaminoaciddrinkmixtastesgreat.png?12733"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-8026996f"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-09bbef50"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-ba63bf07"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-be502144"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ad25a59a">GREAT FLAVOUR.</span></h3><p class="sc-oUAoT HrWqm pf-cb5d7cc3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-94707145">No chalk. No bits. No gagging!</span></p></div></div><p class="sc-oUAoT HrWqm pf-8659c0e5" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-20a36a7c">Taste is so important to us! We pride ourselves on being one of the best tasting amino acid formulas on the market. <br><br>With the help of new technology (and one of the best tasters in the business), our amino acids are unlike essential amino acids of the past, which were bitter to taste and not water soluble. We've fixed this to be able to create naturally flavourful drinks.</span></p></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-7efe45c9" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-747f7c2d"><picture class="sc-psedN fLDHlO pf-6c36fd25" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix.png?12737"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix.png?12737"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix_800x602.png?12737&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix_400x301.png?12737&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix_850x850.png?12737&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix_400x301.png?12737&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix.png?12737 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-e3f1d21f-8bbd-4c16-a1c4-24f551440e4e--designedfordrinkingessentialaminoaciddrinkmix.png?12737"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-16164da9"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-df983c03"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4abf3f72"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7fb86317">Drink with A purpose.</span></h3><p class="sc-oUAoT HrWqm pf-6f003d7b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-15c97301">Functional drinking with Amino Acids.</span></p></div><p class="sc-oUAoT HrWqm pf-dffeb413" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d458e885">We're are committed to creating drinks that not only taste great but have amazing functional benefits using blends of Amino Acids.&nbsp;<br><br>Amino Acids are not just important for bodybuilders and fitness enthusiasts to optimize muscle growth, restoration, and maintenance. They are also important in increasing overall health in terms of improving the health of tissues and organs, brain health, metabolic function, and every physiological process in our bodies.</span></p></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-de604b09" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-6b6c7c2c"><picture class="sc-psedN fLDHlO pf-b8e4e1c6" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength.png?12731"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength.png?12731"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength_800x601.png?12731&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength_400x301.png?12731&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength_850x850.png?12731&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength_400x301.png?12731&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength.png?12731 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-7f5d01e1-0d6a-4866-b17a-57dc7806b09b--liftingweightsessentialaminoacidstrength.png?12731"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-061981a0"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-a9aeaee4"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4718be08"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b1078070">RESULTS driven.</span></h3><p class="sc-oUAoT HrWqm pf-92984ac9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-717eaa52">On the journey together.</span></p></div><p class="sc-oUAoT HrWqm pf-1ddfb780" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-93963500">Life's a journey. It never rests, it never quits. It's about overcoming obstacles, accomplishing goals, and recognising achievements. And then it resets to achieve again. As your trusted sports nutrition partner we're passionate about crafting products that deliver you results supporting you as you journey towards your goals.</span></p></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-4a0f4c12 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-0c6da585" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c4aead10 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--11"><div class="sc-pkUyL fTyjzF pf-efc5e7f2" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-47dd249c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-02b92d8d">About us</span></h3><p class="sc-oUAoT HrWqm pf-21e1bce1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3aac9ce0">We're a young British company developing smarter more functional drinks and supplements for active lifestyles!</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-a999c7f4 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-d940a6c1" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3d3ae08f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-632eaa53">WHY AMINO ACIDS</span></h3><p class="sc-oUAoT HrWqm pf-08879f94" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-eb1b712b">Amino acids are the building blocks of protein (and life!) so like vitamins and minerals, supplementing with amino acids is a great way to deliver targeted benefits to our bodies by strengthening our natural functions.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-d98839b6" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7b281fc0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1bb01142">Conscious choiceS</span></h3><p class="sc-oUAoT HrWqm pf-c9022d67" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f7227ebf">Our love of science means that we're always researching, growing and perfecting what we create. Our desire is to create formulae that provide superior functional effects, enhancing what our bodies do naturally without compromising on the ingredients.&nbsp;&nbsp;</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-5652830b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-124c2963" data-pf-type="Column"><a href="/" target="_self" data-pf-type="Button" class="sc-pZdvY dXDQQg pf-69e74126"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e9dbc496">Learn more about us</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-5459d7ed" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-9b5e7d38 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-d8f7efd4" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-4635c24a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-edac6192">DON'T JUST TAKE OUR WORD FOR IT<br></span></h3><p class="sc-oUAoT HrWqm pf-e238c561" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bcebc85f">Amino Water is supporting others’ with their training and recovery.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-2181ef3f pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--7"><div class="sc-pkUyL fTyjzF pf-8da1cf42" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-bc1d83d8"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-885534f2"><picture class="sc-psedN fLDHlO pf-8fdf63e2" data-pf-type="Image"><source media="(min-width: 1200px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_400x3000.png?4740"><source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe.png?4740"><source media="(min-width: 768px) and (max-width: 991px)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_800x800.png?4740&resized"><source media="(max-width: 767px) and (orientation: portrait)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_400x400.png?4740&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_850x850.png?4740&resized 2x"><source media="(max-width: 767px) and (orientation: landscape)" srcset="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe_400x400.png?4740&resized 1x, https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe.png?4740 2x"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/14/assets/pf-a86b9208-1573-465c-9722-8fb17eb5c0c0--garethanscombe.png?4740"></picture><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-ccf85b27"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-aa2b9ea0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2ed18957">Gareth Anscombe</span></h3><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-63e846fb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bc213be8">Welsh national rugby union team&nbsp;</span></h4></div></div><p class="sc-oUAoT HrWqm pf-707443d6" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ac728c3d">As a professional athlete it’s important to recover quickly, whether that is after a game or a hard training sessions. I’ve really enjoyed using Amino Water in the gym and after a tough game. The new cloudy lemonade flavour tastes great and the fact that there’s no artificial sweeteners is an added bonus!"</span></p></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-96963838" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-184f8770 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-2950caa5" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-16ea8e05"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/Um3N9s3GYR8?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-aff0723f" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-4026ac07"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/rJ9SPoybUKQ?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-d212ea28" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-34c19160"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/hxQ4jdgokVY?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-2a4a73b8" data-pf-type="Column"><div data-pf-type="Youtube" class="sc-pQfvp hBInHv pf-0774a37e"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/4-PW1CNHEQc?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-d46416d4 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-53b8e105 pf-r pf-r-align--cm pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9d8a721b" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-07081615 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ddf31cc9" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-307def30"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a5826669">You may also like...<br></span></h3></div></div></div><div class="sc-pkvSM gpmTzN pf-5a9a5b81 products pf-r pf-r-ew pf-r-ew--4" data-pf-type="Shopify.Products">{% assign defaultCollection = collection %}{% assign collection = collections['frontpage'] %}{% paginate collection.products by 4 %}{% for product in collection.products %}   {% assign prod_id = forloop.index | plus:paginate.current_offset %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}">{% if product.featured_image != blank %}<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image | img_url: '300x' , crop: 'center' , scale: 2 }}" class="pf-img-lazy" alt="{{ product.featured_image.alt | escape }}">{% else %}<img src="https://apps.pagefly.io/static/media/Product.0a61d667.svg" class="pf-placeholder-svg" alt="pf_svg">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
									{%- assign price = product.price -%}
									{%- assign price_varies = product.price_varies -%}
									{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="# " data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.selected_or_first_available_variant.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="# " aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="# " class="product__thumbnail" style="width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.0a61d667.svg" class="pf-placeholder-svg" alt="pf_svg"></a><div class="product__info"><h3 class="product__info-title"><a href="# " style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="# " class="product__button">Add To Cart</a></div></div></div></div>{% endfor %} {% endfor %}{% endpaginate %}{% assign collection = defaultCollection %}</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-382a8bb8" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-512568d8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-fa7f31db" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-30792497"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e9643216">Questions</span></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-e715a978 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c7d79772" data-pf-type="Column"><div data-multiple="false" data-pf-type="Accordion" class="sc-pJwpB eqQGbX pf-246a3cb3"><div class="sc-pRSgm kKcmPp pf-598e4bab accordion__item" data-pf-type="Content.Accordion" data-lock="false"><a id="e02a093b-a76c-4b9c-b06b-b04f58dd408c" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-e02a093b-a76c-4b9c-b06b-b04f58dd408c" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS AN AMINO ACID?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="e02a093b-a76c-4b9c-b06b-b04f58dd408c" style="display: none;"><p class="sc-oUAoT HrWqm pf-c5676bd1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2ca267a8">Amino acids are the building blocks of protein. There are 20 different amino acids in total. 9 of them are considered ‘essential,’ which means our bodies can’t manufacture them and we have to get them via food, drink and/or supplements.</span></p></div></div><div class="sc-pRSgm kKcmPp pf-aea5a0b7 accordion__item" data-pf-type="Content.Accordion"><a id="0f2ee73b-d3c3-4cf6-8249-62e0f16fff04" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-0f2ee73b-d3c3-4cf6-8249-62e0f16fff04" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS THE DIFFERENCE BETWEEN PROTEIN AND AMINO ACIDS?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="0f2ee73b-d3c3-4cf6-8249-62e0f16fff04" style="display: none;"><p class="sc-oUAoT HrWqm pf-ce7c7c2b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4b3a74b5">To repair proteins and produce new ones—and ultimately boost your ability to repair muscle—after exercising, your body needs an adequate amount of protein building blocks, molecules called amino acids. Protein needs to be digested before being absorbed.&nbsp;</span></p></div></div><div class="sc-pRSgm kKcmPp pf-189bf244 accordion__item" data-pf-type="Content.Accordion"><a id="dfdd5c8b-ad21-4ea5-a4ee-b26ff9e2fd91" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-dfdd5c8b-ad21-4ea5-a4ee-b26ff9e2fd91" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS EAA (Essential Amino Acid)?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="dfdd5c8b-ad21-4ea5-a4ee-b26ff9e2fd91" style="display: none;"><p class="sc-oUAoT HrWqm pf-2e084051" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fdf66975">9 of the 20 amino acids we are made from are considered ‘essential,’ which means our bodies can’t produce enough of them on its own and we have to get them via food and/or supplements. The others are considered non essential as you can manufacture them from the 9 essential ones.</span></p></div></div><div class="sc-pRSgm kKcmPp pf-040fc7e8 accordion__item" data-pf-type="Content.Accordion"><a id="19182b8e-a081-4129-a676-00be43bf2de0" class="sc-oTmHo fcqzIr accordion__header pf-anchor" href="#pb-content-19182b8e-a081-4129-a676-00be43bf2de0" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHY ARE AMINO ACIDS IMPORTANT?</a><div class="sc-qapxP jnVPKq accordion__content" data-id="19182b8e-a081-4129-a676-00be43bf2de0" style="display: none;"><p class="sc-oUAoT HrWqm pf-4d1dbe47" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4fe2e839">Physical activity increases protein turnover in the muscles. Very hard exercise also causes an increase of muscle breakdown and because of this the muscles need to be “repaired”. Therefore, it's important to get protein/amino acids when exercising. The better you recover, the harder you can train.&nbsp;</span></p></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-714f308f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-da41d15e" data-pf-type="Column"><a href="/pages/faqs" target="_self" data-pf-type="Button" class="sc-pZdvY dXDQQg pf-f9fa103a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-89bc4b5f">View all FAQ's</span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-b13a4ed6" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-751162a9 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9f6afe28" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-abf7cd30"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8142e2ca">Follow us on Instagram <br></span></h3><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b6d4865f"><a data-color="inherit" href="https://www.instagram.com/drinkaminowater/" target="_self"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f403343e"><a href="https//www.instagram.com/drinkaminowater/">@drinkaminowater</a></span></a></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-dcaa75bf pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-06b57ddc" data-pf-type="Column"><div data-pf-type="Instagram" class="sc-pQEyH dcFELj pf-0c8912c4"><h4>Entered access token key is invalid, please check it again.</h4></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-79c27566 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden" data-pf-type="Section"><div class="sc-pIvhh gtZHgp" style="background-color: rgba(155, 155, 155, 0.7);"></div><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-7c959777 pf-r pf-r-eh" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6d395ef3" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-2e350943"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-2700b5b7"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5610ae7a">Get a free sample</span></h3><p class="sc-oUAoT HrWqm pf-0fc75d94" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2d8254e3">Join our mailing list with 10k+ others.</span></p></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-d96fa800" data-pf-type="Column"><form class="sc-plgXW cxBaVr pf-d40ddcd8" target="_blank" action="" mode="view" method="POST" data-pf-type="MailChimp"><div><input type="text" placeholder="Enter your mail" name="EMAIL" required=""><button><span>Yes, I want my free sample</span></button></div></form></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.17.3","shopDomain":"amino-drinks-ltd.myshopify.com","elementData":{},"pageTitle":"Amino Recovery Ready-to-Drink","pageType":"product","pageId":"6bcf3671-5b8f-4195-97a5-5f5cccb2d431","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-03-03T17:11:40.904Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.17.3/core/helper.js?t=20210303170333" defer></script>