

{% section 'product-template' %}

<script type="application/json" id="ProductJson-1">
    {{ product | json }}
</script>
<script>
    theme.money_format = '{{ shop.money_format }}';
    theme.t.add_to_cart = '{{ 'products.product.add_to_cart' | t }}';
    theme.t.sold_out = '{{ 'products.product.sold_out' | t }}';
    theme.t.unavailable = '{{ 'products.product.unavailable' | t }}';

    $(document).on('shopify:section:load', '.js-section__product-single', function(event) {
        theme.productSelect('1','single', true);
    });
    $(document).ready(function(){
        theme.productSelect('1','single', true);
    });
</script>
{% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, auto_install: true %}
    <div class="__pf" id="__pf"><div class="pf-1bdce852 sc-cmTdod kHxQNt" data-pf-type="Body"><div class="pf-4e637d42 sc-esOvli bMqLzo" data-pf-type="Layout"><div data-container="true" class="pf-03f40275 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-18d98d6c pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f875c1a4 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-27efd598 pf-r pf-r-ew--2 sc-ipXKqB bNsUuy" data-pf-type="Shopify.FeaturedProduct"><div class="pf-feature-product--horizontal"><div class="pf-c"><div class="pf-feature-product__image"><img src="https://apps.pagefly.io/static/media/placeholder.d20f77e5.svg" class="pf-placeholder-svg"></div></div><div class="pf-c"><div class="pf-feature-product__infos"><h3>This is product title</h3><div class="pf-feature-product__prices"><div><s>£999</s><span>£99</span></div></div><div class="pf-feature-product__actions"><input type="number" name="quantity" min="1" value="1"><a href="javascript:void(0);" class="product__button">Add to Cart</a></div><div class="pf-feature-product__desc"><div></div></div><a class="pf-feature-product__viewfull" href="javascript:void(0);">View details</a></div></div></div></div></div> </div></div></div></div><div data-container="true" class="pf-ee205787 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-d154775d pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9666bd98 sc-eilVRo gnWYnj" data-pf-type="Column"><h2 mode="view" class="pf-707f07ca sc-gzOgki kmguVM" data-pf-type="Heading"><span class="pf-a193a584 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">Benefits of Strength Booster</span></span></h2></div> </div></div><div class="pf-75ce3c7c pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-a26f20a1 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-8a443746 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-286f8536 sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-0b852a1f sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/Preserves-muscle-mass-01-01.png?14316334273818474027"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-a94f1cbd sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-6a60dfb1 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-9996b8a0 sc-eLExRp iavTDB" data-pf-type="Text">Muscle building</span></h3><p class="pf-4fd56b81 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-e1f9dbdb sc-eLExRp iavTDB" data-pf-type="Text">Helps build and sustain lean muscle. **</span></p></div> </div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-d86961f3 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-90fd31f4 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-1b9811f6 sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-fae94d50 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/Supports-fat-burning-01-01.png?1000587147190144981"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-378756b2 sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-6b920b11 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-866d1c70 sc-eLExRp iavTDB" data-pf-type="Text">Fat burning</span></h3><p class="pf-d5d22b1d sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-f5a0fd5d sc-eLExRp iavTDB" data-pf-type="Text">Improves metabolism and helps combats hunger.**</span></p></div> </div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-5a28317a sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-c6ef8c4c pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-8c2e4b74 sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-8533acc3 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/Helps-with-physical-and-mental-recovery-01.png?1794909281959967120"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-90dc7128 sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-c5a5b2b3 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-f9f0c43d sc-eLExRp iavTDB" data-pf-type="Text">Cell recovery</span></h3><p class="pf-124e7d97 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-51f6e49f sc-eLExRp iavTDB" data-pf-type="Text">Helps with both physical and metal recovery.**</span></p></div> </div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-ca27c88d sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-f40e0b53 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-ff39aa72 sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-bf06c747 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/Protects-immune-function-2-01-01.png?4185893656951886826"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-0147ce72 sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-43cde42a sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-7533c8c9 sc-eLExRp iavTDB" data-pf-type="Text">Immune support</span></h3><p class="pf-a898bf0a sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-77821c75 sc-eLExRp iavTDB" data-pf-type="Text">Protects immune function.**</span></p></div> </div></div></div> </div></div><div class="pf-497483af pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e380267f sc-eilVRo gnWYnj" data-pf-type="Column"><a class="pf-df4197fb sc-jwKygS dbCSLI" target="_self" data-pf-type="Button"><span class="pf-308d3134 sc-eLExRp iavTDB" data-pf-type="Text">**More about the science</span></a></div> </div></div></div></div><div data-container="true" class="pf-cdc95b70 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-e497bae5 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-1397bf7c sc-eilVRo gnWYnj" data-pf-type="Column"><h2 mode="view" class="pf-8a227320 sc-gzOgki kmguVM" data-pf-type="Heading"><span class="pf-1b4d74f4 sc-eLExRp iavTDB" data-pf-type="Text">NUTRITION INFORMATION</span></h2></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-df091f3d sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-ec21cc71 sc-lkqHmb gCGlor" data-pf-type="Tabs"><nav><a class="nav-item" data-active="true" href="#pb-content-40acf459-5634-48ca-a3d8-8d4cb32434ef" data-action="tab">Ingredients</a><a class="nav-item" data-active="false" href="#pb-content-879b9457-5942-4786-94f5-c45020dd8fde" data-action="tab">Nutrition</a><a class="nav-item" data-active="false" href="#pb-content-9e2510ae-c2e6-43fb-983c-da73250afe7a" data-action="tab">Amino Acids</a></nav><div class="sc-bXGyLb iEAska"> <div data-id="40acf459-5634-48ca-a3d8-8d4cb32434ef" class="pf-3e76ef5e sc-daURTG dWOoUJ" data-pf-type="Content.Tab" style="display: block;"><p class="pf-86892212 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-2eda1d0e sc-eLExRp iavTDB" data-pf-type="Text">Water, Essential amino acid blend: (L-leucine, L-threonine, L- phenylalanine, L-valine, L-lysine, L-isoleucine, L-glutamine, L-histidine), Acid: (Citric Acid, Malic Acid), Flavourings, preservatives: (Potassium Sorbate, Sodium Benzoate ). Sweetener: Steviol glycoside, Antioxidant: Mixed Tocopherols, B-vitamin complex: (Pantothenic Acid, Vitamin B6, Vitamin B12, Thiamin), Colour: Riboflavin, (Contains a source of phenylalanine).<div><br></div><div><br></div></span></p></div><div data-id="879b9457-5942-4786-94f5-c45020dd8fde" class="pf-daf520d3 sc-daURTG dWOoUJ" data-pf-type="Content.Tab" style="display: none;"><div class="pf-e9f10fc0 pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8" style="padding: 15px;"><div class="pf-b5a9ae9a sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-9f46b1e5 pagefly__table--default sc-krvtoX jbjHMZ" data-pf-type="Table"><table><tbody><tr><th data-cell-id="A1" class="A1"><span>Typical values&nbsp;</span></th><th data-cell-id="B1" class="B1"><span>per 100ml</span></th></tr><tr><td data-cell-id="A2" class="A2"><span>Energy</span></td><td data-cell-id="B2" class="B2"><span>23kJ/5kcal</span></td></tr><tr><td data-cell-id="A3" class="A3"><span>Fat</span></td><td data-cell-id="B3" class="B3"><span>0g</span></td></tr><tr><td data-cell-id="A4" class="A4"><span>(of which saturates)</span></td><td data-cell-id="B4" class="B4"><span>0g</span></td></tr><tr><td data-cell-id="A5" class="A5"><span>Carbohydrate</span></td><td data-cell-id="B5" class="B5"><span>0.54g</span></td></tr><tr><td data-cell-id="A6" class="A6"><span>(of which sugars)</span></td><td data-cell-id="B6" class="B6"><span>0</span></td></tr><tr><td data-cell-id="A7" class="A7"><span>Protein</span></td><td data-cell-id="B7" class="B7"><span>&lt;1g</span></td></tr><tr><td data-cell-id="A8" class="A8"><span>Salt</span></td><td data-cell-id="B8" class="B8"><span>0g</span></td></tr></tbody></table></div></div> </div></div></div><div data-id="9e2510ae-c2e6-43fb-983c-da73250afe7a" class="pf-77d6c99d sc-daURTG dWOoUJ" data-pf-type="Content.Tab" style="display: none;"><div class="pf-8da68f5d pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--1 pf-c-lg--8" style="padding: 15px;"><div class="pf-4335fae9 sc-eilVRo gnWYnj" data-pf-type="Column"><p class="pf-441beaaa sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-507c07e1 sc-eLExRp iavTDB" data-pf-type="Text">Amino Water Strength Booster contains 5.5g of amino acids and B-vitamins per scoop.</span></p><div class="pf-5f6c89b0 pagefly__table--default sc-krvtoX jbjHMZ" data-pf-type="Table"><table><tbody><tr><th data-cell-id="A1" class="A1"><span>Amino acid profile</span></th></tr><tr><td data-cell-id="A2" class="A2"><span>L-Leucine **<br></span></td></tr><tr><td data-cell-id="A3" class="A3"><span>L-Isoleucine **</span></td></tr><tr><td data-cell-id="A4" class="A4"><span>L-Valine **<br></span></td></tr><tr><td data-cell-id="A5" class="A5"><span>L-Threonine<br></span></td></tr><tr><td data-cell-id="A6" class="A6"><span>L- Phenylalanine<br></span></td></tr><tr><td data-cell-id="A7" class="A7"><span>L-Lysine<br></span></td></tr><tr><td data-cell-id="A8" class="A8"><span>L-Histidine<br></span></td></tr><tr><td data-cell-id="A9" class="A9"><span>L-Glutamine</span></td></tr></tbody></table></div><p class="pf-2a82729a sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-3a74e2b6 sc-eLExRp iavTDB" data-pf-type="Text">** Branched-chain amino acids</span></p></div> </div></div></div> </div></div></div> </div></div></div></div><div data-container="true" class="pf-4c9fbaed sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-0899a94b pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--8" style="padding: 15px;"><div class="pf-d88958e5 sc-eilVRo gnWYnj" data-pf-type="Column"><h2 mode="view" class="pf-664c41f9 sc-gzOgki kmguVM" data-pf-type="Heading"><span class="pf-fea356ad sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">Targeted delivery during or after training</span></span></h2><p class="pf-b3857382 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-303a11e1 sc-eLExRp iavTDB" data-pf-type="Text">Essential amino acids, are naturally occurring compounds that are the building blocks of proteins. When taken during or after training rapidly deliver the nutrients required to build and sustain lean muscle.</span></p></div> </div></div><div class="pf-1ca0662b pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--2 pf-c-lg--3" style="padding: 15px;"><div class="pf-2cf1762d sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-44b505c1 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-425a87ed sc-eLExRp iavTDB" data-pf-type="Text">Free-form amino acids.</span></h3><p class="pf-fe6e5993 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-a1e75c63 sc-eLExRp iavTDB" data-pf-type="Text">Free-form amino acids sourced from plants. These are the fastest absorbing source of amino acids available - faster than dietary protein and whey protein isolate making them great way to deliver targeted benefits to our bodies by strengthening our natural functions.**<br></span></p><h3 mode="view" class="pf-b2d2b68f sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-b7243473 sc-eLExRp iavTDB" data-pf-type="Text">B-vitamin complex.</span></h3><p class="pf-901e7b58 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-979d15ce sc-eLExRp iavTDB" data-pf-type="Text">B-vitamin complex to support the metabolisation of amino acids. B-vitamins are also known for their impact on mood, energy production, fat metabolism, repair and recovery.**</span></p><h3 mode="view" class="pf-affeaff5 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-fc71573c sc-eLExRp iavTDB" data-pf-type="Text">No artificial sweeteners.</span></h3><p class="pf-72e49e6a sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-7cc024a1 sc-eLExRp iavTDB" data-pf-type="Text">Free from artificial sweeteners, which research shows to mimic sugar and contribute to insulin resistance.**</span></p></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--6" style="padding: 15px;"><div class="pf-b384b153 sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-b442278a sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/amino-water-shaker.png?5613165188755833908"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-3f56bb12 sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-fb3177b3 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-53aa91ad sc-eLExRp iavTDB" data-pf-type="Text">BCAAs and EAAs combined.</span></h3><p class="pf-1777de26 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-fc4a66e5 sc-eLExRp iavTDB" data-pf-type="Text">BCAA’s combined with the benefits of the other EAA’s because science shows that when BCAA's are consumed with the presence of the other EAA’s muscle protein synthesis is boosted.**<br><div>.<br></div></span></p><h3 mode="view" class="pf-58c12d86 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-f5242347 sc-eLExRp iavTDB" data-pf-type="Text">Low calorie. Zero sugar.</span></h3><p class="pf-991b6ae8 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-284bfbc0 sc-eLExRp iavTDB" data-pf-type="Text">Only 18 calories and no added sugar, therefore a fantastic healthy alternative to other functional / energy drinks.**</span></p><h3 mode="view" class="pf-c02c66f4 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-263efa3e sc-eLExRp iavTDB" data-pf-type="Text">Caffeine free.</span></h3><p class="pf-17460262 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-7faaa2f9 sc-eLExRp iavTDB" data-pf-type="Text">Free from stimulants like caffeine and other substances. Too much caffeine, which is supposed to help us feel better and more energised, often proves to be ineffective and even harmful in the long term.**</span></p></div> </div></div><div class="pf-e4fbf794 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-2713aaaa sc-eilVRo gnWYnj" data-pf-type="Column"><a class="pf-c042f3b4 sc-jwKygS dbCSLI" target="_self" data-pf-type="Button"><span class="pf-633750bc sc-eLExRp iavTDB" data-pf-type="Text">**More about the science</span></a></div> </div></div></div></div><div data-container="true" class="pf-0b3e5f38 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-ecdb8bb9 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-a42b300e sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-7c435f23 sc-iELTvK iTCmS" data-pf-type="Block"><h2 mode="view" class="pf-d16a787f sc-gzOgki kmguVM" data-pf-type="Heading"><span class="pf-00fa950b sc-eLExRp iavTDB" data-pf-type="Text">Also good to know...</span></h2></div></div> </div></div><div class="pf-07c1d43e pf-r pf-r-align--ct pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6" style="padding: 15px;"><div class="pf-c46d77a9 sc-eilVRo gnWYnj" data-pf-type="Column"><ul class="pf-f8f63054 sc-cLQEGU dRjydW" data-pf-type="List"><li data-target="_self" class="pf-6dec6114 sc-hMFtBS fDWrTi" data-pf-type="List.Item"><i class="pf-c48829c2 fa fa-check sc-hZSUBg gvECGQ" data-pf-type="Icon"></i><span class="pf-b46355f6 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">Mixes easily using just a glass, water and a spoon.</span></span></li><li data-target="_self" class="pf-6d0b0751 sc-hMFtBS fDWrTi" data-pf-type="List.Item"><i class="pf-15c8a3fb fa fa-check sc-hZSUBg gvECGQ" data-pf-type="Icon"></i><span class="pf-850e79e4 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">Plant-based.</span></span></li><li data-target="_self" class="pf-260ee813 sc-hMFtBS fDWrTi" data-pf-type="List.Item"><i class="pf-3c363a54 fa fa-check sc-hZSUBg gvECGQ" data-pf-type="Icon"></i><span class="pf-1a555650 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">Dairy-free.</span></span></li><li data-target="_self" class="pf-6358493f sc-hMFtBS fDWrTi" data-pf-type="List.Item"><i class="pf-359b26c5 fa fa-check sc-hZSUBg gvECGQ" data-pf-type="Icon"></i><span class="pf-4fd1ef1e sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">Gluten-free.</span></span></li><li data-target="_self" class="pf-8d8eafdd sc-hMFtBS fDWrTi" data-pf-type="List.Item"><i class="pf-24f3887b fa fa-check sc-hZSUBg gvECGQ" data-pf-type="Icon"></i><span class="pf-3f875e8d sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">No artificial sweeteners or flavourings.</span></span></li><li data-target="_self" class="pf-b8fb6f8c sc-hMFtBS fDWrTi" data-pf-type="List.Item"><i class="pf-dfcb7d8e fa fa-check sc-hZSUBg gvECGQ" data-pf-type="Icon"></i><span class="pf-b14945a2 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: 700;">Refreshing cloudy lemonade natural flavour.</span><br></span></li><li data-target="_self" class="pf-affc1278 sc-hMFtBS fDWrTi" data-pf-type="List.Item"><i class="pf-59fafd93 fa fa-check sc-hZSUBg gvECGQ" data-pf-type="Icon"></i><span class="pf-9130308f sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: 700;">Non-inflammatory.&nbsp;</span><br></span></li></ul></div> </div></div></div></div><div data-container="true" class="pf-d47efab5 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-eeff717b pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"></div></div></div><div data-container="true" class="pf-c8aa87af sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-6617c55d pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-ccb37c35 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-28805f66 sc-iELTvK iTCmS" data-pf-type="Block"><h3 mode="view" class="pf-24f01472 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-d20e550a sc-eLExRp iavTDB" data-pf-type="Text">Why Strength Booster?</span></h3><p class="pf-51523317 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-1bf0b6c2 sc-eLExRp iavTDB" data-pf-type="Text"></span></p></div><div class="pf-08183011 pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6" style="padding: 15px;"><div class="pf-099b122e sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-ce73388e sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/strength-booster.png?18381153064343905609"></picture></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--6" style="padding: 15px;"><div class="pf-c802e9d4 sc-eilVRo gnWYnj" data-pf-type="Column"><h2 mode="view" class="pf-257f98c9 sc-gzOgki kmguVM" data-pf-type="Heading"><span class="pf-d65f91f6 sc-eLExRp iavTDB" data-pf-type="Text">More effective than BCAAs alone.&nbsp;</span></h2><p class="pf-e0be9e3e sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-a6118f9f sc-eLExRp iavTDB" data-pf-type="Text">Our strength booster has been crafted for better strength boosting effects. Science shows that BCAAs need the 6 other essential amino acids to have a significant effect on muscle protein synthesis.&nbsp;<div><br></div><div><br><div><br></div></div></span></p></div> </div></div></div> </div></div><div class="pf-af48a2f5 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-07715887 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-d284f5df pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6" style="padding: 15px;"><div class="pf-2774f11f sc-eilVRo gnWYnj" data-pf-type="Column"><h2 mode="view" class="pf-e5144dad sc-gzOgki kmguVM" data-pf-type="Heading"><span class="pf-8e85fc0b sc-eLExRp iavTDB" data-pf-type="Text">Consciously sourced from plants.</span></h2><p class="pf-7e58f5f8 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-6d54c81e sc-eLExRp iavTDB" data-pf-type="Text">We've sourced our amino acids from plants, we care about our environment (and your bodies) and will aim to ensure we always look after both.&nbsp;</span></p></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--3 pf-c-lg--6" style="padding: 15px;"><div class="pf-3daed8eb sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-05e5ab0d sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/dreamstime-s-93107864.jpg?11523091613769840398"></picture></div> </div></div></div> </div></div><div class="pf-6a16d9ab pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--6" style="padding: 15px;"><div class="pf-e7776f19 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-31ec2bf8 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6c4d9253 sc-eilVRo gnWYnj" data-pf-type="Column"><picture class="pf-5534f264 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/dreamstime-s-32664339.jpg?12642497901020862188"></picture></div> </div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6" style="padding: 15px;"><div class="pf-81a79fc8 sc-eilVRo gnWYnj" data-pf-type="Column"><h2 mode="view" class="pf-078ac38a sc-gzOgki kmguVM" data-pf-type="Heading"><span class="pf-f02e1ba7 sc-eLExRp iavTDB" data-pf-type="Text">No added sugar. Naturally sweetened.&nbsp;</span></h2><p class="pf-07cad2ae sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-aa6dbc91 sc-eLExRp iavTDB" data-pf-type="Text">These days sugary drinks are a think of the past but unlike other functional drinks and supplements we use a natural sweetener, Stevia. Most up-to-date research show that artificial sweeteners can mimic sugar and can still cause insulin resistance, so we wanted to avoid that but still satisfy your taste buds.</span></p></div> </div></div></div></div><div data-container="true" class="pf-81c92963 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-385888d8 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6322d720 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-1e8c4a09 sc-iELTvK iTCmS" data-pf-type="Block"><h3 mode="view" class="pf-317e2bb6 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-5c025e23 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">WHY AMINO WATER?</span></span></h3><p class="pf-33129e44 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-8a4f1c90 sc-eLExRp iavTDB" data-pf-type="Text"></span></p></div></div> </div></div><div class="pf-f5a458ec pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-35c3a0b5 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-20b8d53f sc-iELTvK iTCmS" data-pf-type="Block"><picture class="pf-814fbee3 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/dreamstime-s-130175897.jpg?399568580627104177"></picture><div class="pf-013fe18c sc-iELTvK iTCmS" data-pf-type="Block"><div class="pf-5d55e3b1 sc-iELTvK iTCmS" data-pf-type="Block"><div class="pf-6d5b410b sc-iELTvK iTCmS" data-pf-type="Block"><h3 mode="view" class="pf-10e5d9b3 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-0ba734dd sc-eLExRp iavTDB" data-pf-type="Text">GREAT FLAVOUR.</span></h3><p class="pf-4a77447b sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-0270f96e sc-eLExRp iavTDB" data-pf-type="Text">No chalk. No bits. No gagging!</span></p></div></div><p class="pf-39e88c69 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-a167a390 sc-eLExRp iavTDB" data-pf-type="Text">Taste is so important to us! We pride ourselves on being one of the best tasting amino acid formulas on the market. <br><br>With the help of new technology (and one of the best tasters in the business), our amino acids are unlike essential amino acids of the past, which were bitter to taste and not water soluble. We've fixed this to be able to create naturally flavourful drinks.</span></p></div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-b37c6534 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-23779e83 sc-iELTvK iTCmS" data-pf-type="Block"><picture class="pf-701b7b82 sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/lady-drinking-aminowater.png?1603235790500058122"></picture><div class="pf-405a9030 sc-iELTvK iTCmS" data-pf-type="Block"><div class="pf-cd26654a sc-iELTvK iTCmS" data-pf-type="Block"><h3 mode="view" class="pf-c1c03b82 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-68ebb247 sc-eLExRp iavTDB" data-pf-type="Text">Drink with A purpose.</span></h3><p class="pf-dcdd1a59 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-a1ade8de sc-eLExRp iavTDB" data-pf-type="Text">Functional drinking with Amino Acids.</span></p></div><p class="pf-33290172 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-f5b3983a sc-eLExRp iavTDB" data-pf-type="Text">We're are committed to creating drinks that not only taste great but have amazing functional benefits using blends of Amino Acids.&nbsp;<br><br>Amino Acids are not just important for bodybuilders and fitness enthusiasts to optimize muscle growth, restoration, and maintenance. They are also important in increasing overall health in terms of improving the health of tissues and organs, brain health, metabolic function, and every physiological process in our bodies.</span></p></div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--4" style="padding: 15px;"><div class="pf-259329c0 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-16e99ba1 sc-iELTvK iTCmS" data-pf-type="Block"><picture class="pf-c3ac92cb sc-cMhqgX henXsE" data-pf-type="Image"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/lifting-weights.png?16830126034135812684"></picture><div class="pf-15c7cd46 sc-iELTvK iTCmS" data-pf-type="Block"><div class="pf-d82f1b58 sc-iELTvK iTCmS" data-pf-type="Block"><h3 mode="view" class="pf-fd417849 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-c9133a20 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">RESULTS driven.</span></span></h3><p class="pf-90523f3f sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-fb926baf sc-eLExRp iavTDB" data-pf-type="Text">On the journey together.</span></p></div><p class="pf-ac2408cb sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-e293f025 sc-eLExRp iavTDB" data-pf-type="Text">Life's a journey. It never rests, it never quits. It's about overcoming obstacles, accomplishing goals, and recognising achievements. And then it resets to achieve again. As your trusted sports nutrition partner we're passionate about crafting products that deliver you results supporting you as you journey towards your goals.</span></p></div></div></div> </div></div><div class="pf-838be9be pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"></div></div></div><div data-container="true" class="pf-432f00cf sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-3b243f27 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--11" style="padding: 15px;"><div class="pf-4a15ead6 sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-59c766cc sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-72ceecc0 sc-eLExRp iavTDB" data-pf-type="Text">About us</span></h3><p class="pf-6336efe1 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-4e225cfe sc-eLExRp iavTDB" data-pf-type="Text">We're a young British company developing smarter more functional drinks and supplements for active lifestyles!</span></p></div> </div></div><div class="pf-2b2bedbd pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6" style="padding: 15px;"><div class="pf-e25b56df sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-7ca04336 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-30ab4925 sc-eLExRp iavTDB" data-pf-type="Text">WHY AMINO ACIDS</span></h3><p class="pf-c27d41dc sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-8255afaf sc-eLExRp iavTDB" data-pf-type="Text">Amino acids are the building blocks of protein (and life!) so like vitamins and minerals, supplementing with amino acids is a great way to deliver targeted benefits to our bodies by strengthening our natural functions.</span></p></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6" style="padding: 15px;"><div class="pf-557e569b sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-41b70edb sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-5a457dec sc-eLExRp iavTDB" data-pf-type="Text">Conscious choiceS</span></h3><p class="pf-2ed88b04 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-16d9df01 sc-eLExRp iavTDB" data-pf-type="Text">Our love of science means that we're always researching, growing and perfecting what we create. Our desire is to create formulae that provide superior functional effects, enhancing what our bodies do naturally without compromising on the ingredients.&nbsp;&nbsp;</span></p></div> </div></div><div class="pf-984c0bd1 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-122e1d19 sc-eilVRo gnWYnj" data-pf-type="Column"><a class="pf-445afa53 sc-jwKygS dbCSLI" target="_self" data-pf-type="Button"><span class="pf-b4c36c9a sc-eLExRp iavTDB" data-pf-type="Text">Learn more about us</span></a></div> </div></div></div></div><div data-container="true" class="pf-d8a1f667 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-649269f9 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-09ee75df sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-327ca7de sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-91bd3200 sc-eLExRp iavTDB" data-pf-type="Text">DON'T JUST TAKE OUR WORD FOR IT<br></span></h3><p class="pf-c411c6cd sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-9fac2fa6 sc-eLExRp iavTDB" data-pf-type="Text">Amino Water is supporting others’ with their training and recovery.</span></p></div> </div></div><div class="pf-6855c361 pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--7" style="padding: 15px;"><div class="pf-88a9a32a sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-7f11caeb sc-iELTvK iTCmS" data-pf-type="Block"><div class="pf-3fe46abd sc-iELTvK iTCmS" data-pf-type="Block"><picture class="pf-dce0c62d sc-cMhqgX henXsE" data-pf-type="Image" style="border-radius: 100%;"><img src="https://cdn.shopify.com/s/files/1/0075/0718/1657/t/1/assets/gareth-anscombe.png?1413403638283319939"></picture><div class="pf-10314b73 sc-iELTvK iTCmS" data-pf-type="Block"><h3 mode="view" class="pf-89f24001 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-1405a56f sc-eLExRp iavTDB" data-pf-type="Text">Gareth Anscombe</span></h3><h4 mode="view" class="pf-db6f63ea sc-hwwEjo jFsbfn" data-pf-type="Heading"><span class="pf-8bb17ece sc-eLExRp iavTDB" data-pf-type="Text">Welsh national rugby union team&nbsp;</span></h4></div></div><p class="pf-73776598 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-36932596 sc-eLExRp iavTDB" data-pf-type="Text">As a professional athlete it’s important to recover quickly, whether that is after a game or a hard training sessions. I’ve really enjoyed using Amino Water in the gym and after a tough game. The new cloudy lemonade flavour tastes great and the fact that there’s no artificial sweeteners is an added bonus!"</span></p></div></div> </div></div></div></div><div data-container="true" class="pf-26d7d159 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-86ceb5c7 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-e133a90d sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-1b4063b0 sc-bMVAic iMhQVc" data-pf-type="Youtube"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/Um3N9s3GYR8?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay"></iframe></div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-b9a23c9d sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-152205cb sc-bMVAic iMhQVc" data-pf-type="Youtube"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/rJ9SPoybUKQ?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay"></iframe></div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-4b2c2743 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-c7f9e615 sc-bMVAic iMhQVc" data-pf-type="Youtube"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/hxQ4jdgokVY?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay"></iframe></div></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3" style="padding: 15px;"><div class="pf-c27d1a92 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-bfd8b92c sc-bMVAic iMhQVc" data-pf-type="Youtube"><div class="pb-video-wrap " style="padding-bottom: 56.25%;"><iframe src="https://www.youtube.com/embed/4-PW1CNHEQc?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameborder="0" allowfullscreen="" width="100%" height="100%" class="pb-video" allow="autoplay"></iframe></div></div></div> </div></div></div></div><div data-container="true" class="pf-fb7a39df sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-f623fbd6 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6b905b2d sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-beb8d82c sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-04288610 sc-eLExRp iavTDB" data-pf-type="Text"><span style="font-weight: bold;">Questions</span></span></h3></div> </div></div><div class="pf-8bcb26a0 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-e54c89f5 sc-eilVRo gnWYnj" data-pf-type="Column"><div data-multiple="false" class="pf-eec96350 sc-hEsumM ZXrI" data-pf-type="Accordion"><div class="pf-355e04b6 accordion__item sc-ktHwxA aqdXc" data-pf-type="Content.Accordion" data-lock="false"><a id="0368d25f-dc7e-4b54-83da-0960b6776a10" class="accordion__header sc-kafWEX gveJTh" href="#pb-content-0368d25f-dc7e-4b54-83da-0960b6776a10" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS AN AMINO ACID?</a><div class="accordion__content sc-cIShpX gFcXIc" data-id="0368d25f-dc7e-4b54-83da-0960b6776a10" style="display: none;"><p class="pf-3c9e98c3 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-119ffd0c sc-eLExRp iavTDB" data-pf-type="Text">Amino acids are the building blocks of protein.&nbsp;There are 20 different amino acids total. Nine of them are considered ‘essential,’ which means our bodies can’t produce enough of them on its own and we have to get them via food and/or&nbsp;supplements.&nbsp;</span></p></div></div><div class="pf-2dee24f8 accordion__item sc-ktHwxA aqdXc" data-pf-type="Content.Accordion"><a id="ecc63db4-0a4a-4e5f-8a8e-3cf4ea87943e" class="accordion__header sc-kafWEX gveJTh" href="#pb-content-ecc63db4-0a4a-4e5f-8a8e-3cf4ea87943e" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS THE DIFFERENCE BETWEEN PROTEIN AND AMINO ACIDS?</a><div class="accordion__content sc-cIShpX gFcXIc" data-id="ecc63db4-0a4a-4e5f-8a8e-3cf4ea87943e" style="display: none;"><p class="pf-e3cda715 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-ca226a41 sc-eLExRp iavTDB" data-pf-type="Text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span></p></div></div><div class="pf-f9b34f5e accordion__item sc-ktHwxA aqdXc" data-pf-type="Content.Accordion"><a id="65506c86-d58e-429a-8456-f237de5b7a9f" class="accordion__header sc-kafWEX gveJTh" href="#pb-content-65506c86-d58e-429a-8456-f237de5b7a9f" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHAT IS EAA (Essential Amino Acid)?</a><div class="accordion__content sc-cIShpX gFcXIc" data-id="65506c86-d58e-429a-8456-f237de5b7a9f" style="display: none;"><p class="pf-48c451d1 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-ab151583 sc-eLExRp iavTDB" data-pf-type="Text">An essential amino acid (EAA) is an amino acid that cannot be synthesised by your body, and thus must be supplied through our diet.&nbsp;<div><br></div><div>The 8 essential amino acids are phenylalanine, valine, threonine, tryptophan, methionine, leucine, isoleucine and lysine. Branched-chain amino acids (BCAAs) are a group of three essential amino acids: leucine, isoleucine and valine.</div></span></p></div></div><div class="pf-b02ffd65 accordion__item sc-ktHwxA aqdXc" data-pf-type="Content.Accordion"><a id="61b44a3c-3b4b-4aad-a9a9-81e891fe9a65" class="accordion__header sc-kafWEX gveJTh" href="#pb-content-61b44a3c-3b4b-4aad-a9a9-81e891fe9a65" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHY ARE AMINO ACIDS IMPORTANT?</a><div class="accordion__content sc-cIShpX gFcXIc" data-id="61b44a3c-3b4b-4aad-a9a9-81e891fe9a65" style="display: none;"><p class="pf-658eed24 sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-4d45a560 sc-eLExRp iavTDB" data-pf-type="Text">Physical activity increases protein turnover in the muscles. Very hard exercise also causes an increase of muscle breakdown and because of this the muscles need to be “repaired”. Therefore, it´s important to get protein when exercising&nbsp;</span></p></div></div><div class="pf-c1b24f4e accordion__item sc-ktHwxA aqdXc" data-pf-type="Content.Accordion"><a id="df49b00c-27ff-49e8-841b-03d4872b6a9a" class="accordion__header sc-kafWEX gveJTh" href="#pb-content-df49b00c-27ff-49e8-841b-03d4872b6a9a" data-action="accordion" data-preopen="false" data-active="false"><i class="accordion__arrow fa fa-caret-right"></i>WHEN SHOULD I DRINK AMINO WATER?</a><div class="accordion__content sc-cIShpX gFcXIc" data-id="df49b00c-27ff-49e8-841b-03d4872b6a9a" style="display: none;"></div></div></div></div> </div></div><div class="pf-9e51c6c0 pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-922ee0c0 sc-eilVRo gnWYnj" data-pf-type="Column"><a class="pf-f1b21bb4 sc-jwKygS dbCSLI" target="_self" data-pf-type="Button"><span class="pf-8a726827 sc-eLExRp iavTDB" data-pf-type="Text">View all FAQ's</span></a></div> </div></div></div></div><div data-container="true" class="pf-896d7189 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-a83a9a16 pf-r pf-r-align--cm pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-00c38fd9 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-03479a0c pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-71b09225 sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-b9c466c4 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-e2e0526c sc-eLExRp iavTDB" data-pf-type="Text">You may also like...<br></span></h3></div> </div></div><div class="pf-069205bd pf-r pf-r-ew pf-r-ew--4 sc-ipZHIp hRgHlk" data-pf-type="Shopify.Products">{% for product in collections['frontpage'].products  limit:4 %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a class="product__thumbnail" href="{{ product.url }}" style="height: 200px; width: 100%;">{% if product.featured_image != blank %}<img src="{{ product.featured_image | img_url: '270x200', crop: 'center' , scale: 2 }}" alt="{{ product.featured_image.alt | escape }}" width="270" height="200">{% else %}<img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270">{% endif %}</a><div class="product__info"><h3 class="product__info-title"><a href="{{ product.url }}" style="display: block;">{{product.title}}</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;">{%- assign compare_at_price = product.compare_at_price -%}
								{%- assign price = product.price -%}
								{%- assign price_varies = product.price_varies -%}
								{%- assign money_price = price | money -%}{% if compare_at_price > price %}<span class="product__regular-price">{{ money_price }}</span><s class="product__sale-price" style="color: rgb(54, 54, 54);">{{ compare_at_price | money }}</s>{% else %}{% if price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}<span class="product__regular-price" style="color: rgb(208, 2, 27);">{{ money_price }}</span>{% endif %}{% endif %}</div><div class="product__button">{% if product.available %}{% if product.variants.size == 1 %}<a class="product__button" href="#" data-action="AddToCart" data-text="Add To Cart"><span data-variant="{{ product.variants.first.id }}">Add To Cart</span></a>{% else %}<a href="{{ product.url }}" class="product__button"><span>View Options</span></a>{% endif %}{% else %}<a href="javascript:void(0);" aria-disabled="true" class="product__button"><span>{{ 'pagefly.products.product.sold_out' | t }}</span></a>{% endif %}</div></div></div></div>{% else %}{% for i in (1..4) %}<div class="pf-c"><div class="pf__shopify-product shopify__product-vertical"><a href="javascript:void(0);" class="product__thumbnail" style="height: 200px; width: 100%;"><img src="https://apps.pagefly.io/static/media/Product.8ea9e282.svg" class="pf-placeholder-svg" width="270"></a><div class="product__info"><h3 class="product__info-title"><a href="javascript:void(0);" style="display: block;">Example product title</a></h3><div class="product__info-price" style="color: rgb(208, 2, 27); font-size: 13px;"><span class="product__regular-price">$99.00</span></div><div class="product__button"><a href="javascript:void(0);" class="product__button">Add To Cart</a></div></div></div></div>{% endfor %}{% endfor %}</div></div> </div></div></div></div><div data-container="true" class="pf-ecdfd288 sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-3279521c pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-765a5442 sc-eilVRo gnWYnj" data-pf-type="Column"><h3 mode="view" class="pf-a1cbc794 sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-6fbcaf9c sc-eLExRp iavTDB" data-pf-type="Text">Follow us on Instagram <br><a href="http://https://www.instagram.com/drinkaminowater/" target="_self">@drinkaminowater</a></span></h3></div> </div></div><div class="pf-ca34402b pf-r pf-r-eh sc-emmjRN uYUJA" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-2e548fa0 sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-bfa27b82 pf-instagram pf-r pf-r-ew--5 sc-gHboQg kBVtwI" data-token="4575588791.1677ed0.549048b0a28143b39ae1bdf847cfd4cb" data-limit="10" data-pf-type="Instagram" style="margin: 0px;"><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div><div class="pf-c" style="padding: 0px;"><a href="" target="_blank"><img src=""></a></div></div></div> </div></div></div></div><div data-container="true" class="pf-84327444 pf-lg--hidden pf-md--hidden pf-sm--hidden pf-xs--hidden sc-gFaPwZ iaugJP" data-pf-type="Section"><div class="sc-dymIpo VbubN" style="background-color: rgba(155, 155, 155, 0.7);"></div><div class="sc-bnXvFD iypPKo" style="max-width: 1170px;"><div class="pf-2b9a1f0d pf-r pf-r-eh sc-emmjRN jmWnGs" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div class="pf-e715cceb sc-eilVRo gnWYnj" data-pf-type="Column"><div class="pf-42432179 sc-iELTvK iTCmS" data-pf-type="Block"><h3 mode="view" class="pf-48b4ee7d sc-dfVpRl jZLkYw" data-pf-type="Heading"><span class="pf-43337c59 sc-eLExRp iavTDB" data-pf-type="Text">Get a free sample</span></h3><p class="pf-caf9373c sc-bAeIUo fRnTAR" data-pf-type="Paragraph"><span class="pf-88ed9e45 sc-eLExRp iavTDB" data-pf-type="Text">Join our mailing list with 10k+ others.</span></p></div></div> </div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div class="pf-d78ee17b sc-eilVRo gnWYnj" data-pf-type="Column"><form class="pf-adf94a5b sc-fhYwyz hvTSFY" target="_blank" action="" mode="view" method="POST" data-pf-type="MailChimp"><div><input type="text" placeholder="Enter your email" name="EMAIL" required=""><button><span>Yes, I want my free sample</span></button></div></form></div> </div></div></div></div></div></div></div><script>
					window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({});
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false};
					0;
				</script><script src="https://cdn.pagefly.io/pagefly/2.0.2/core/helper.js?t=2019-03-13-11" defer></script>
    